<dl-navbar></dl-navbar>

<div class="about-page">
    <a name="about"></a>
    <div class="intro-header intro-section">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Selling online, simplified.</h1>
                        <h3>You are 5 minutes away from selling your products online.</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

    <a href name="about"></a>
    <div class="content-section-b what-is-dealers">

        <div class="container">
            <div class="row text-center">
                <h3>
                    Dealers is a platform for small and medium-size businesses that
                    wish to sell their products online without the complexity of building and maintaining an
                    online store.
                </h3>
            </div>

        </div>
        <!-- /.container -->

    </div>

    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Upload your products<br>and reach more customers.</h2>
                    <p class="lead">Expand your customer base by enabling people to order your products from the
                        web.<br>Just upload the product's information, and when people place orders, you send it to
                        them. We will transfer you the money when they receive it.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="/assets/images/images/About_Image_1_v2.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Turn your Facebook page<br>into a shopping space.</h2>
                    <p class="lead">Add beautiful links to your products on your Facebook page or private profile,
                        so people could not only find out about you on the social network, but actually buy from
                        you.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="/assets/images/images/About_Image_2_v2.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">We get payed only when you get paid.</h2>
                    <p class="lead">The nice thing about Dealers is that you pay us only after we help you get paid. We
                        get 10% for each sale you make - 5% for the credit company and 5% for us. All the rest is
                        free.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="/assets/images/images/About_Image_3.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">We are here for anything you need.</h2>
                    <p class="lead">Our mission is to help more people expand their income by selling goods online, and
                        we are determine to help you in every step of the way. Feel free to <a
                                href="mailto:support@dealers-app.com">contact us</a> if you have any
                        question, problem or feedback.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="img/dog.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="text-center">
                    <h2>Become a dealer</h2>
                </div>
                <div>
                    <md-button class="btn-primary btn-white md-raised btn-single" register-as-dealer>Start now</md-button>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <footer-section></footer-section>
</div>