<div class="intro-section home-background nav-margin-exact text-center">
    <div>
        <h1 class="dg-title">
            Start selling your products online in 5 minutes <br> Seriously.
        </h1>
        <h4>
            Want to expand your sales via the web? Let us help you.
        </h4>
        <ul>
            <li>
                <md-button href="/about" class="md-btn-small" style="color: white">
                    Learn more
                </md-button>
            </li>
            <li>
                <md-button href class="btn-primary btn-white md-raised" register-as-dealer>
                    Start Now
                </md-button>
            </li>
        </ul>
    </div>
</div> 