<dl-navbar></dl-navbar>

<div class="container nav-padding margin-bottom-20">
    <div class="info-content">
        <div class="margin-bottom-40">
            <h2 class="section-heading">
                How it works, step by step
            </h2>
            <p class="margin-bottom-40 text-muted">
                Not sure how exactly Dealers works from start to finish? Here's a full guide. If you have any other
                question, don't hesitate -
                <a href="mailto:support@dealers-app.com">ask us</a>!
            </p>
        </div>
        <div class="margin-bottom-40">
            <div class="step-by-step-header">
                <div class="colorful-ordered-list blue">1</div>
                <h4>
                    Sign up and provide your or your business info.
                </h4>
            </div>
            <p>
                This includes details like a photo of you or your business, your name, and your bank account info.
            </p>
        </div>
        <div class="margin-bottom-40">
            <div class="step-by-step-header">
                <div class="colorful-ordered-list green">2</div>
                <h4>
                    Your in! Time to add some products
                </h4>
            </div>
            <p>
                Once your signed in as a dealer you'll see a <i>plus</i> icon in the navigation bar. That's how you
                upload a new product.
            </p>
        </div>
        <div class="margin-bottom-40">
            <div class="step-by-step-header">
                <div class="colorful-ordered-list yellow">3</div>
                <h4>
                    Spread the word
                </h4>
            </div>
            <p>
                Once you uploaded a new product, you can share it in your Facebook account, whether it's your
                private profile or business page. When your customers click the link, they will be directed straight
                to
                the product's page in Dealers, one step before purchase.
            </p>
        </div>
        <div class="margin-bottom-40">
            <div class="step-by-step-header">
                <div class="colorful-ordered-list red">4</div>
                <h4>
                    Receive orders
                </h4>
            </div>
            <p>
                Now that you have beautiful links directing customers from your Facebook page to your Dealers
                product
                page, you can start receiving orders online. Whenever a customer purchases one of your products,
                you'll
                be notified by email.
            </p>
        </div>
        <div class="margin-bottom-40">
            <div class="step-by-step-header">
                <div class="colorful-ordered-list brown">5</div>
                <h4>
                    Track your sales in your profile
                </h4>
            </div>
            <p>
                All the sales you made will be listed in your Dealers profile, under the <i>sales</i> tab. There you
                will see all the information regarding each one of the purchases, including quantity, shipping
                address,
                and preferred shipping method.
            </p>
        </div>
        <div class="margin-bottom-40">
            <div class="step-by-step-header">
                <div class="colorful-ordered-list pink">6</div>
                <h4>
                    Send your products to your customers
                </h4>
            </div>
            <p>
                All that left to be done is send your products. Go over each sale and send the right package
                according to
                the customer's preferences. Regarding the shipment company, these are our recommendations:
            </p>
            <ul>
                <li><a href="http://www.zig-zag.co.il/" target="_blank">Zig-Zag</a></li>
                <li><a href="http://www.ratzcatzvi.co.il/" target="_blank">Ratz Catzvi</a> ("רץ כצבי")</li>
                <li><a href="http://www.israelpost.co.il/content.nsf/pages/messenger3?OpenDocument" target="_blank">Israel
                    Postal Company</a> (דואר ישראל)
                </li>
            </ul>
            <p>
                After you send it, you can update the status of the purchase to notify the customer that the product
                is on its way.
            </p>
        </div>
        <div class="margin-bottom-40">
            <div class="step-by-step-header">
                <div class="colorful-ordered-list blue">7</div>
                <h4>
                    Receiving your sales income
                </h4>
            </div>
            <p>
                At the end of each month, you receive the total income of all the <i>done</i> sales you made. A sale
                is
                considered done when one of the following occurs:
            </p>
            <ol>
                <li>The customer changed the status of the purchase to <i>Received</i></li>
                <li>Three weeks have passed since the purchase took place</li>
            </ol>
        </div>
        <h4 class="text-muted">
            That's it! We're always happy to help with further questions you might have. <a
                href="mailto:support@dealers-app.com">Send
            us an email</a> for more information.
        </h4>
    </div>
</div>

<footer-section></footer-section>