<dl-navbar></dl-navbar>

<div class="container nav-padding ap-container" ng-cloak>
    <form name="moreDetailsForm" class="dl-form framed-container ap-form-container" ng-submit="submit(moreDetailsForm, $event)" novalidate>
        <h2>Some More Details...</h2>
        <div class="dl-form-col pull-left">
            <div class="dl-field">
                <img ng-src="../../../../assets/images/icons/@2x/Web_Icons_price_icon.png"/>
                <input id="ap-price" name="price" type="number" placeholder="Price (required)" class="form-control dl-input"
                       ng-model="product.price"
                       required/>
                <div class="ap-dropdown-menu">
                    <md-menu>
                        <md-button class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
                            <md-icon>{{currency}}</md-icon>
                        </md-button>
                        <md-menu-content width="2">
                            <md-menu-item>
                                <md-button ng-click="shekel($event)">
                                    <md-icon>₪</md-icon>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="dollar($event)">
                                    <md-icon>$</md-icon>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="euro($event)">
                                    <md-icon>€</md-icon>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
            </div>
        </div>
        <div class="dl-form-col pull-right">
            <div class="dl-field">
                <img ng-src="../../../../assets/images/icons/@2x/Web_Icons_discount_icon.png"/>
                <input id="ap-discount" name="discount" type="number" placeholder="Discount" class="form-control dl-input"
                       ng-class="{previousPrice: discountType == '123'}" ng-model="product.discount_value"/>
                <div class="ap-dropdown-menu">
                    <md-menu>
                        <md-button class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
                            <md-icon ng-class="{previousPrice: discountType == '123'}">{{discountType}}</md-icon>
                        </md-button>
                        <md-menu-content width="2">
                            <md-menu-item>
                                <md-button ng-click="percentage($event)">
                                    <md-icon>%</md-icon>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="prevPrice($event)">
                                    <md-icon class="previousPrice">123</md-icon>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
            </div>
        </div>
        <div class="dl-form-full">
            <div class="dl-field">
                <img ng-src="../../../../assets/images/icons/@2x/Web_Icons_category_icon.png"/>
                <md-select name="category" class="dl-input form-control" ng-model="product.category" placeholder="Category (required)">
                    <md-option ng-repeat="category in categories" value="{{category}}">
                        {{category}}
                    </md-option>
                </md-select>
            </div>
            <div class="dl-field">
                <img ng-src="../../../../assets/images/icons/@2x/Web_Icons_expiration_date_icon.png"/>
                <md-datepicker name="expirationDate" class="dl-input form-control no-padding" ng-model="product.expiration" md-min-date="minDate" md-placeholder="Expiration date">
                </md-datepicker>
            </div>
            <div class="dl-field">
                <img ng-src="../../../../assets/images/icons/@2x/Web_Icons_more_icon.png"/>
                <textarea id="ap-more" name="more" placeholder="Tell us more about this product..." class="dl-input form-control"
                          ng-model="product.more_description">
                </textarea>
            </div>
        </div>
        <md-button type="submit" class="btn-primary btn-single md-raised dl-submit">Upload the Product!</md-button>
    </form>
</div>    <!-- container -->