<dl-navbar></dl-navbar>

<div class="container nav-margin" ng-cloak>
    <div class="framed-container text-center">
        <h2>Your product uploaded Successfully!</h2>
        <img class="ap-success-icon" ng-src="/assets/images/icons/@2x/Web_Icons_success_icon.png">
        <h4>Time to spread the word...</h4>
        <div class="ap-share-options-container">
            <md-button class="facebook" share-button>Share with Facebook</md-button>
        </div>
        <md-button class="btn-secondary ap-done" ng-click="done()">Done</md-button>
    </div>
</div>