<section class="col-lg-4 col-md-6 col-sm-6">
	<div class="deal">
		<div class="imageContainer">
			<img class="dealImage" src="assets/images/sample/Otentik_big.jpg" />                                                            
		</div>
		<div class="dealInfoBar">
			<div class="priceContainer">
				<span class="price" style="display:hidden">25$</span> <span class="discount">25%</span>
			</div>
			<h4 class="dealTitle">
				Great deal at laline, should definitely go check it out :) No no this is authentic !!!
			</h4>
			<div class="storeContainer">
				<p class="dealInfo store">
					<img class="infoIcon" src="assets/images/Icons/Web_Icons_my_feed_local_icon.png"/>
					Castro Renanim
				</p>
			</div>
			<div class="likesContainer">
				<p class="dealInfo likes"> 
					<img class="infoIcon" src="assets/images/Icons/Web_Icons_my_feed_like_icon.png"/>
					2 likes
				</p>
			</div>
		</div>
	</div>
</section>