<dl-navbar></dl-navbar>

<div class="container nav-margin">
    <div class="dl-form framed-container ap-form-container" ng-switch on="status">

        <h2 translate>views.edit-product.title</h2>

        <div ng-switch-when="loading">
            <loading-spinner></loading-spinner>
        </div>
        <div ng-switch-when="failed">
            <h1 class="dl-download-error">{{errorMessage}} <br> {{errorPrompt}} </h1>
        </div>
        <div ng-switch-when="downloaded">
            <form name="editProductForm" ng-submit="submitEdit(editProductForm)" class="ap-title-container" novalidate>
                <div class="dl-form-col single-col">
                    <div class="dl-field no-icon-field form-group">
                        <label for="ap-title" translate>
                            general.title
                        </label>
                        <input id="ap-title" name="name" type="text"
                               placeholder="{{'views.add-product.title-placeholder' | translate}}"
                               class="form-control dl-input"
                               value="dealer.full_name"
                               ng-model="product.title"
                               required
                        />
                    </div>
                    <div class="dl-field-plus no-margin">
                        <div class="dl-field no-icon-field form-group">
                            <label for="ap-description" translate>
                                general.description
                            </label>
                            <textarea id="ap-description" name="ap-description"
                                      placeholder=""
                                      class="dl-input form-control"
                                      ng-model="product.more_description">
                                </textarea>
                        </div>
                    </div>
                    <h4 translate>general.images</h4>
                    <div class="dl-form-col single-col ap-image-section text-center"
                         file-dropzone="[image/png, image/jpeg, image/gif]"
                         photos="photos" photos-urls="photosURLs" show-alert="showAlert()" data-max-file-size="3">
                        <div class="dropzone text-center" ng-hide="photos.length > 0">
                            <p class="non-mobile">{{"views.add-product.drop-image" | translate}} <br/> {{"general.or" | translate}} </p>
                            <div class="inputfile-container" ng-hide="photos.length > 0">
                                <input id="inputButton" name="inputButton" type="file" class="inputfile"
                                       accept="image/*"
                                       photos-input photos="photos" photos-urls="photosURLs"
                                       show-alert="showAlert()"/>
                                <label for="inputButton" class="md-button btn-white btn-secondary btn-md" translate>
                                    views.add-product.add-photo
                                </label>
                            </div>
                        </div>

                        <div class="ap-photos-thumbnails" ng-show="photos.length > 0">
                            <ul class="clearfix">
                                <li id="0-photo">
                                    <div class="ap-input-button clickable" ng-click="selectPhoto(0); $event.stopPropagation();" ng-hide="photosURLs[0]">
                                        <input id="inputButtonThumbnail0" name="inputButton" type="file"
                                               class="inputfile"
                                               accept="image/*" photos-input photos="photos"
                                               photos-urls="photosURLs" show-alert="showAlert()"/>
                                        <label for="inputButtonThumbnail0" class="ap-thumbnail">
                                            <img src="../../../../../assets/images/icons/@2x/Web_Icons_camera_icon.png"/>
                                        </label>
                                    </div>
                                    <div class="ap-thumbnail clickable" ng-click="selectPhoto(0); $event.stopPropagation();"
                                         ng-show="photosURLs[0]">
                                        <img ng-src="{{photosURLs[0]}}" ng-show="photosURLs[0]"/>
                                    </div>
                                    <div class="ap-thumbnail-remove thumbnail-remove"
                                         ng-click="removePhoto($event)"
                                         ng-show="photosURLs[0]">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </div>
                                </li>
                                <li id="1-photo">
                                    <div class="ap-input-button clickable" ng-hide="photosURLs[1]">
                                        <input id="inputButtonThumbnail1" name="inputButton" type="file"
                                               class="inputfile"
                                               accept="image/*" photos-input photos="photos"
                                               photos-urls="photosURLs" show-alert="showAlert()"/>
                                        <label for="inputButtonThumbnail1" class="ap-thumbnail">
                                            <img src="../../../../../assets/images/icons/@2x/Web_Icons_camera_icon.png"/>
                                        </label>
                                    </div>
                                    <div class="ap-thumbnail clickable" ng-click="selectPhoto(1); $event.stopPropagation();"
                                         ng-show="photosURLs[1]">
                                        <img ng-src="{{photosURLs[1]}}" ng-show="photosURLs[1]"/>
                                    </div>
                                    <div class="ap-thumbnail-remove thumbnail-remove"
                                         ng-click="removePhoto($event)"
                                         ng-show="photosURLs[1]">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </div>
                                </li>
                                <li id="2-photo">
                                    <div class="ap-input-button clickable" ng-hide="photosURLs[2]">
                                        <input id="inputButtonThumbnail2" name="inputButton" type="file"
                                               class="inputfile"
                                               accept="image/*" photos-input photos="photos"
                                               photos-urls="photosURLs" show-alert="showAlert()"/>
                                        <label for="inputButtonThumbnail2" class="ap-thumbnail">
                                            <img src="../../../../../assets/images/icons/@2x/Web_Icons_camera_icon.png"/>
                                        </label>
                                    </div>
                                    <div class="ap-thumbnail clickable" ng-click="selectPhoto(2); $event.stopPropagation();"
                                         ng-show="photosURLs[2]">
                                        <img ng-src="{{photosURLs[2]}}" ng-show="photosURLs[2]"/>
                                    </div>
                                    <div class="ap-thumbnail-remove thumbnail-remove"
                                         ng-click="removePhoto($event)"
                                         ng-show="photosURLs[2]">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </div>
                                </li>
                                <li id="3-photo">
                                    <div class="ap-input-button clickable" ng-hide="photosURLs[3]">
                                        <input id="inputButtonThumbnail3" name="inputButton" type="file"
                                               class="inputfile"
                                               accept="image/*" photos-input photos="photos"
                                               photos-urls="photosURLs" show-alert="showAlert()"/>
                                        <label for="inputButtonThumbnail3" class="ap-thumbnail">
                                            <img src="../../../../../assets/images/icons/@2x/Web_Icons_camera_icon.png"/>
                                        </label>
                                    </div>
                                    <div class="ap-thumbnail clickable" ng-click="selectPhoto(3); $event.stopPropagation();"
                                         ng-show="photosURLs[3]">
                                        <img ng-src="{{photosURLs[3]}}" ng-show="photosURLs[3]"/>
                                    </div>
                                    <div class="ap-thumbnail-remove thumbnail-remove"
                                         ng-click="removePhoto($event)"
                                         ng-show="photosURLs[3]">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </div>
                                </li>
                            </ul>
                        </div>  <!-- ap-photos-thumbnails -->

                        <div class="ap-image-container text-center" ng-show="photosURLs.length > 0">
                            <div id="photosCarousel" class="carousel slide" data-interval="false">
                                <div class="carousel-inner">
                                    <carousel-item ng-repeat="photoURL in photosURLs track by $index"
                                                   photo-url="photoURL"></carousel-item>
                                </div>
                                <div ng-show="photosURLs.length > 1" ng-click="nextPhoto($event)"
                                     class="carousel-controller">
                                    <a
                                            class="left carousel-control"
                                            target="_self"
                                            role="button"
                                            ng-non-bindable
                                            data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                    </a>
                                    <a
                                            class="right carousel-control"
                                            target="_self"
                                            role="button"
                                            ng-non-bindable
                                            data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </a>
                                </div>
                            </div>
                        </div> <!-- ap-image-container -->

                    </div>    <!-- ap-image-section -->
                    <div class="ap-price-and-discount-container margin-bottom-30">
                        <div class="ap-price-and-discount" layout="column" layout-gt-xs="row">
                            <div class="dl-field no-icon-field form-group ap-current-price" flex
                                 flex-gt-xs="33">
                                <label for="ap-current-price" translate>
                                    views.add-product.current-price
                                </label>
                                <input id="ap-current-price" name="ap-current-price" type="number"
                                       placeholder="{{'general.required' | translate}}"
                                       step="0.01"
                                       ng-value="product.price"
                                       ng-blur="formatPrice($event)"
                                       class="form-control dl-input no-margin"
                                       ng-model="product.price"
                                       ng-change="changePrice($event)"
                                       required
                                       product-price
                                />
                                <md-menu>
                                    <md-button class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)"
                                               style="margin-left: -12px">
                                        <md-icon class="md-18">{{product.currency}}</md-icon>
                                        <span class="caret"></span>
                                    </md-button>
                                    <md-menu-content width="2">
                                        <md-menu-item>
                                            <md-button ng-click="product.currency = '₪'">
                                                <md-icon class="md-18">₪</md-icon>
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item>
                                            <md-button ng-click="product.currency = '$'">
                                                <md-icon class="md-18">$</md-icon>
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item>
                                            <md-button ng-click="product.currency = '€'">
                                                <md-icon class="md-18">€</md-icon>
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                                <!--<div class="ap-dropdown-menu">-->
                                <!--</div>-->
                            </div>
                            <div layout="row" flex flex-gt-xs="66">
                                <div class="dl-field no-icon-field form-group ap-percentage-off" flex="50">
                                    <label for="ap-percentage-off" translate>
                                        views.add-product.percentage-off
                                    </label>
                                    <input id="ap-percentage-off" name="ap-percentage-off" type="number"
                                           class="form-control dl-input no-margin"
                                           ng-value="product.percentage_off"
                                           ng-model="product.percentage_off"
                                           ng-change="changePercentageOff($event)"
                                           max="100"
                                           product-percentage-off
                                    />
                                    <md-checkbox ng-model="presentPercentageOff" ng-change="changePresentPercentageOff($event)" aria-label="Checkbox 1"
                                                 class="dl-note">
                                        {{"general.show" | translate}}
                                    </md-checkbox>
                                </div>
                                <div class="dl-field no-icon-field form-group ap-original-price" flex="50">
                                    <label for="ap-original-price" translate>
                                        views.add-product.original-price
                                    </label>
                                    <input id="ap-original-price" name="ap-original-price" type="number"
                                           class="form-control dl-input no-margin"
                                           ng-value="product.original_price"
                                           ng-model="product.original_price"
                                           ng-change="changeOriginalPrice($event)"
                                           product-price
                                    />
                                    <md-checkbox ng-model="presentOriginalPrice" ng-change="changePresentOriginalPrice($event)" aria-label="Checkbox 1"
                                                 class="dl-note">
                                        {{"general.show" | translate}}
                                    </md-checkbox>
                                </div>
                            </div>
                        </div>
                        <div id="pricePresentation" class="vd-price-discount no-margin text-center">
                            <div class="vd-price-discount-presentation">
                                <span class="dl-note info-note" style="margin-right: 8px;"> {{'general.preview' | translate}}: </span>
                                <span ng-show="product.price > 0" class="price">{{product.price | currency:product.currency}}</span>
                                <span ng-hide="product.price > 0" class="price">{{product.currency}}0.00</span>
                                <span ng-show="(product.percentage_off > 0 && product.percentage_off <= 100) && presentPercentageOff"
                                      class="percentage-off">{{product.percentage_off}}% {{'general.off' | translate}}</span>
                                <span ng-show="presentOriginalPrice"
                                      class="original-price">{{product.original_price | currency:product.currency}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="dl-field no-icon-field form-group">
                        <label for="ap-category" translate>
                            general.category
                        </label>
                        <md-select id="ap-category" name="ap-category" class="dl-input form-control"
                                   ng-model="product.category"
                                   placeholder="{{'views.add-product.categories-placeholder' | translate}}">
                            <md-option ng-repeat="category in categories" value="{{category}}">
                                {{category}}
                            </md-option>
                        </md-select>
                    </div>

                    <hr>

                    <div class="ap-section">
                        <inventory-edit></inventory-edit>
                    </div>

                    <hr>

                    <div class="ap-variants ap-section">
                        <h3 translate>views.add-product.variants-title</h3>
                        <p class="dl-note margin-bottom" translate>
                            views.add-product.variants-tip
                        </p>
                        <div class="ap-variants-container" layout="column">
                            <div class="dl-field no-margin" flex layout="row"
                                 ng-repeat="variant in variants track by $index">
                                <div class="dl-field no-icon-field form-group no-margin" flex="30"
                                     style="padding-right: 5px;">
                                    <label for="ap-variant-{{$index}}" ng-show="$index == 0">
                                        <span class="non-mobile" translate>views.add-product.variants-option </span>
                                        {{"views.add-product.variants-name" | translate}}
                                    </label>
                                    <input id="ap-variant-{{$index}}" name="ap-variant-{{$index}}" type="text"
                                           class="form-control dl-input no-margin"
                                           placeholder="{{translations.placeholderNames[$index]}}"
                                           ng-model="variants[$index].name"
                                    />
                                </div>
                                <div class="dl-field no-icon-field form-group ap-current-price" flex
                                     style="padding-left: 5px;">
                                    <label for="ap-option-{{$index}}" ng-show="$index == 0">
                                        <span class="non-mobile" translate>views.add-product.variants-option </span>
                                        {{"views.add-product.variants-values" | translate}}
                                    </label>
                                    <md-chips id="ap-option-{{$index}}" name="ap-option-{{$index}}"
                                              class="form-control dl-input chips-input no-margin"
                                              ng-model="variants[$index].options"
                                              md-separator-keys="keys"
                                              placeholder="{{translations.placeholderOptions[$index]}}"
                                              secondary-placeholder="">
                                    </md-chips>
                                </div>
                                <div style="display: inline-block" flex="none">
                                    <md-button class="md-icon-button ap-remove-variant"
                                               ng-class="{'first-remove-button': $index == 0}"
                                               ng-click="removeVariant($index, $event)">
                                        <i class="material-icons light-gray">delete</i>
                                    </md-button>
                                </div>
                            </div>
                        </div>
                        <md-button ng-show="getVariantsLength()  < maxVariants" ng-click="addVariant($event)"
                                   class="btn-secondary">
                            {{"views.add-product.variants-add-variant" | translate}}
                        </md-button>
                        <div class="ap-variants-price">

                        </div>
                    </div>

                    <hr>

                    <div class="ap-section">
                        <shipping-methods></shipping-methods>
                    </div>
                </div>
                <md-button type="submit" class="btn-primary btn-single dl-submit">{{"general.save" | translate}}</md-button>
                <div class="text-center">
                    <md-button ng-click="deleteProduct($event)" class="md-btn-small">{{"views.view-deal.delete" | translate}}</md-button>
                </div>
            </form>
        </div> <!-- the entire form -->

    </div>    <!-- ep-form-container -->
</div>    <!-- container -->

<footer-section></footer-section>