<div class="container" ng-cloak>
    <h1 ng-show="title" class="dg-title">
        {{title | htmlEscape}}
    </h1>
    <h3 ng-show="description" class="dg-description">
        {{description}}
    </h3>
    <div ng-switch on="status">
        <div ng-switch-when="loading" class="dl-fade">
            <loading-spinner></loading-spinner>
        </div>
        <div ng-switch-when="failed" class="fade">
            <div style="padding: 0 20px">
                <h1 class="dg-download-message">{{message}} <br> {{errorPrompt}} </h1>
            </div>
        </div>
        <div scroll-detector ng-switch-when="downloaded" class="dl-fade margin-bottom-40">
            <div style="padding: 0 20px">
                <h1 class="dg-download-message" ng-show="message">
                    {{message}}
                </h1>
            </div>
            <md-content class="dl-grid" layout="row" layout-xs="column" layout-wrap>
                <div flex-sm="50" flex-gt-sm="33" layout="column" ng-repeat="productsChunk in products">
                    <dl-product ng-repeat="product in productsChunk" product="product"></dl-product>
                </div>
            </md-content>
            <div ng-show="update.loadingMore" class="dl-fade dg-loading-more">
                <loading-spinner size="small"></loading-spinner>
            </div>
            <div ng-show="!scrollDetector && update.nextPage && !update.loadingMore" class="load-more-container">
                <md-button class="md-raised" ng-click="getProducts(update.nextPage)" style="background: white">
                    Load More
                </md-button>
            </div>
        </div>
    </div>
</div>