<div class="ap-shipping-methods">
    <h3 translate>views.shipping-methods.shipping-title</h3>
    <p class="dl-note margin-bottom" translate>
        views.shipping-methods.shipping-tip
    </p>
    <div class="ap-shipping-methods-container" layout="column">
        <ul>
            <li class="ap-shipping-dealers" layout="column" layout-gt-xs="row">
                <div class="ap-shipping-controller" flex-gt-xs="35">
                    <md-checkbox ng-model="shipping_methods.dealers.selected"
                                 aria-label="Checkbox 1"
                                 ng-class="{'selected': shipping_methods.dealers.selected}">
                        {{"views.shipping-methods.dealers-shipping" | translate}}
                    </md-checkbox>
                    <md-button class="md-icon-button align-middle no-margin md-21"
                               ng-click="presentDealersInfo = !presentDealersInfo">
                        <i class="material-icons "
                           ng-class="{  'theme-color': presentDealersInfo,
                                                                    'light-gray': !presentDealersInfo}">
                            info_outline
                        </i>
                    </md-button>
                    <p class="dl-note dl-danger animate-height"
                       ng-class="{'dl-show': shipping_methods.dealers.shipping_price != DEALERS_SHIPPING_PRICE
                                                   && shipping_methods.dealers.selected}">
                        {{"views.shipping-methods.dealers-warning-1" | translate}}
                        {{product.currency}}{{DEALERS_SHIPPING_PRICE}}
                        {{"views.shipping-methods.dealers-warning-2" | translate}}
                    </p>
                    <p class="dl-note text-muted animate-height"
                       ng-class="{'dl-show': presentDealersInfo}">
                        {{"views.shipping-methods.dealers-tip-1" | translate}}<br><br>
                        <b>{{"views.shipping-methods.dealers-tip-2" | translate}}</b>
                        {{"views.shipping-methods.dealers-tip-3" | translate}}
                    </p>
                </div>
                <div class="shipping_options animate-height"
                     ng-class="{'dl-show': shipping_methods.dealers.selected}"
                     flex flex-gt-xs="65">
                    <div class="dl-field no-icon-field form-group">
                        <label for="dealers-shipping-title" translate>
                            general.title
                        </label>
                        <input id="dealers-shipping-title" name="dealers-shipping-title"
                               type="text"
                               class="form-control dl-input no-margin"
                               ng-model="shipping_methods.dealers.title"
                               disabled
                        />
                    </div>
                    <div class="dl-field no-icon-field form-group">
                        <label for="dealers-shipping-price" translate>
                            views.shipping-methods.shipping-price
                        </label>
                        <input id="dealers-shipping-price" name="dealers-shipping-price"
                               type="number"
                               min="0"
                               class="form-control dl-input no-margin"
                               placeholder="{{'views.shipping-methods.shipping-price-placeholder' | translate}}"
                               ng-model="shipping_methods.dealers.shipping_price"
                               required
                        />
                    </div>
                    <div class="dl-field no-icon-field form-group">
                        <label for="dealers-shipping-etd" translate>
                            views.shipping-methods.etd
                        </label>
                        <input id="dealers-shipping-etd" name="dealers-shipping-etd"
                               type="number"
                               min="1"
                               class="form-control dl-input no-margin"
                               placeholder="3 ({{'general.days' | translate}})"
                               ng-model="shipping_methods.dealers.estimated_delivery_time"
                               ng-init="shipping_methods.dealers.estimated_delivery_time=2"
                               disabled
                        />
                    </div>
                    <div class="dl-field no-icon-field form-group">
                        <label for="dealers-shipping-description" translate>
                            general.description
                        </label>
                        <textarea id="dealers-shipping-description"
                                  name="dealers-shipping-description"
                                  class="form-control dl-input no-margin"
                                  style="min-height: 120px"
                                  ng-model="shipping_methods.dealers.description"
                                  disabled></textarea>
                    </div>
                </div>
            </li>
            <li class="ap-shipping-custom" layout="column" layout-gt-xs="row"
                ng-class="{'selected': shipping_methods.custom.selected}">
                <div class="ap-shipping-controller" flex-gt-xs="35">
                    <md-checkbox ng-model="shipping_methods.custom.selected"
                                 aria-label="Checkbox 1"
                                 ng-class="{'selected': shipping_methods.custom.selected}">
                        {{"views.shipping-methods.custom-shipping" | translate}}
                    </md-checkbox>
                    <md-button class="md-icon-button align-middle no-margin md-21"
                               ng-click="presentCustomInfo = !presentCustomInfo">
                        <i class="material-icons "
                           ng-class="{  'theme-color': presentCustomInfo,
                                                                    'light-gray': !presentCustomInfo}">
                            info_outline
                        </i>
                    </md-button>
                    <p class="dl-note text-muted animate-height"
                       ng-class="{'dl-show': presentCustomInfo}">
                        {{"views.shipping-methods.custom-tip-1" | translate}}<br><br>
                        <b>{{"views.shipping-methods.dealers-tip-2" | translate}}</b>
                        {{"views.shipping-methods.dealers-tip-3" | translate}}
                    </p>
                </div>
                <div class="shipping_options animate-height"
                     ng-class="{'dl-show': shipping_methods.custom.selected}"
                     flex flex-gt-xs="65">
                    <div class="dl-field no-icon-field form-group">
                        <label for="custom-shipping-title" translate>
                            general.title
                        </label>
                        <input id="custom-shipping-title" name="custom-shipping-title"
                               type="text"
                               class="form-control dl-input no-margin"
                               placeholder="{{'views.shipping-methods.title-placeholder' | translate}}"
                               ng-model="shipping_methods.custom.title"
                               required
                        />
                    </div>
                    <div class="dl-field no-icon-field form-group">
                        <label for="dealers-shipping-price" translate>
                            views.shipping-methods.shipping-price
                        </label>
                        <input id="custom-shipping-price" name="custom-shipping-price"
                               type="number"
                               min="0"
                               class="form-control dl-input no-margin"
                               placeholder="{{'views.shipping-methods.shipping-price-placeholder' | translate}}"
                               ng-model="shipping_methods.custom.shipping_price"
                               required
                        />
                    </div>
                    <div class="dl-field no-icon-field form-group">
                        <label for="custom-shipping-etd" translate>
                            views.shipping-methods.etd
                        </label>
                        <input id="custom-shipping-etd" name="custom-shipping-etd"
                               type="number"
                               min="1"
                               class="form-control dl-input no-margin"
                               placeholder="3 ({{'general.days' | translate}})"
                               ng-model="shipping_methods.custom.estimated_delivery_time"
                               required
                        />
                    </div>
                    <div class="dl-field no-icon-field form-group">
                        <label for="custom-shipping-description" translate>
                            general.description-optional
                        </label>
                        <textarea id="custom-shipping-description"
                                  name="custom-shipping-description"
                                  class="form-control dl-input no-margin"
                                  placeholder="{{'views.shipping-methods.custom-description-placeholder' | translate}}"
                                  ng-model="shipping_methods.custom.description">
                                                        </textarea>
                    </div>
                </div>
            </li>
            <li class="ap-shipping-pickup" layout="column" layout-gt-xs="row"
                ng-class="{'selected': shipping_methods.pickup.selected}">
                <div class="ap-shipping-controller" flex-gt-xs="35">
                    <md-checkbox ng-model="shipping_methods.pickup.selected"
                                 aria-label="Checkbox 1"
                                 ng-class="{'selected': shipping_methods.pickup.selected}">
                        {{"services.shipping-methods.pickup-title" | translate}}
                    </md-checkbox>
                    <md-button class="md-icon-button align-middle no-margin md-21"
                               ng-click="presentPickupInfo = !presentPickupInfo">
                        <i class="material-icons "
                           ng-class="{  'theme-color': presentPickupInfo,
                                                                    'light-gray': !presentPickupInfo}">
                            info_outline
                        </i>
                    </md-button>
                    <p class="dl-note text-muted animate-height"
                       ng-class="{'dl-show': presentPickupInfo}" translate>
                        services.shipping-methods.pickup-description
                    </p>
                </div>
                <div class="shipping_options animate-height"
                     ng-class="{'dl-show': shipping_methods.pickup.selected}"
                     flex flex-gt-xs="65">
                    <label for="pickup-shipping-description" translate>
                        general.description-optional
                    </label>
                    <textarea id="pickup-shipping-description"
                              name="pickup-shipping-description"
                              class="form-control dl-input no-margin"
                              placeholder="{{'views.shipping-methods.pickup-description-placeholder' | translate}}"
                              ng-model="shipping_methods.pickup.description">
                                                    </textarea>
                </div>
            </li>
        </ul>
    </div>
</div>