<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
    	<div class="navbar-header">
    		<a href="" class="navbar-brand clickable">
    			<img src="../../assets/images/Icons/logo_clean_small.png" />
    		</a>
    	</div>	 
    	<form class="navbar-left">
    		<div class="form-group">
    			<input type="text" class="navbar-search form-control" placeholder="Search deals"/>
    		</div>
    	</form>
    	<ul class="navbar-left nav">
    		<li>
    			<a href=""><img src="../../assets/images/Icons/Web_Icons_navbar_categories_icon.png"></a>
    		</li>
    	</ul>  
    	<ul class="navbar-profile navbar-right nav">
    		<li>
    			<a class="dropdown-toggle" data-toggle="dropdown">
    				<div>
    					<img class="profileThumbnail img-circle" src="../../assets/images/sample/Profile_Pic_60.jpg" />
    					{{dealer.full_name}}
    				</div>
    			</a>
    			<ul class="dropdown-menu">
    				<li>
    					<a ng-click="logOut()">Log Out</a>
    				</li>
    			</ul>
    		</li>
    	</ul> 				    			
	</div>
</nav>