@import "variables.less";
@import "mixins.less";
@import url(https:\/\/fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

// Initial Configurations

html,
body {
    width: 100%;
    height: 100%;
    min-width: 296px;
}

body {
    .sans-serif-font;
}

hr {
    border-color: @theme-primary;
    border-width: 3px;
    max-width: 50px;
}

hr.light {
    border-color: white;
}

a {
    .transition-all;
    color: @theme-primary;
    &:hover,
    &:focus {
        color: lighten(@theme-primary, 10%);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    .sans-serif-font;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.bg-primary {
    background-color: @theme-primary;
}

.bg-dark {
    background-color: @theme-dark;
    color: white;
}

.text-faded {
    color: fade(white, 70%);
}

.text-muted {
  color: @text-light-gray;
}

section {
    padding: 100px 0;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

button {
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
       -moz-user-select: none;
        -ms-user-select: none;
}

input {
  background: none;
  border: none;
  box-shadow: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: @background-gray;
}

h4 {
  font-weight: 400;
  margin: 14px 0;
}

.content {
  padding-top: 84px;
}

.nav, .pagination, .carousel, .panel-title a { 
  cursor: pointer; 
}

//General

.clickable {
  opacity: 1;
  transition: all ease-out 0.2s;
  &:hover {
    opacity: 0.6;
  }
}

.dl-note {
  width: 100%;
  font-size: 0.8em;
  margin: 10px 0;
}

//Nav Bar

.navbar-default {
  height: @navbar-height;
  background-color: white;
  box-shadow: 0 2px 15px 1px rgba(0,0,0,0.1);
}

.navbar-brand {
  height: @navbar-height;
  padding: 12px;
}

.navbar-brand img {
  height: 100%;
}

.navbar-search.form-control {
  width: 298px;
  height: 34px;
  margin: 10px 14px;
  background-color: @background-gray;
  border-radius: @rounded-corners-small; 
  border: 1px solid rgb(232,232,247);
}

.nav>li>a {
  color: rgb(150,0,180);
  font-size: 1.2em;
  background: transparent;
  padding: 10px;
  transition: all ease-out 0.08s;
  &:hover {
    background-color: @background-gray;
  }
}

nav img.profileThumbnail {
  width: 34px;
  height: 34px;
  margin-top: -1px;
  margin-right: 6px;
  background-color: transparent;
}

//Deals Grid

.row > [class^="col-"],
.row > [class*=" col-"] {
  padding-right: 10px;
  padding-left: 10px;
}


//Deal Cell

section.dealContainer {
  padding-bottom: 20px;
}

.deal {
  background-color: white;
  padding: 0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: @deal-cell-shadow;
}

.dealImage {
  width: 100%;
  margin: 0 auto;
}

.dealInfoBar {
  padding: 4px 14px;
}

.priceContainer {
  float: left;
  color: white;
  font-size: 1.6em;
  font-weight: 300;
  margin-top: -60px;
  margin-left: -14px;
  padding: 4px 15px;
  position: absolute;
  background-color: rgba(50,50,65,0.8);
  border-top-right-radius: @rounded-corners-small;
  border-bottom-right-radius: @rounded-corners-small;
}

.price {
  margin-right: 12px;
}

.discount {
  color: @text-light-gray;
}

.dealInfoBar {
  color: @text-black;
}

.infoIcon {
  margin-top: -2px;
  margin-right: 6px;
}

.dealInfo {
  .small-text;
  color: @text-light-gray;
}

// Forms
.dl-form {
  width:100%;
  color: @theme-dark;
  background-color: white;
  padding: 10px 15px;
  margin: 0 auto;
  text-align: left;
  border-radius: 10px;
  box-shadow: 0 2px 15px 1px rgba(0,0,0,0.1);
  @media (min-width: @phone-width) {
    width:590px;
    padding: 10px 28px;
  }
  h2 {
    margin: 24px 0;
  }
}

.dl-form-col {
  width: 100%;
  h2 {
    margin-bottom: 30px;
  }
  .dl-field {
    width: 100%;
    margin-bottom: 16px;
    position: relative;
    img {
      width: 30px;
      height: 30px;
      margin-right: 8px;
    }
    input[type="text"], input[type="date"], input[type="email"], input[type="password"] {
      width: 80%;
      height: @dl-input-height;
      padding: 0 10px;
      background-color: @background-gray;
      border-radius: 8px;
    }
    input[type="radio"] {
      margin-left: 12px;
    }
    div.dl-inline-field-icon {
      display: none;
      width: @dl-input-height;
      height: @dl-input-height;
      position: absolute;
      right: 10px;
      button {
        width: 100%;
        height: 100%;
      }
      i.glyphicon {
        opacity: 0.5;
      }
      @media (min-width: @phone-width) {
        display: inline;
      }
    }
  }
  .dl-date-field {
    .btn {
      font-weight: 400;
      border: 1px solid transparent;
      border-radius: 3px;
    }
    .btn-default {
      border-color: rgb(204,204,215);
    }
  }
  @media (min-width: @phone-width) {
    width:252px;
    .dl-field {
      input[type="text"], input[type="date"], input[type="email"], input[type="password"] {
        width: (236 - @dl-icons-size);
      }
    }
  }
}

.btn-container {
  width: 100%;
  margin: 12px 0;
  clear: left;
  button {
    display: block;
    margin: 0 auto;
  }
}


// Send Download Link Page
#sendDownloadLinkPage {
    
    .background-cover;
    background-position: top;
    background-image: url('../../assets/images/backgrounds/Restaurant_darken.jpg');
    > .header-content {
        top: 25%;
    }
}