@import "variables.less";
@import "mixins.less";
@import url(https:\/\/fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

// Initial Configurations

html,
body {
    width: 100%;
    height: 100%;
    min-width: 296px;
    color: @theme-dark;
}

body {
    .sans-serif-font;
}

hr {
    border-color: @theme-primary;
    border-width: 3px;
    max-width: 50px;
}

hr.light {
    border-color: white;
}

a {
    .transition-all;
    color: @theme-primary;
    &:hover,
    &:focus {
      text-decoration: none;
      color: lighten(@theme-primary, 25%);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    .sans-serif-font;
    line-height: 1.4;
}

p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
}

ul {
  padding: 0;
  list-style-type: none;
}

.bg-primary {
    background-color: @theme-primary;
}

.bg-dark {
    background-color: @theme-dark;
    color: white;
}

.text-faded {
    color: fade(white, 70%);
}

.text-muted {
  color: @text-light-gray;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.nav-padding {
  padding-top: (@navbar-height + 20px) !important;
}

.nav-margin {
  margin-top: (@navbar-height + 20px) !important;
}

button {
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
       -moz-user-select: none;
        -ms-user-select: none;
}

input {
  background: none;
  border: 1px solid;
  box-shadow: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: @background-gray;
}

h4 {
  font-weight: 400;
  margin: 14px 0;
}

.content {
  padding-top: 84px;
}

.nav, .pagination, .carousel, .panel-title a { 
  cursor: pointer; 
}

.container {
  @media (max-width: @phone-width) {
    padding: 0px;
  }
}


//General

.container-background {
  background-color: white;
  
  box-shadow: @container-shadow;
}

.clickable {
  .clickable;
}

.dl-note {
  width: 100%;
  font-size: 0.9em;
  margin: 10px 0;
}

p.dl-error {
  color: @text-error !important;
  clear: left;
}

.form-control {
  background-color: @background-gray;
  border-radius: @rounded-corners-small; 
  border: 1px solid rgb(232,232,247);
}

.like-btn {
  position: relative;
}

.mobile {
  @media (min-width: @tablet-width) {
    display: none !important;
  }
}

.non-mobile {
  @media (max-width: @tablet-width) {
    display: none !important;
  }
}

// Nav Bar

.navbar-default {
  font-size: 0.9em;
  font-weight: 400;
  height: @navbar-height;
  border: none;
  background-color: white;
  box-shadow: 0 2px 5px 1px rgba(0,0,0,0.1);
  .transition-all;
  
  .navbar-brand {
    height: @navbar-height;
    padding: 12px;
    img {
      height: 100%;
    }
    &:hover,
    &:focus {
      opacity: 0.5;
    }
  }
  .navbar-profile {
    color: @theme-dark;
    @media (max-width: @tablet-width) {
      margin-right: -15px
    }
  }
  li > ul.dropdown-menu {
    width: 100%;
  }
  @media (max-width: @tablet-width) {
    span {
      display: none;
    }
  }
  .container {
    @media (max-width: @phone-width) {
      padding: 0px 15px;
    }
  }
}

.navbar div.container {
  height: inherit;
  @media (max-width: @tablet-width) {
    display: flex;
  }
}

.navbar-search {
  flex: 1;
  @media (max-width: @tablet-width) {
    margin: 0 10px 0 8px;
  }
  .form-control {
    height: 34px;
    margin: 10px;
    @media (max-width: @tablet-width) {
      flex: 1;
    }
    @media (min-width: @tablet-width) {
      width: 188px;
      &:focus,
      &:active {
        width: 298px;
      }
    }
    .transition-all;
  }
}

.nav>li>a {
  display: inline-block;
  color: rgb(150,0,180);
  font-size: 1.2em;
  background: transparent;
  padding: 10px;
  .background-hover-transition;
  height: @navbar-height;
  &:hover {
    background-color: @background-gray;
  }
}

nav img.profileThumbnail {
  width: 34px;
  height: 34px;
  margin-top: -1px;
  margin-right: 6px;
  background-color: transparent;
}

.full-screen-categories {
  background: white;
  padding-bottom: 30px;
  ul {
    a {
      .large-font;
      color: @theme-dark;
      &:hover {
        alpha: 1.0;
      }
      li {
        line-height: 3.6;
        padding: 0 30px;
        .background-hover-transition;
        &:hover {
          background-color: @background-gray;
        }
      }
    }
  }
}

.dl-categories {
  position: relative;
  left: -15px;
  background: white;
  padding: 10px 0;
  box-shadow: @dialog-box-shadow;
  border-radius: @rounded-corners-large;
  span.nav-carret {
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: -9px;
    left: 30px;
    border-radius: 2px;
    transform: rotate(45deg);
  }
  ul {
    a {
      .regular-font;
      color: @theme-dark;
      &:hover {
        alpha: 1.0;
      }
      li {
        line-height: 2.4;
        padding: 0 30px;
        .background-hover-transition;
        &:hover {
          background-color: @background-gray;
        }
      }
    }
  }
}


// Grids

.dg-title {
  text-align: center;
  font-weight: 700;
  margin: 20px;
}

.dg-download-message {
  font-size: 24px;
  color: @text-light-gray;
  width: 100%;
  text-align: center;
  margin: (@navbar-height + 60px) auto;  
}

.spinnerContainer {
  position: relative;
  margin: (@navbar-height + 10px) auto;  
}

.dg-loading-more {
  width: 100%;
  height: 70px; 
  clear: both;
  
  .spinnerContainer {
    margin: 0 0 20px;
    height: 70px;
  }
}


// Deals Grid

.row > [class^="col-"],
.row > [class*=" col-"] {
  padding-right: 10px;
  padding-left: 10px;
}


// Deal Cell

section.dealContainer {
  padding-bottom: 20px;
  @media (max-width: @phone-width) {
    padding: 0 0 20px 0 !important; 
    margin-top: 0 20px;
    color: red;
  }
}

.deal {
  background-color: white;
  padding: 0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: @deal-cell-shadow;
  @media (max-width: @phone-width) {
    border-radius: 0px;
  }
}

.dealImage.loading {
  width: 100%;
  margin: 0 auto;
  background-color: @text-light-gray; 
  padding-bottom: 67.8125%;
}

.dealImage.doneLoading {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 0;
}

div.noImageBackground {
  width: 100%;
  height: 120px;  
}

.dealInfoBar {
  padding: 4px 14px;
}

.priceContainer {
  float: left;
  color: white;
  font-size: 1.6em;
  font-weight: 300;
  margin-top: -60px;
  margin-left: -14px;
  padding: 4px 15px;
  position: absolute;
  background-color: rgba(50,50,65,0.8);
  border-top-right-radius: @rounded-corners-small;
  border-bottom-right-radius: @rounded-corners-small;
}

.price {
  margin-right: 12px;
}

.discount {
  color: @text-light-gray;
}

.previousPrice {
  text-decoration: line-through;
}

.profilePicContainer {
  position: relative;
}

.dealerProfilePic {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: rgb(200,200,215);
  border: 2px solid white;
  position: absolute;
  top: -45px;
  right: 0;
}

.defaultProfilePic {
  background: url("../images/icons/@2x/default_profile_pic.png") no-repeat;
  background-size: cover;
}

.dealInfoBar {
  color: @text-black;
}

.infoIcon {
  margin-top: -2px;
  margin-right: 6px;
}

.dealInfo {
  .small-font;
  color: @text-light-gray;
}


// View Deal

.vd-container {
  min-height: 150px;
  background-color: white;
  border-radius: @rounded-corners-xl;
  box-shadow: @container-shadow;
  padding: 5px 0 30px;
  margin: 50px 0;
  @media (max-width: @phone-width) {
    border-radius: 0px;
  }
}

.vd-title {
  width: 100%;
  padding: 0 45px; // Not using @vd-side-padding because need to compensate on the 15px offset caused by Bootstrap's '.row' class
  margin-bottom: @vd-margin-bottom;
}

.vd-deal-photo-container {
  .vd-deal-photo {
    width: 100%;
  }
}

.vd-dealer-profile {
  margin: @vd-section-margin;
  padding: 0 15px 0 45px;
  .dealerProfilePic {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: rgb(200,200,215);
    position: initial;
    float: left;
  }
  .vd-dealer-name {
    font-size: 16px;
    margin: 24px 8px;
    float: left;
  }
  @media (max-width: @tablet-width) {
    & {
      text-align: center;
    }
    .vd-upload-date p {
      margin: 0 0 12px 0 !important;
    }
    .dealerProfilePic {
      float: none;
      display: inline-block;
    }
    .vd-dealer-name {
      float: none;
      margin: 8px 10px 0;
    }
  }
}

.vd-actions {
  margin: @vd-section-margin;
  padding: 0px;
  .vd-actions-container {
    float: right;
    margin-right: 15px;
    #vd-options {
      padding: 5px;
      border: none;
      img {
        height: 18px;
        margin: 0;
      }
    }
    @media (max-width: @tablet-width) {
      float: none;
      text-align: center;
      padding: 0 30px;
      .vd-likes-counter p {
          text-align: left !important;
        }
      .vd-buttons-container {
        display: inline-block;
        margin-right: 8px;
        button {
          height: 38px;
        }
      }
    }
    @media (min-width: @tablet-width) and (max-width: @desktop-width)  {
      width: 50%;
    }
    .vd-likes-counter {
      p {
        font-size: 14px;
        text-align: right;
        img {
          width: 16px;
          margin-right: 4px;
          position: relative;
          top: -1px;
        }
      }
    }
  }
  button.btn {
    margin: 8px 0 8px 8px;
    color: @theme-primary;
    border: 1px solid @theme-primary;
    background-color: transparent;
    .clickable;
    .transition-all;
    @media (min-width: @tablet-width) and (max-width: @desktop-width)  {
      width: 100%;
      margin: 6px 0;
      &#vd-options {
        width: 38%;
        float: right;
      }
    }
    #vd-like .side-icon {
        position: absolute;
        top: -1px;
      }
  }
}

.vd-comments {
  margin: @vd-section-margin;
  padding: 0 45px;
  float: left;
  clear: both;
  @media (max-width: @tablet-width) {
    width: 100%;
    padding: 0 30px;  
  }
  h4 {
    margin: 20px 0 18px;
  }
  .comment {
    display: flex;
    margin-bottom: 10px;
    .vd-commenter-pic {
      width: 44px;
      height: 44px;
      border-radius: 22px;
      background-color: rgb(200,200,215);
      border: 2px solid white;
      float: left;
    }
    .vd-comment-text-container {
      float: left;
      flex: 1;
      display: inline-block;
      padding: 2px 6px;
      h5 {
        font-weight: 600;
        margin: 0 0 4px;
        span.vd-comment-date {
          color: @text-light-gray;
          font-size: 12px;
          font-weight: 200;
          margin-left: 8px;
        }
      }
      p {
        color: @text-light-gray;
      }  
    }
    form {
      flex: 1;
      textarea {
        width: 100%;
        max-width: 460px;
        height: 44px;
        max-height: 200px;
        background-color: @background-gray;
        border-radius: @rounded-corners-large; 
        padding: 10px 16px;
      }
    }
  }
}

.vd-info-pane {
  padding-left: 15px !important;
  padding-right: 45px !important;
  @media (max-width: @tablet-width) {
    margin: @vd-section-margin;
    padding: @vd-side-padding !important;
  }
  .vd-basic-info {
    .vd-bullet {
      margin-bottom: 18px;
      display: flex;
      .vd-info-icon {
        height: 28px;
        margin-right: 10px;
        float: left;
      }
      p {
        flex: 1;
        float: left;
        margin: 2px 0 0 0;
      }
    }
  }
  
  .vd-price-discount {
    margin: 10px 0;
    display: inline-block;
    .vd-price-discount-frame {
      background-color: @theme-dark-transparent;
      padding: 6px 16px;
      border-radius: @rounded-corners-small;
      div {
        display: inline-block;
      }
      .vd-price {
        color: white;
        font-size: 24px;
        font-weight: 600;
      }
      .vd-discount {
        color: lighten(@text-light-gray, 20%);
        font-size: 18px;
        font-weight: 400;
        margin-left: 8px;
      }
    }
  }
  
  .vd-more-description {
    margin: @vd-section-margin;
    color: @text-light-gray;
  }
}

// Profile

.pr-header-section {
  position: relative;
  text-align: center;
  background-color: white;
  padding: @vd-side-padding;
  margin: 50px 0 30px;
  box-shadow: @deal-cell-shadow;
  
  .spinnerContainer {
    margin-top: 120px auto !important;
  }
  
  .pr-profile-pic {
    height: 40px;
    border-top: 1px solid rgb(215,215,230);
    .dealerProfilePic {
      position: relative;
      top: -60px;
      width: 100px;
      height: 100px;
      border-radius: 50px;
      border: 8px solid white;
    }
  }
  .pr-name {
    h2 {
      font-weight: 700;
      margin: 5px;
    }
  }
  .pr-rank {
    color: @theme-primary;
    margin: 10px;
    img {
      position: relative;
      top: -2px;
      margin-right: 2px;
    }
    .viewerIcon {
      height: 9px;
    }
    .dealerIcon {
      height: 9px;
    }
    .proDealerIcon {
      height: 14px;
    }
    .seniorDealerIcon {
      height: 17px;
    }
    .masterDealerIcon {
      top: -2px;
      height: 18px;
    }
  }
  .pr-location {
    color: @text-light-gray;
    margin: 10px;
    img {
      position: relative;
      top: -2px;
      height: 14px;
    }
  }
  .pr-about {
    color: @text-light-gray;
    margin: 0 auto;
    width: 80%;
    min-width: 260px;
  }
  .pr-basic-info {
    border-bottom: 1px solid rgb(215,215,230);
    padding-bottom: 8px;
  }
}


// Forms

.dl-form {
  width:100%;
  color: @theme-dark;
  background-color: white;
  padding: 10px 15px 24px;
  margin: 0 auto;
  text-align: left;
  border-radius: 10px;
  box-shadow: @container-shadow;
  @media (min-width: @phone-width) {
    width:590px;
    padding: 10px 28px 30px;
  }
  h2 {
    margin: 24px 0;
  }
}

.dl-form.form-sm {
  @media (min-width: 440px) {
    width:400px;
  }
  > .dl-field > input[type="text"], input[type="date"], input[type="email"], input[type="password"] {
    width: 100%;
  }
}

.dl-form-col {
  width: 100%;
  @media (min-width: @phone-width) {
    width:252px;
  }
  h2 {
    margin-bottom: 30px;
  }
}

.dl-field {
  width: 100%;
  margin-bottom: 16px;
  position: relative;
  img {
    width: 30px;
    height: 30px;
    margin-right: 8px;
  }
  input[type="text"], input[type="date"], input[type="email"], input[type="password"] {
    width: 80%;
    height: @dl-input-height;
    padding: 0 10px;
    background-color: @background-gray;
    border-color: @background-gray;
    border-radius: 8px;
  }
  input[type="radio"] {
    margin-left: 12px;
  }
  div.dl-inline-field-icon {
    display: none;
    width: @dl-input-height;
    height: @dl-input-height;
    position: absolute;
    right: 10px;
    button {
      width: 100%;
      height: 100%;
    }
    i.glyphicon {
      opacity: 0.5;
    }
    @media (min-width: @phone-width) {
      display: inline;
    }
  }
  @media (min-width: @phone-width) { //.dl-field
    input[type="text"], input[type="date"], input[type="email"], input[type="password"] {
      width: (236 - @dl-icons-size);
    }
  }
}

.dl-date-field {
  .btn {
    font-weight: 400;
    border: 1px solid transparent;
    border-radius: 3px;
  }
  .btn-default {
    border-color: rgb(204,204,215);
  }
}


// Button Styles

.btn-default {
    .button-variant(@theme-dark;@theme-white;@theme-white);
}

.btn-primary {
    .button-variant(white;@theme-primary;@theme-primary);
}

.btn {
  border: none;
  border-radius: 8px;
  font-weight: 600;
  text-transform: uppercase;
  img.side-icon {
    height: 14px;
    position: relative;
    margin-right: 2px;
    top: -1px;
  }
}

.btn-sm {
  border: none;
  border-radius: 4px;
}

.btn-xl {
    padding: 14px 30px;
}

.btn-glass {
    background-color: rgba(255, 255, 255, 0.3);
    &:hover, &:active, &:focus {
        background-color: rgba(255, 255, 255, 0.6);
    }
}

.btn-facebook {
    .button-variant(white; @theme-facebook; @theme-facebook);
}

.btn-container {
  width: 100%;
  margin: 12px 0;
  clear: left;
  button {
    display: block;
    margin: 0 auto;
  }
}

#logIn {
    position: absolute;
    padding: 10px;
    top: 10px;
    right: 10px;
    z-index: 10;
    @media (min-width: @tablet-width) {
      padding: 14px 30px;
      top: 20px;
      right: 50px;
    }
}


// Angular Classes

.dl-form {
  .ng-invalid.ng-dirty {
    border-color: lighten(@text-error, 10%) !important;
  }
  .ng-valid.ng-dirty {
    border-color: lighten(@text-success, 10%) !important;
  }  
}


// Footer

footer {
    padding: 30px 10px;
}

.footer {
    > li > a {
      text-transform: uppercase;
      font-size: 1em;
      font-weight: 300;
      color: fade(white, 60%);
      background: transparent;
      &:hover {
          color: white;
          background: none;
          opacity: 1;
      }
    }
    .facebook {
      opacity: 0.6;
      padding: 10px;
      margin-left: 4px;
      img {
        width: 30px;
        height: 30px;
      }
      @media (min-width: @tablet-width) {
        margin-left: 15px;
      }
    }
}

#copyrights {
    padding: 30px 0 6px;
    color: fade(white, 30%);
    font-weight: 300;
}