@import "variables.less";
@import "mixins.less";

// Initial Configurations

html,
body {
  width: 100%;
  height: 100%;
  min-width: 296px;
  color: @theme-dark;
  background-color: @background-gray;
}

html:lang(he) 	{
  font-family: Arial, "sans-serif", serif;
  direction: rtl;
}

body {
  .sans-serif-font;
}

hr {
  border-color: rgb(200,200,215);
  border-width: 1px;
  max-width: 150px;
}

hr.light {
  border-color: white;
}

a {
  .transition-all;
  color: @theme-primary;
  &:hover,
  &:focus {
    color: #c531df;
    opacity: 0.75;
    text-decoration: none;
  }
  .link {
    &:hover,
    &:focus {
      color: lighten(@theme-primary, 25%);
    }
  }
  &.anchor {
    display: block;
    position: relative;
    top: -(@navbar-height + 10px);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  .sans-serif-font;
  line-height: 1.4;
  color: @theme-dark;
}

p {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 20px;
  overflow-wrap: break-word;
}

ul {
  padding: 0;
  list-style-type: none;
}

label {
  font-weight: 400;
}

.bg-primary {
  background-color: @theme-primary;
}

.bg-dark {
  background-color: @theme-dark;
  color: white;
}

.text-faded {
  color: fade(white, 70%);
}

.text-muted {
  color: @text-light-gray !important;
}

aside {
  padding: 50px 0;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.nav-padding {
  padding-top: (@navbar-height + 20px) !important;
}

.nav-margin {
  margin-top: (@navbar-height + 20px) !important;
  @media (max-width: @phone-width) {
    margin-top: @navbar-height !important;
  }
}

.nav-padding-exact {
  padding-top: @navbar-height !important;
}

button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button; /* for input */
  -webkit-user-select: none; /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
}

input {
  background: none;
  border: 1px solid;
  box-shadow: none;
}

textarea {
  resize: vertical;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h4 {
  font-weight: 400;
  margin: 14px 0;
}

.content {
  padding-top: 84px;
}

.nav, .pagination, .panel-title a {
  cursor: pointer;
}

.container {
  @media (max-width: @phone-width) {
    padding: 0;
  }
}

// General

.margin-bottom-0 {
  margin-bottom: 0 !important;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.margin-bottom-20 {
  margin-bottom: 20px !important;
}

.margin-bottom-30 {
  margin-bottom: 30px !important;
}

.margin-bottom-40 {
  margin-bottom: 40px !important;
}

.margin-top-10 {
  margin-top: 10px !important;
}

.margin-top-20 {
  margin-top: 20px !important;
}

.margin-top-30 {
  margin-top: 30px !important;
}

.margin-top-40 {
  margin-top: 40px !important;
}

.margin-left-4 {
  margin-left: 4px !important;
}

.padding-top-30 {
  padding-top: 30px !important;
}

.align-middle {
  vertical-align: middle !important;
}

.container-background {
  background-color: white;
  box-shadow: @container-shadow;
}

.clickable {
  .clickable;
}

.dl-note {
  width: 100%;
  font-size: 0.9em;
  margin: 10px 0;
}

.info-note {
  color: @text-light-gray;
}

.dl-note.dl-input-note {
  padding: 2px 11px 10px 10px;
  color: @text-light-gray;
  margin: -20px 0 0;
}

.explanation-label-field {
  p {
    margin: 0 0 6px 0 !important;
  }
}

input:disabled, textarea:disabled {
  color: @text-light-gray;
}

p.dl-error {
  color: @text-error !important;
  clear: left;
}

.dl-danger {
  color: @text-error !important;
}

.dl-danger-emphasize {
  color: white;
  display: inline-block;
  font-weight: bold;
  background-color: @text-error;
  padding: 4px 8px;
  border-radius: 4px;
}

.dl-emphasize {
  font-size: 1.1em;
  font-weight: bold;
}

.form-control {
  background-color: @background-gray;
  border-radius: @rounded-corners-small;
  border: 1px solid rgb(232, 232, 247);
}

.no-upper-case {
  text-transform: none !important;
}

.like-btn {
  position: relative;
}

.mobile {
  @media (min-width: @phone-width) {
    display: none !important;
  }
}

.non-mobile {
  @media (max-width: @phone-width) {
    display: none !important;
  }
}

.desktop {
  @media (max-width: @tablet-width) {
    display: none !important;
  }
}

.non-desktop {
  @media (min-width: @tablet-width) {
    display: none !important;
  }
}

a.disabled {
  cursor: not-allowed;
}

img.quit {
  height: 20px;
  float: left;
}

.conceal {
  opacity: 0 !important;
}

.thumbnail-remove {
  position: absolute;
  top: -8px;
  right: -5px;
  color: white;
  font-size: 0.8em;
  border: 2px solid white;
  border-radius: 100px;
  background-color: @theme-dark-transparent;
  padding: 3px 5px;
}

md-dialog.dl-loading-dialog {
  height: 170px;
  p {
    padding-top: 30px;
  }
}

md-content.dl-grid {
  background: @background-gray;
}

.container-padding {
  padding: 10px 30px 40px !important;
}

.skip {

}

// Bootstrap Overrides

.breadcrumb {
  background-color: transparent;
  a.disabled {
    color: @text-light-gray;
  }
}

.carousel-inner {
  min-height: 320px;
  background-color: @background-gray;
}

.carousel:hover .carousel-controller {
  opacity: 1.0;
}

.carousel .carousel-controller {
  opacity: 0;
  .transition-all;
}

.uib-datepicker .btn-default {
  background-color: transparent;
  &.active {
    background: @theme-primary;
  }
}

// Nav Bar

.navbar-default {
  font-size: 0.84em;
  font-weight: 400;
  height: @navbar-height;
  border: none;
  background-color: white;
  .transition-all;

  .navbar-brand {
    height: @navbar-height;
    padding: 12px;
    margin: 0;
    @media (max-width: @phone-width) {
      margin-right: 8px;
    }
    img {
      height: 100%;
    }
    &:hover,
    &:focus {
      opacity: 0.5;
    }
  }
  .navbar-right-pane {
    color: @theme-dark;
    @media (max-width: @tablet-width) {
      margin-right: -15px
    }
  }
  li > ul.dropdown-menu {
    width: 100%;
  }
  .container {
    @media (max-width: @phone-width) {
      padding: 0 15px;
    }
  }
}

.navbar-default.navbar-shade {
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.075);
}

.navbar div.container {
  height: inherit;
  @media (max-width: @tablet-width) {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: space-around;
    -webkit-justify-content: space-around; /* Safari 6.1+ */

  }
}

.navbar-search {
  flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  position: inherit;
  .transition-all;
  @media (max-width: @tablet-width) {
    margin: 0 10px 0 8px;
  }
  @media (max-width: @phone-width) {
    position: absolute;
    top: 0;
    background: white;
    left: -8px;
    right: -14px;
    form {
      padding-right: 16px;
      width: 94%;
      margin: auto;
      div.form-group {
        margin-bottom: 0;
      }
    }

    &.searchBarPresented {
      top: @navbar-height;
    }
  }
  .form-control {
    height: 34px;
    margin: 10px;
    @media (max-width: @tablet-width) {
      flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
    }
    @media (min-width: @tablet-width) {
      width: 188px;
      &:focus,
      &:active {
        width: 298px;
      }
    }
    .transition-all;
  }
}

.nav > li {
  display: inline-block;
  a {
    display: inline-block;
    color: rgb(150, 0, 180);
    font-size: 1.2em;
    background: transparent;
    padding: 10px;
    .background-hover-transition;
    height: @navbar-height;
    line-height: 2.15;
    div.emphasize {
      border: solid 1px;
      border-radius: 3px;
      padding: 1px 10px;
      @media (max-width: @tablet-width) {
        padding: 1px 10px 2px;
      }
    }
    &:hover {
      background-color: @background-gray;
    }
    img {
      height: 34px;
    }
    @media (max-width: @phone-width) {
      padding: 10px 6px;
      font-size: 1.1em;
    }
  }
}

nav img.profileThumbnail {
  width: 34px;
  margin-top: -1px;
  margin-right: 6px;
  background-color: transparent;
}

.full-screen-categories {
  background: white;
  padding-bottom: 30px;
  ul {
    a {
      .large-font;
      color: @theme-dark;
      &:hover {
        opacity: 1.0;
      }
      li {
        line-height: 3.6;
        padding: 0 30px;
        .background-hover-transition;
        &:hover {
          background-color: @background-gray;
        }
      }
    }
  }
}

.dl-dropdown {
  position: relative;
  background: white;
  padding: 10px 0;
  box-shadow: @dialog-box-shadow;
  border-radius: @rounded-corners-large;
  span.nav-carret {
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: -9px;
    left: 30px;
    border-radius: 2px;
    transform: rotate(45deg);
  }
  ul {
    a {
      .regular-font;
      color: @theme-dark;
      &:hover {
        opacity: 1.0;
      }
      li {
        line-height: 2.4;
        padding: 0 30px;
        .background-hover-transition;
        &:hover {
          background-color: @background-gray;
        }
      }
    }
  }
}

md-menu-item > a {
  color: @theme-dark;
  &:hover, &:focus {
    color: @theme-dark;
  }
}

// About

.intro-container {
  background-color: white;
}

.intro-section {

  &.home-background {
    background: white;
    padding: 30px 20px;
    @media (min-width: @phone-width) {
      padding: 60px 40px;
    }
  }
  h1, h2, h3, h4 {
    margin: 0;
  }
  h4 {
    font-size: 1.4em;
    margin-top: 14px;
  }
  ul {
    margin-top: 10px;
  }
  li {
    display: inline-block;
    margin: 8px;
    @media (min-width: @phone-width) {
      margin: 14px;
    }
  }

  /* // Previous landing page
  &.home-background {
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("/assets/images/backgrounds/people_working_on_laptop.jpg") center;
    background-size: cover;
    @media (min-width: @phone-width) {
      background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("/assets/images/backgrounds/people_working_on_laptop.jpg") center;
      background-size: cover;
    }
    @media (min-width: @tablet-width) {
      background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("/assets/images/backgrounds/people_working_on_laptop.jpg") center;
      background-size: cover;
      background-position-y: -200px;
    }
    @media (min-width: 1200px) {
      background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("/assets/images/backgrounds/people_working_on_laptop.jpg") center;
      background-size: cover;
      background-position-y: -300px;
    }
    padding: 120px 30px;
    @media (max-width: @phone-width) {
      padding: 30px 20px;
    }
  }
  h1, h4, h3 {
    color: @theme-white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    margin: 0;
  }
  h4 {
    font-size: 1.4em;
    margin-top: 10px;
  }
  ul {
    margin-top: 10px;
  }
  li {
    display: inline-block;
    margin: 10px;
    button.md-button, a.md-button {
      font-size: 1em;
      margin-right: 8px;
    }
  }
  */
}

.about-section {
  padding: 20px 0;
  section {
    text-align: center;
    padding: 20px;

    .transition-all;
    &:hover {
      background: rgba(188, 188, 198, 0.2);
    }
    h4 {
      margin-bottom: 6px;
    }
    p {
      font-size: 1.1em;
      color: @text-light-gray;
      margin: 0;
    }
  }
  @media (min-width: @phone-width) {
    padding: 0 0 34px;
    margin-top: -10px;
    a {
      border-radius: @rounded-corners-large;
      overflow: hidden;
    }

    section {
      padding: 30px;
      height: 280px;
    }
  }
  @media (min-width: @phone-width) and (max-width: @tablet-width) {
    section {
      padding: 10px;
    }
  }
}

.about-page {
  .lead {
    font-size: 18px;
    font-weight: 400;
  }

  .anchor {
    top: -(@navbar-height + 30);
  }

  .intro-header {
    padding-top: 25px;
    padding-bottom: 50px;
    text-align: center;
    background: url(/assets/images/backgrounds/intro-bg.jpg) no-repeat center center;
    background-size: cover;
  }

  .intro-message {
    position: relative;
    padding-top: 15%;
    padding-bottom: 10%;
    @media (max-width: @phone-width) {
      padding-top: 25%;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .intro-message > h1 {
    margin: 0;
    color: @theme-white;
    font-size: 5em;
  }

  .intro-divider {
    width: 400px;
    border-top: 1px solid @theme-white;
  }

  .intro-message > h3 {
    color: @theme-white;
  }

  @media (max-width: 767px) {
    .intro-message {
      padding-bottom: 15%;
    }

    .intro-message > h1 {
      font-size: 3em;
    }

    ul.intro-social-buttons > li {
      display: block;
      margin-bottom: 20px;
      padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
      margin-bottom: 0;
    }

    .intro-divider {
      width: 100%;
    }
  }

  .content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
    @media (max-width: @phone-width) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    @media (max-width: @phone-width) {
      padding-left: 20px;
      padding-right: 20px;
    }
    &.what-is-dealers {
      padding: 35px 20px;
      @media (min-width: @phone-width) {
        padding: 70px 20px;
        h3, h4 {
          margin: 20px 50px;
        }
      }
    }
  }

  .section-heading {
    margin-bottom: 30px;
  }

  .section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
  }

  .banner {
    padding: 100px 20px;
    background: radial-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url("/assets/images/backgrounds/laptop-working.jpg") center no-repeat;
    background-size: cover;
  }

  .banner h2 {
    margin: 0;
    color: #f8f8f8;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    font-size: 3em;
  }

  .banner ul {
    margin-bottom: 0;
  }

  .banner-social-buttons {
    float: right;
    margin-top: 0;
  }

  @media (max-width: 1199px) {
    ul.banner-social-buttons {
      float: left;
      margin-top: 15px;
    }
  }

  @media (max-width: 767px) {
    .banner h2 {
      margin: 0;
      text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
      font-size: 3em;
    }

    ul.banner-social-buttons > li {
      display: block;
      margin-bottom: 20px;
      padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
      margin-bottom: 0;
    }
  }

  p.copyright {
    margin: 15px 0 0;
  }

  p {
    a {
      text-decoration: underline;
    }
  }
}

.info-content {
  background: white;
  padding: 30px 24px 20px;
  max-width: 768px;
  margin: 0 auto 30px;
  border-radius: @rounded-corners-large;
  box-shadow: @product-cell-shadow;
  p, ul, ol {
    color: @theme-dark;
  }
  ul {
    margin-left: 40px;
    list-style-type: disc;
  }
  @media (min-width: @phone-width) {
    padding: 40px 60px 40px;
  }
  .h2, .h3, h2, h3 {
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .h4, h4 {
    margin: 14px 0 7px;
  }
  .table-of-contents {
    margin: 20px 0;
    font-size: 1.2em;
  }
}

div.step-by-step-header {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  color: white;
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
  line-height: 2.0;
  margin-bottom: 10px;
  h3, h4, h5 {
    margin: 0 0 0 8px;
    line-height: 1.7;
    text-align: left;
  }
  .colorful-ordered-list {
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    &.red {
      background-color: #FF727A;
    }
    &.blue {
      background-color: #4EC2F6;
    }
    &.yellow {
      background-color: #FFD327;
    }
    &.green {
      background-color: #80D783;
    }
    &.brown {
      background-color: #BD9D82;
    }
    &.pink {
      background-color: #F69CF1;
    }
  }
}

// Sign Up & Log In

#rad-dealer-profile-photo {
  margin: 30px;
}

.profile-pic-btn {
  width: 90px;
  height: 90px;
  position: relative;
  border-radius: 45px;
  display: block;
  margin: 0 auto 4px;
}

img-crop {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  canvas {
    display: block;
    margin: auto !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    // Disable Outline
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
  }
}

.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  height: 350px;
  @media (min-width: @phone-width) {
    width: 500px;
  }
}

// Grids

.dg-title {
  text-align: center;
  font-weight: 700;
  margin: 30px;
}

.dg-description {
  text-align: center;
  margin: 0 20px 15px;
  @media (min-width: @phone-width) {
    margin: 20px;
  }
}

.dg-download-message {
  font-size: 24px;
  color: @text-light-gray;
  width: 100%;
  text-align: center;
  margin: (@navbar-height + 60px) auto;
}

.spinnerContainer {
  position: relative;
  margin: (@navbar-height + 10px) auto;
}

.dg-loading-more {
  width: 100%;
  height: 70px;
  clear: both;

  .spinnerContainer {
    margin: 0 0 20px;
    height: 70px;
  }
}

// Products Grid

.row > [class^="col-"],
.row > [class*=" col-"] {
  padding-right: 10px;
  padding-left: 10px;
}

// Product Cell

.product {
  background-color: white;
  padding: 0;
  border-radius: 5px;
  overflow: hidden;
  @media (max-width: @phone-width) {
    border-radius: 0;
    margin: 0 0 20px 0;
  }
}

.productImage.loading {
  width: 100%;
  margin: 0 auto;
  background-color: @text-light-gray;
}

md-card.product {
  md-card-avatar {
    border-radius: 30px;
    overflow: hidden;
  }
  .md-card-image-container {
    height: auto;
    background: white;
  }
}

.productImage.doneLoading {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 0;
}

div.noImageBackground {
  width: 100%;
  height: 120px;
}

.productInfoBar {
  padding: 4px 14px;
}

.priceContainer {
  float: left;
  color: white;
  font-size: 1.6em;
  font-weight: 300;
  margin-top: -60px;
  margin-left: -14px;
  padding: 4px 15px;
  position: absolute;
  background-color: rgba(50, 50, 65, 0.8);
  border-top-right-radius: @rounded-corners-small;
  border-bottom-right-radius: @rounded-corners-small;
}

.price {
  margin-right: 8px;
}

.discount {
  color: @text-light-gray;
  margin-left: 8px;
}

.percentage-off, .original-price {
  margin-right: 8px;
}

.previousPrice {
  text-decoration: line-through;
}

.dealerProfilePic {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: rgb(200, 200, 215);
  border: 2px solid white;
  position: absolute;
  top: -45px;
  right: 0;
  left: 0;
}

.defaultProfilePic {
  background: url("../images/icons/@2x/default_profile_pic.png") no-repeat;
  background-size: cover;
}

.productInfoBar {
  color: @text-black;
}

.grid-like-icon {
  margin-top: -2px;
  margin-right: 4px;
  height: 16px;
}

.productInfo {
  color: @text-light-gray;
}

.md-card-title {
  line-height: 2.7;
}

// View Deal

.framed-container {
  min-height: 220px;
  max-width: 940px;
  background-color: white;
  border-radius: @rounded-corners-xl;
  box-shadow: @container-shadow;
  padding: 5px 0 30px;
  margin: 50px auto;
  overflow: hidden;
  @media (max-width: @phone-width) {
    border-radius: 0;
  }
}

.framed-container.dl-form {
  margin-bottom: 50px;
}

.vd-title {
  width: 100%;
  padding: 0 20px;
  @media (min-width: @phone-width) {
    padding: 0 30px;
  }
}

.vd-product-photo-container {
  .vd-product-photo {
    width: 100%;
  }
}

.vd-dealer-profile {
  margin: @vd-section-margin;
  text-align: center;
  .vd-upload-date p {
    margin: 0 0 12px 0 !important;
  }
  .dealerProfilePic {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: rgb(200, 200, 215);
    position: initial;
  }
  .vd-dealer-name {
    display: block;
  }
  @media (min-width: @tablet-width) {
    margin-left: 35px;
    text-align: inherit;
    .dealerProfilePic {
      float: none;
      display: inline-block;
    }

    .vd-dealer-name {
      display: inline-block;
      a {
        top: 12px;
      }
    }
  }
}

.vd-actions {
  margin: @vd-section-margin;
  float: none;
  padding: 0 12px;
  .vd-likes-counter p {
    margin-top: 0;
    text-align: left !important;
    padding: 0 8px;
    font-size: 14px;
    img {
      width: 16px;
      margin-right: 4px;
      position: relative;
      top: -1px;
    }
  }
  button.md-button, md-menu {
    margin: 0 8px 0 0;
    color: @theme-dark;
    height: 40px;
    background-color: transparent;
    #vd-options {
      width: 44px;
      margin: 0;
      top: -8px;
    }
    .transition-all;
  }
  @media (min-width: @tablet-width) {
    float: right;
    padding: 0;
    margin-right: 35px;
    .vd-likes-counter p {
      padding: 0 8px 0 12px;
    }

    button.md-button, md-menu {
      margin: 4px 0 4px 4px;
    }
  }
}

.vd-comments {
  margin: @vd-section-margin;
  padding: 0 20px;
  float: left;
  clear: both;
  @media (min-width: @phone-width) {
    width: 100%;
    padding: 0 30px;
  }
  h4 {
    margin: 20px 0 18px;
  }
  .comment {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    margin-bottom: 10px;
    .vd-commenter-pic {
      width: 44px;
      height: 44px;
      border-radius: 22px;
      background-color: rgb(200, 200, 215);
      border: 2px solid white;
      float: left;
    }
    .vd-comment-text-container {
      float: left;
      flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      display: inline-block;
      padding: 2px 6px;
      h5 {
        font-weight: 600;
        margin: 0 0 4px;
      }
      span.vd-comment-date {
        color: @text-light-gray;
        font-size: 12px;
        float: right;
        margin: -20px 8px 0 0;
      }
      p {
        color: @text-light-gray;
      }
    }
    form {
      flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      textarea {
        width: 100%;
        max-width: 460px;
        height: 44px;
        max-height: 200px;
        background-color: @background-gray;
        border-radius: @rounded-corners-large;
        padding: 10px 16px;
      }
    }
  }
}

.vd-info-pane {
  padding: 0 20px;
  margin-bottom: 20px;
  .vd-basic-info {
    .vd-bullet {
      margin-bottom: 18px;
      display: flex;
      display: -webkit-flex;
      display: -ms-flexbox;
      .vd-info-icon {
        height: 28px;
        margin-right: 10px;
        float: left;
      }
      p {
        flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        float: left;
        margin: 2px 0 0 0;
      }
    }
  }

  label {
    font-weight: 700;
  }

  .vd-quantity {
    margin: 20px 0;
    input {
      width: 68px;
    }
    .vd-price {
      font-size: 1.1em;
      font-weight: 600;
      margin-left: 8px;
    }
  }

  input {
    height: 36px;
    background-color: darken(@background-gray, 2%);
    padding: 5px 10px;
    border: none;
    border-radius: @rounded-corners-small;
    box-shadow: none;
  }

  .vd-price-discount {
    margin: 10px 0;
    display: inline-block;
    .vd-price-discount-frame {
      background-color: @theme-dark-transparent;
      padding: 6px 16px;
      border-radius: @rounded-corners-small;
      div {
        display: inline-block;
      }
      .vd-price {
        color: white;
        font-size: 1.5em;
        font-weight: 600;
      }
      .vd-discount {
        color: lighten(@text-light-gray, 25%);
        font-size: 1.2em;
        font-weight: 600;
        margin-left: 8px;
      }
    }
  }

  .vd-more-description {
    margin: @vd-section-margin;
    color: @text-light-gray;
  }
}

.vd-price-discount {
  margin: 10px 0;
  .price {
    color: @theme-dark;
    font-size: 1.3em;
    font-weight: 700;
  }
  .percentage-off {
    color: white;
    font-size: 0.9em;
    font-weight: 600;
    background: #e73232;
    padding: 2px 3px;
    border-radius: 3px;
    position: relative;
    top: -1px;
  }
  .original-price {
    color: @text-light-gray;
    font-size: 1.3em;
    font-weight: 600;
    text-decoration: line-through;
  }
  .vd-price-discount-presentation {
    display: inline-block;
    background: @background-gray;
    border-radius: @rounded-corners-small;
    padding: 12px;
  }
}

// Checkout

.checkout {
  padding: 10px 20px 30px;
  @media (min-width: @phone-width) {
    padding: 10px 40px 30px;
  }
  .co-product-preview {
    width: inherit;
    @media (min-width: @phone-width) {
        padding: 0 14px;
        border-radius: 5px;
        border: solid 1px darken(@background-gray, 2%);
      }
    .co-product-pic {
      width: 100%;
      max-width: 340px;
      margin-bottom: 14px;
      img {
        width: inherit;
        max-width: 340px;
        &.photoHeight {
          width: initial;
          height: 320px;
        }
      }
    }
    .co-price {
      font-size: 1.2em;
      font-weight: bold;
      margin: 20px;
    }
    .co-selections {
      margin: 30px 0;
      li {
        margin: 10px 0;
      }
    }
  }
}

.checkout-finish-options {
  margin-bottom: 24px;
  button {
    margin: 0 10px;
  }
}

.total-price {
  display: inline-block;
  background: @background-gray;
  border-radius: @rounded-corners-small;
  padding: 14px;
  ul {
    margin: 0 0 8px 0;
    li {
      margin-top: 4px;
    }
  }
  span.total-price-result {
    font-size: 1.35em;
    font-weight: 700;
  }
}

.secure-payment-container-upper-right {
  opacity: 0.85;
  margin: -40px 0 30px;
  text-align: right;
}

.secure-payment-container-lower-left {
  opacity: 0.85;
  margin: 0 0 10px;
  text-align: left;
}

.corner-security-message {
  display: inline-block;
  img.ssl-badge {
    display: block;
    height: 42px;
    margin-bottom: 5px;
  }
  img.credit-cards {
    height:30px
  }
}

.dl-select {
  margin: 20px 0;
  md-select {
    padding: 5px 10px;
    background-color: darken(@background-gray, 2%);
    border-radius: @rounded-corners-small;
    margin: 4px 0;
    ._md-select-value {
      padding: 0;
      span {
        margin-top: -4px;
      }
    }
  }
  @media (min-width: @phone-width) {
    md-select {
      width: 200px;
    }

    &.full-width {
      md-select {
        width: 100%;
      }
    }
  }
}

.co-shipping-methods {
  margin: 26px 0;
  md-radio-button {
    font-weight: bold;
    margin-bottom: 4px;
  }
  @media (min-width: @phone-width) {
    margin: 4px 0;
    md-radio-button {
      margin-right: 8px;
      padding: 1% 0;
      ._md-label {
        padding: 2% 0;
      }
    }
  }
}

md-radio-group .co-shipping-methods .md-checked .md-ink-ripple {
  color: inherit;
}

// Add Product

.ap-navbar {
  ul.breadcrumb {
    display: inline-block;
    margin-left: 20px;
  }
}

div.ap-container.nav-padding {
  @media (max-width: @phone-width) {
    padding-top: @navbar-height !important;
  }
  .framed-container {
    padding: 5px 20px 30px;
  }
}

.ap-form-container {
  .transition-all;
  h2 {
    margin: 24px 0 28px;
  }
  &.dl-form {
    padding: 0 24px 24px;
  }
  .ap-title-container {
    color: @theme-dark;
    margin-top: 40px;
    textarea {
      width: 100%;
    }
  }
  .ap-dropdown-menu {
    float: right;
    .md-button.md-icon-button {
      margin: 0;
      font-size: 17px;
    }
  }
}

// ap-form-container

.ap-image-section {
  position: relative;
  color: @theme-primary;
  margin: 0 auto 30px !important;
  .dropzone {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    color: @theme-primary;
    border: 2px dashed @theme-primary;
    border-radius: @rounded-corners-large;
    padding: 40px;
    margin: 20px auto;
    .transition-all;
  }
  .ap-image-container {
    margin: auto;
    max-width: 540px;
    img {
      display: inline-block;
      max-height: 320px;
      top: 0;
      left: 0;
      right: 0;
    }
  }
  .ap-photos-thumbnails {
    position: relative;
    ul {
      display: inline-block;
      margin-top: 10px;
    }
    li {
      float: left;
      position: relative;
    }
    .ap-thumbnail {
      height: 40px;
      margin: 0 6px;
      border: 1px dashed @theme-primary;
      border-radius: @rounded-corners-small;
      &:hover + .ap-thumbnail-remove {
        display: inline;
      }
    }
    .ap-thumbnail-remove {
      display: none;
      &:hover {
        display: inline;
      }
    }
    .ap-input-button .ap-thumbnail img {
      height: 18px;
      opacity: 0.5;
      margin: 10px;
    }
    div.ap-thumbnail {
      border: none;
      border-radius: 0;
      &:hover {
        background-color: rgba(0, 0, 0, 0.5);
      }
      img {
        opacity: 0.3;
      }
    }
    img {
      height: inherit;
    }
  }
  div.ap-thumbnail.selected img {
    opacity: 1.0;
  }
}

// ap-image-section

.ap-success-icon {
  height: 60px;
  margin: 20px 0;
}

.ap-price-and-discount {
  .ap-percentage-off {
    padding-right: 10px;
  }
  .ap-original-price {
    padding-left: 10px;
  }
  @media (min-width: @phone-width) {
    .ap-current-price {
      padding-right: 5px;
    }

    .ap-percentage-off {
      padding-left: 5px;
      padding-right: 5px;
    }

    .ap-original-price {
      padding-left: 5px;
    }
  }
}

.ap-variants-container {
  margin-top: 20px;
}

.variant-name {
  margin: 0;
  padding-right: 5px;
}

.variant-options {
  padding-left: 5px;
}

.ap-section {
  margin: 30px 0;
  @media(min-width: @phone-width) {
    margin: 40px 0;
  }
}

button.ap-remove-variant {
  margin-right: -10px;
  &.first-remove-button {
    margin-top: 24px !important;
  }
}

button.ap-done {
  margin-top: 20px;
}

.ap-shipping-methods {
  .ap-shipping-methods-container {
    padding: 10px 0;
  }
  li {
    margin-bottom: 8px;
    .ap-shipping-controller {
      padding-right: 20px;
    }
    md-checkbox {
      font-weight: bold;
      height: 22px;
      opacity: 0.65;
      margin: 0;
      &.selected {
        opacity: 1.0;
      }
    }
    p.dl-note:not(.dl-danger) {
      margin-bottom: 30px;
    }
  }
  .shipping_options {
    margin-bottom: 20px;
    padding-left: 20px;
    border-left: 1px solid rgb(228, 228, 235);
  }
  .transition-all;
}

// Profile

.pr-settings-container {
  height: 0;
  .pr-settings {
    float: right;
    @media (min-width: @phone-width) {
    }
  }
}

.pr-header-section {
  position: relative;
  text-align: center;
  background-color: white;
  padding: 0 10px;
  margin: 50px 0 30px;
  box-shadow: @product-cell-shadow;

  @media (min-width: @phone-width) {
    padding: @vd-side-padding;
  }

  .spinnerContainer {
    margin-top: 120px auto !important;
  }

  .pr-profile-pic {
    height: 40px;
    border-top: 1px solid rgb(215, 215, 230);
    .dealerProfilePic {
      top: -60px;
      width: 100px;
      height: 100px;
      border-radius: 50px;
      border: 8px solid white;
      margin: auto;
    }
  }
  .pr-name {
    h2 {
      font-weight: 700;
      margin: 5px;
    }
  }
  .pr-rank {
    color: @theme-primary;
    margin: 10px;
    img {
      position: relative;
      top: -2px;
      margin-right: 2px;
    }
    .viewerIcon {
      height: 9px;
    }
    .dealerIcon {
      height: 9px;
    }
    .proDealerIcon {
      height: 14px;
    }
    .seniorDealerIcon {
      height: 17px;
    }
    .masterDealerIcon {
      top: -2px;
      height: 18px;
    }
  }
  .pr-location {
    color: @text-light-gray;
    margin: 10px;
    img {
      position: relative;
      top: -2px;
      height: 14px;
    }
  }
  .pr-about {
    color: @text-light-gray;
    margin: 0 auto;
    width: 80%;
    min-width: 260px;
  }
  .pr-basic-info {
    border-bottom: 1px solid rgb(215, 215, 230);
    padding-bottom: 20px;
  }
  .pr-options-list {
    margin: 10px;
    ul {
      margin: auto;
      li {
        display: inline;
        margin: 10px;
        button {
          color: @theme-primary;
          background-color: transparent;
        }
      }
      li.active {
        button {
          color: white;
          background-color: @theme-primary;
        }
      }
    }
  }
}

// Edit Profile

.epr-container {
  .md-button.btn-primary.btn-single {
    margin: 0 auto;
  }
}

// Purchases

md-list {
  md-list-item.md-3-line, md-list-item.md-3-line > ._md-no-style {
    min-height: 128px;
  }
  .purchase-list-item {
    &.md-3-line .md-list-item-text h4.purchase-amount {
      color: @text-price-green;
      font-weight: bold;
    }
  }
}

.purchase-details {
  li {
    line-height: 2.0;
  }
  .purchase-amount {
    color: @text-price-green;
    font-weight: bold;
  }
  h4 {
    margin: 6px 0;
  }
  .loadingSpinner {
    width: 30px;
    height: 84px;
    margin-top: -30px;
  }
}

button.received {
  color: white !important;
  background-color: @text-success !important;
  &.md-button:not([disabled]):hover {
    background-color: #56F571 !important;
  }
}

// Forms

.dl-form {
  color: @theme-dark;
  width: 720px;
  padding: 10px 40px 30px;
  margin: 20px auto 30px;
  @media (max-width: 721px) {
    width: 100%;
    padding: 24px;
    margin: 0 auto;
  }
  a
  h2 {
    margin: 24px 0;
  }
}

md-dialog .dl-form {
  @media (min-width: 722px) {
    padding: 0;
  }
}

.dl-form.form-sm {
  @media (min-width: 440px) {
    width: 400px;
  }
  > .dl-field {
    width: 100%;
  }
}

.dl-form-col {
  width: 252px;
  &.left-col {
    margin-right: 30px;
  }
  &.single-col {
    margin: auto;
    width: 100%;
  }
  @media (max-width: 721px) {
    width: 100% !important;
    &.left-col {
      margin-right: 0;
    }
  }
  h2 {
    margin-bottom: 30px;
  }
}

.dl-form-full {
  width: 100%;
}

.dl-field-plus {
  margin-bottom: 20px;
}

.dl-field {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  width: 100%;
  margin-bottom: 16px;
  position: relative;
  &.no-icon-field {
    display: inline-block;
  }
  img {
    flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    height: 30px;
    margin: 5px 8px 5px 0;
  }
  .dl-input {
    width: 100%;
    height: @dl-input-height;
    padding: 0 10px;
    background-color: @background-gray;
    border-color: @background-gray;
    border-radius: 8px;
    margin: 0 0 10px;
    .no-padding {
      padding-left: 0;
    }
    &.small-input {
      width: 90px;
    }
  }
  textarea.dl-input {
    padding: 10px;
    min-height: 80px;
  }
  input[type="radio"] {
    margin-left: 12px;
    &.first {
      margin-left: 0;
    }
  }
  div.dl-inline-field-icon {
    display: none;
    width: @dl-input-height;
    height: @dl-input-height;
    position: absolute;
    right: 10px;
    button {
      width: 100%;
      height: 100%;
    }
    i.glyphicon {
      opacity: 0.5;
    }
    @media (min-width: 721px) {
      display: inline;
    }
  }
  .caret {
    position: absolute;
    top: 18px;
    left: 28px;
    color: @text-light-gray;
  }
}

.dl-date-field {
  .btn {
    font-weight: 400;
    border: 1px solid transparent;
    border-radius: 3px;
  }
  .btn-default {
    border-color: rgb(204, 204, 215);
  }
}

button.dl-submit {
  display: block;
  margin: 30px auto 8px;
  @media (max-width: 721px) {
    width: 100%;
  }
}

.form-section {
  margin-bottom: 40px;
}

// Button Styles

.md-button {
  border-radius: 5px;
  text-transform: uppercase;
  padding: 4px 12px;
  .transition-all;
  img.side-icon {
    height: 16px;
    position: relative;
    margin-right: 2px;
    top: -2px;
  }
  div.side-icon {
    display: inline-block;
    height: 16px;
    position: relative;
    margin-right: 18px;
    top: 5px;
    img {
      height: inherit;
      position: absolute;
    }
  }
  img.main-icon {
    height: 20px;
  }
  &:hover {
    // background-color: lighten(@background-gray, 5%) !important;
  }
}

.btn-colored {
  color: @theme-primary !important;
}

.btn-default {
  .button-variant(@theme-dark; @theme-button; @theme-button);
}

.btn-secondary {
  .button-variant(@theme-primary; white; @theme-primary);
}

.md-button.btn-white {
  .button-variant(@theme-dark; @theme-white; @theme-white);
}

.md-button.btn-default {
  .button-variant(@theme-dark; @theme-button; @theme-button);
}

.md-button.btn-primary {
  font-weight: bold;
  font-size: 0.9em;
  .button-variant(white; @theme-primary; transparent);
  &.btn-white {
    background-color: @theme-white;
    color: @theme-dark;
  }
  &.btn-single {
    display: block;
    margin: 30px auto;
    font-weight: 700;
    padding: 2px 24px;
    @media (max-width: @phone-width) {
      width: 100%;
    }
  }
}

.md-button.btn-secondary {
  .button-variant(@theme-primary; white; @theme-primary);
}

.md-button.btn-primary:not([disabled]):hover,
.md-button.btn-primary:not([disabled]).md-focused {
  background-color: #b443c7;
}

.md-button.btn-primary.btn-white:not([disabled]):hover {
  background-color: white;
}

.gray-links {
  .gray-links;
}

.inputfile {
  width: 0.01px;
  height: 0.01px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  cursor: pointer;
}

.inputfile-container {
  display: inline-block;
}

.btn-sm {
  border: none;
}

.btn-smaller {
  font-size: 0.8em !important;
}

.btn-xl {
  padding: 14px 30px;
}

.btn-glass {
  background-color: rgba(255, 255, 255, 0.3);
  &:hover, &:active, &:focus {
    background-color: rgba(255, 255, 255, 0.6);
  }
}

.md-button.facebook {
  color: white;
  background-color: @theme-facebook;
  margin-top: 20px;
}

.md-button:not([disabled]):hover.facebook,
.md-button:not([disabled]):active.facebook,
.facebook.md-button:not([disabled]).md-focused {
  background-color: #4B6FC9;
}

.btn-container {
  width: 100%;
  margin: 12px 0;
  clear: left;
  button {
    display: block;
    margin: 0 auto;
  }
}

#logIn {
  position: absolute;
  padding: 10px;
  top: 10px;
  right: 10px;
  z-index: 10;
  @media (min-width: @tablet-width) {
    padding: 14px 30px;
    top: 20px;
    right: 50px;
  }
}

// Angular Classes

.dl-form {
  .ng-invalid.ng-dirty {
    border-color: lighten(@text-error, 10%) !important;
  }
  .ng-valid.ng-dirty {
    border-color: lighten(@text-success, 10%) !important;
  }
  .dl-input {
    .md-select-value, .md-datepicker-input-container {
      border-bottom: none !important;
      margin: 3px 0 0 0;

    }
    .md-button.md-icon-button {
      margin: 0 !important;
    }
  }
  .md-select-value.md-select-placeholder {
    color: @text-light-gray;
  }
}

.md-button {
  margin: 0;
  padding: 0 14px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.md-avatar {
  background-color: @background-gray;
}

md-dialog {
  &.sign-in-dialog, &.seller-dialog {
    border-radius: @rounded-corners-large;
    width: 640px;
  }
  md-dialog-actions {
    background-color: @theme-white;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.md-datepicker-input-mask {
  width: inherit !important;
}

.md-datepicker-input-mask-opaque {
  right: inherit !important;
}

md-tabs.md-dynamic-height md-tab-content {
  padding: 30px 30px 0;
  @media (max-width: @phone-width) {
    padding: 20px 12px;
  }
}

.md-title {
  font-size: 18px;
}

md-backdrop.md-dialog-backdrop {
  z-index: 1040;
}

.md-dialog-container {
  z-index: 2000;
  height: 100% !important;
  top: 0 !important;
  position: fixed !important;
}

._md-open-menu-container {
  z-index: 2000;
}

.md-datepicker-calendar-pane {
  z-index: 2000;
}

md-menu-content {
  max-height: 444px;
}

.md-toolbar-tools {
  background-color: @theme-white;
  h2 {
    color: @theme-dark;
  }
}

md-content {
  color: @theme-dark;
  background-color: white;
  .md-button.btn-primary.btn-single {
    margin: 0 auto;
    @media (min-width: @phone-width) {
      margin: 15px auto;
    }
  }
}

md-tabs-canvas {
  background-color: @theme-white;
}

md-checkbox.dl-note {
  width: initial;
}

.framed-container {
  md-tabs-canvas {
    border-radius: @rounded-corners-xl;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.framed-container.small-container {
  color: @theme-dark;
  width: 640px;
  padding: 10px 40px 30px;
  margin: 20px auto 30px;
  @media (max-width: 721px) {
    width: 100%;
    padding: 24px;
    margin: 0 auto;
  }
}

md-tabs .tabIndex {
  width: 24px;
  height: 24px;
  display: inline-block;
  margin: 0 20px 20px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  color: white;
}

md-tabs .md-tab.md-active .tabIndex {
  background-color: @theme-primary;
}

.md-tab > .tabIndex {
  margin-bottom: 5px;
}

md-tab-content .dl-form {
  padding: 0 8px;
}

.paged-form {
  md-pagination-wrapper, md-tabs-canvas {
    height: 72px;
  }
  md-content {
    padding-bottom: 20px;
  }
  div#security-message {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    max-width: 400px;
    margin: 26px auto 0;
    padding: 0 8px;
    p.dl-note.info-note {
      margin: -10px 0 20px 12px;
    }
    img {
      flex-shrink: 0;
      width: 30px;
      height: 30px;
    }
  }
}

.done-registration {
  padding-right: 20px;
  padding-left: 20px;
}

.md-padding {
  padding: 30px 20px 10px;
}

div.container .md-padding {
  padding: 15px;
}

.fullscreen-dialog {
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 !important;
}

md-dialog.md-dialog-fullscreen {
  border-radius: 0 !important;
  top: 0;
  bottom: 0;
}

body.md-dialog-is-showing {
  overflow: visible !important;
}

md-toolbar:not(.md-menu-toolbar) {
  color: @theme-dark;
}

.md-btn-small {
  width: initial;
  font-size: 0.9em;
  font-weight: bold;
  padding: 0 8px;
  min-width: 0 !important;
  &.btn-background {
    background-color: @theme-button;
    &:not([disabled]):hover {
      background-color: darken(@theme-button, 5%);
    }
  }
}

._md-select-value {
  border-bottom-style: none !important;
  padding: 3px 2px 1px;
}

.md-chips ._md-chip-input-container {
  margin: 3px 4px 0 0;
  font-size: 0.9em;
}

.md-chips ._md-chip-input-container:not(:first-child) {
  margin: 3px 3px 0 0;
}

md-chips .md-chips {
  padding: 0 0 3px 3px;
  box-shadow: 0 0 rgba(0, 0, 0, 0);
  &.md-focused {
    box-shadow: 0 0 rgba(0, 0, 0, 0);
  }
}

.md-chips md-chip {
  border-radius: 5px;
  margin: 3px 3px 0 0;
  background-color: #D8D8DE;
  font-size: 0.9em;
}

.md-chips md-chip ._md-chip-remove md-icon {
  width: 14px;
  height: 14px;
  min-width: 14px;
  min-height: 14px;
  opacity: 0.75;
  right: -4px;
}

.dl-field .dl-input.chips-input {
  height: auto;
  padding-left: 5px;
  padding-right: 5px;
}

.md-chips ._md-chip-input-container input:not([type]),
.md-chips ._md-chip-input-container input[type=url],
.md-chips ._md-chip-input-container input[type=text],
.md-chips ._md-chip-input-container input[type=email],
.md-chips ._md-chip-input-container input[type=number],
.md-chips ._md-chip-input-container input[type=tel] {
  width: 100px;
}

// For handling the top page jump when using md-select and others.
:-ms-input-placeholder, :root {
  body[style] {
    position: inherit !important;
    top: inherit !important;
    width: inherit !important;
  }

  .md-click-catcher.md-wbTheme-theme {
    height: 100%;
    position: fixed;
    width: 100%;
  }
}

// To fix Google's locations autocomplete position.
.pac-container {
  margin-top: -50px;
  @media (min-width: @phone-width) {
    margin-top: -70px;
  }
}

// Placeholders

::-webkit-input-placeholder {
  .placeholder(@text-light-gray);
}

:-moz-placeholder {
  .placeholder(@text-light-gray);
}

:-ms-input-placeholder {
  .placeholder(@text-light-gray);
}

// Footer

footer {
  padding: 40px 0;
  background-color: rgba(237, 237, 246, 1);
  border-top: solid 1px rgb(215, 215, 222);
  text-align: center;
  .dark-links;
  @media (max-width: @phone-width) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.flag-icon {
  margin: 0 4px;
  height: 16px;
}

menu-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  font-size: 0.85em;
  line-height: 3.1em;
  padding: 0 16px;
  background-color: @background-gray;
  border-top: solid 1px rgb(227, 227, 232);
  .dark-links;
  ul {
    margin-bottom: 0;
  }
}

.footer {
  > li > a {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 300;
    color: fade(white, 60%);
    background: transparent;
    &:hover {
      color: white;
      background: none;
      opacity: 1;
    }
  }
  .facebook {
    opacity: 0.6;
    padding: 10px;
    margin-left: 4px;
    img {
      width: 30px;
      height: 30px;
    }
    @media (min-width: @tablet-width) {
      margin-left: 15px;
    }
  }
}

#copyrights {
  padding: 30px 0 6px;
  color: fade(white, 30%);
  font-weight: 300;
}

// Material Icons

.material-icons {
  .transition-all;
  &.theme-color {
    color: @theme-primary;
  }
  &.light-gray {
    color: @text-light-gray;
  }
}

.material-icons.md-18 {
  font-size: 18px;
}

button.md-icon-button.md-21 {
  width: 36px;
  height: 36px;
  line-height: 21px;
  .material-icons {
    font-size: 21px;
  }
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

// Our Elements

minimizable {
  button {
    margin-top: 8px !important;
  }
  .mini-container {
    position: relative;
    .text-bottom-cover {
      .transition-all;
      width: 100%;
      height: 60px;
      position: absolute;
      bottom: 0;
      background: white; /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(rgba(255,255,255,0), white); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(rgba(255,255,255,0), white); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(rgba(255,255,255,0), white); /* For Firefox 3.6 to 15 */
      background: linear-gradient(rgba(255,255,255,0), white); /* Standard syntax */
    }
  }
}