<dl-navbar></dl-navbar>

<div class="container nav-padding" ng-cloak>
    <div class="framed-container container-padding purchase-details" ng-switch on="status">
        <div ng-switch-when="downloading">
            <loading-spinner></loading-spinner>
        </div>
        <div ng-switch-when="failed">
            <h1 class="dl-download-error">{{errorMessage}} <br> {{errorPrompt}} </h1>
        </div>
        <div ng-switch-when="downloaded" layout="column">
            <h2 translate>views.purchase-details.title</h2>
            <div layout="row" layout-xs="column">
                <div class="pd-purchase-details margin-bottom-30" flex flex-xs="60">
                    <div class="margin-bottom-30">
                        <ul>
                            <li class="purchase-amount">{{purchase.amount / 100 * purchase.quantity |
                                currency:purchase.currency}}
                            </li>
                            <li ng-repeat="selection in purchase.selections">
                                {{selection.name}}: <b>{{selection.selection}}</b>
                            </li>
                            <li>{{"views.orders-list.qty" | translate}}: <b>{{purchase.quantity}}</b> <span ng-show="purchase.quantity > 1"><b>({{purchase.amount / 100 | currency: purchase.currency}} each)</b></span>
                            </li>
                            <li>{{"views.orders-list.status" | translate}}: <b>{{parseForPresentation(purchase)}}</b></li>
                            <li>{{"views.purchase-details.purchase-date" | translate}}: <b>{{purchase.purchase_date | date: 'short'}}</b></li>
                            <li ng-show="purchase.send_date != null">{{"views.purchase-details.send-date" | translate}}: <b>{{purchase.send_date | date:
                                'short'}}</b></li>
                            <li ng-show="purchase.receive_date != null">{{"views.purchase-details.receive-date" | translate}}: <b>{{purchase.receive_date | date:
                                'short'}}</b></li>
                            <li ng-show="purchase.estimated_delivery_time > 0">{{"views.orders-list.etd" | translate}}: <b>{{purchase.estimated_delivery_time}}
                                {{"views.orders-list.days" | translate}}</b>
                            </li>
                            <li>
                                {{"views.sales-list.bought-by" | translate}}: <a
                                    ng-href="/dealers/{{purchase.buyer.id}}"><b>{{purchase.buyer.full_name}}</b></a>
                            </li>
                        </ul>
                    </div>
                    <div class="margin-bottom-30">
                        <h4 translate>views.purchase-details.shipping-address-title</h4>
                        <ul>
                            <li>{{"views.purchase-details.address" | translate}}: <b>{{shipping_address.st_address}}</b></li>
                            <li>{{"views.purchase-details.city" | translate}}: <b>{{shipping_address.city}}</b></li>
                            <li ng-show="shipping_address.state.length > 0">{{"views.purchase-details.state" | translate}}: <b>{{shipping_address.state}}</b>
                            </li>
                            <li>{{"views.purchase-details.country" | translate}}: <b>{{shipping_address.country}}</b></li>
                            <li ng-show="shipping_address.zip.length > 0">{{"views.purchase-details.zip" | translate}}: <b>{{shipping_address.zip}}</b></li>
                        </ul>
                    </div>
                    <div class="margin-bottom-30">
                        <h4 translate>views.purchase-details.delivery</h4>
                        <div class="loadingSpinner" ng-hide="downloadedDelivery">
                            <loading-spinner size="small"></loading-spinner>
                        </div>
                        <ul ng-show="downloadedDelivery">
                            <li>{{"views.purchase-details.shipping-title" | translate}}: <b>{{delivery.title}}</b></li>
                            <li>
                                {{"views.purchase-details.shipping-price" | translate}}:
                                <span ng-show="delivery.shipping_price == 0">
                                        <b>{{"general.free" | translate}}</b>
                                    </span>
                                <span ng-hide="delivery.shipping_price == 0" class="purchase-amount">
                                        {{delivery.shipping_price | currency: purchase.currency}}
                                    </span>
                            </li>
                            <li ng-show="delivery.estimated_delivery_time">
                                {{"views.orders-list.etd" | translate}}:
                                <b>{{delivery.estimated_delivery_time}}
                                {{"views.orders-list.days" | translate}}</b></li>
                        </ul>
                    </div>
                    <div class="margin-bottom-30" ng-show="downloadedDelivery">
                        <h4 translate>views.purchase-details.total-price</h4>
                        <total-price-calculator present="downloadedDelivery" purchase="purchase"
                                                delivery="delivery"></total-price-calculator>
                    </div>
                    <div class="margin-bottom-30">
                        <h4 translate>views.purchase-details.status</h4>
                        <md-button ng-show="isDealer" class="md-button md-btn-small btn-background"
                                   ng-class="{'received': purchase.status == 'Sent'}"
                                   ng-click="changeDealerStatus($event, purchase)" update-status-dealer
                                   ng-disabled="purchase.status == 'Received'">
                            {{markButtonTitle(purchase)}}
                        </md-button>
                        <md-button ng-hide="isDealer" class="md-button md-btn-small btn-background"
                                   ng-class="{'received': purchase.status == 'Received'}"
                                   ng-click="changeBuyerStatus($event, purchase)" update-status-buyer>
                            {{markButtonTitle(purchase)}}
                        </md-button>
                    </div>
                </div>
                <div flex flex-xs="40">
                    <dl-product ng-if="product" product="product"></dl-product>
                </div>
            </div>
        </div>
    </div>
</div>

<footer-section></footer-section>