<md-content ng-switch="loadingStatus">
    <div ng-switch-when="loading">
        <loading-spinner></loading-spinner>
    </div>
    <div ng-switch-when="downloaded">
        <md-list flex ng-show="purchases.length > 0">
            <div class="list-item-container" ng-repeat="purchase in purchases">
                <md-list-item class="purchase-list-item md-3-line" ng-click="purchaseDetails(purchase, $event)">
                    <div class="md-list-item-text">
                        <h3 flex-sm="60">{{cutTitle(purchase.deal.title)}}</h3>
                        <h4 class="purchase-amount">{{(purchase.amount / 100) * purchase.quantity | currency:
                            purchase.currency}}</h4>
                        <p>{{"views.orders-list.qty" | translate}}: {{purchase.quantity}} <span ng-show="purchase.quantity > 1">({{purchase.amount / 100 | currency: purchase.currency}} {{"views.orders-list.each" | translate}})</span>
                        </p>
                        <p>{{"views.sales-list.bought-by" | translate}} <a ng-href="/dealers/{{purchase.dealer.id}}"
                                        ng-click="$event.stopPropagation();">
                            {{purchase.dealer.full_name}}</a>
                            {{"views.orders-list.on-the-date" | translate}}
                            {{purchase.purchase_date | date: 'short'}}</p>
                        <p>{{"views.orders-list.status" | translate}}: {{parseForPresentation(purchase)}}</p>
                        <p ng-show="purchase.estimated_delivery_time > 0">
                            {{"views.orders-list.etd" | translate}}
                            {{purchase.estimated_delivery_time}}
                            {{"views.orders-list.days" | translate}}</p>
                        <div flex="none">
                            <md-button class="md-button md-secondary md-btn-small btn-background"
                                       ng-class="{'received': purchase.status == 'Sent'}"
                                       ng-click="changeDealerStatus($event, purchase)" update-status-dealer
                                       ng-disabled="purchase.status == 'Received'">
                                {{markButtonTitle(purchase)}}
                            </md-button>
                        </div>
                    </div>
                </md-list-item>
                <md-divider></md-divider>
            </div>
        </md-list>
        <h4 ng-show="purchases.length == 0" class="text-center" translate>views.sales-list.have-not-sold</h4>
    </div>
</md-content>