<div class="total-price">
    <ul>
        <li>{{price | currency: purchase.currency}}</li>
        <li ng-show="purchase.quantity > 1">x
            {{purchase.quantity}}
            {{"views.total-price-calculator.units" | translate}}</li>
        <li ng-show="shipping_price >= 0">+
            {{shipping_price | currency: purchase.currency}}
            {{"views.total-price-calculator.for-shipping" | translate}}
        </li>
        <li ng-hide="shipping_price >= 0" class="text-muted dl-note"><i>{{"views.total-price-calculator.didnt-select-delivery" | translate}}</i></li>
    </ul>
    {{"views.total-price-calculator.total" | translate}}: <span class="total-price-result">{{(price * purchase.quantity + shipping_price) | currency: purchase.currency}}</span>
</div>