<header>
	<a id="logIn" href="#/login" class="btn btn-primary btn-xl btn-glass">
		Log In
	</a>
    <div class="header-content">
        <div class="header-content-inner">
            <div id="mainLogo"><img src="../../assets/images/Icons/@2x/Web_Icons_intro_logo_full_80.png" /></div>
            <h4>Don’t you prefer to hear about deals from your friends or other consumers like you? Well, that's what Dealers is all about.</h4>
            <div id="signUpSection">
	    		<a href="" class="btn btn-facebook btn-xl">Continue with Facebook</a>
	    		<a href="#/sign-up" class="btn btn-default btn-xl">Sign up with email</a>
	    	</div>
        </div>
    </div>
    <div class="find-out-more" find-out-more>
    </div>
</header>

<about-section></about-section>

<ios-section></ios-section>

<footer-section></footer-section>