.xs-font {
  font-size: 12px;
}
.small-font {
  font-size: 12px;
}
.regular-font {
  font-size: 14px;
}
.large-font {
  font-size: 16px;
}
.xl-font {
  font-size: 18px;
}
.clickable {
  opacity: 1;
  transition: all ease-out 0.2s;
}
.clickable:hover {
  opacity: 0.4;
}
.dark-links a {
  color: #646473;
}
.dark-links a:hover,
.dark-links a:active {
  color: #8c8c9b;
}
.repeated-item.ng-enter,
.repeated-item.ng-move,
.dl-fade.ng-hide,
.dl-fade.ng-enter {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all ease-out 0.3s;
  opacity: 0;
}
.repeated-item.ng-enter.ng-enter-active,
.repeated-item.ng-move.ng-move-active,
.dl-fade.ng-hide-remove,
.dl-fade.ng-enter.ng-enter-active {
  opacity: 1;
}
