@import url(https:\/\/fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
.xs-font {
  font-size: 12px;
}
.small-font {
  font-size: 12px;
}
.regular-font {
  font-size: 14px;
}
.large-font {
  font-size: 16px;
}
.xl-font {
  font-size: 18px;
}
.clickable {
  opacity: 1;
  transition: all ease-out 0.2s;
}
.clickable:hover {
  opacity: 0.4;
}
html,
body {
  width: 100%;
  height: 100%;
  min-width: 296px;
  color: #323241;
}
body {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
hr {
  border-color: #9c27b0;
  border-width: 3px;
  max-width: 50px;
}
hr.light {
  border-color: white;
}
a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all ease-out 0.3s;
  color: #9c27b0;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #d176e1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.4;
}
p {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 20px;
}
ul {
  padding: 0;
  list-style-type: none;
}
.bg-primary {
  background-color: #9c27b0;
}
.bg-dark {
  background-color: #323241;
  color: white;
}
.text-faded {
  color: rgba(255, 255, 255, 0.7);
}
.text-muted {
  color: #8c8c9b;
}
aside {
  padding: 50px 0;
}
.no-padding {
  padding: 0 !important;
}
.no-margin {
  margin: 0 !important;
}
.nav-padding {
  padding-top: 74px !important;
}
.nav-margin {
  margin-top: 74px !important;
}
button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  /* for input */
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
}
input {
  background: none;
  border: 1px solid;
  box-shadow: none;
}
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f5f5fb;
}
h4 {
  font-weight: 400;
  margin: 14px 0;
}
.content {
  padding-top: 84px;
}
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}
.container-background {
  background-color: white;
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.1);
}
.clickable {
  opacity: 1;
  transition: all ease-out 0.2s;
}
.clickable:hover {
  opacity: 0.4;
}
.dl-note {
  width: 100%;
  font-size: 0.9em;
  margin: 10px 0;
}
p.dl-error {
  color: #ff3b30 !important;
  clear: left;
}
.form-control {
  background-color: #f5f5fb;
  border-radius: 5px;
  border: 1px solid #e8e8f7;
}
.like-btn {
  position: relative;
}
@media (min-width: 768px) {
  .mobile {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .non-mobile {
    display: none !important;
  }
}
.navbar-default {
  font-size: 0.9em;
  font-weight: 400;
  height: 54px;
  border: none;
  background-color: white;
  box-shadow: 0 2px 15px 1px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all ease-out 0.3s;
}
.navbar-default .navbar-brand {
  height: 54px;
  padding: 12px;
}
.navbar-default .navbar-brand img {
  height: 100%;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  opacity: 0.5;
}
.navbar-default .navbar-profile {
  color: #323241;
}
@media (max-width: 768px) {
  .navbar-default .navbar-profile {
    margin-right: -15px;
  }
}
.navbar-default li > ul.dropdown-menu {
  width: 100%;
}
@media (max-width: 768px) {
  .navbar-default span {
    display: none;
  }
}
.navbar div.container {
  height: inherit;
}
@media (max-width: 768px) {
  .navbar div.container {
    display: flex;
  }
}
.navbar-search {
  flex: 1;
}
@media (max-width: 768px) {
  .navbar-search {
    margin: 0 10px 0 8px;
  }
}
.navbar-search .form-control {
  height: 34px;
  margin: 10px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all ease-out 0.3s;
}
@media (max-width: 768px) {
  .navbar-search .form-control {
    flex: 1;
  }
}
@media (min-width: 768px) {
  .navbar-search .form-control {
    width: 188px;
  }
  .navbar-search .form-control:focus,
  .navbar-search .form-control:active {
    width: 298px;
  }
}
.nav > li > a {
  display: inline-block;
  color: #9600b4;
  font-size: 1.2em;
  background: transparent;
  padding: 10px;
  -webkit-transition: all 0.08s;
  -moz-transition: all 0.08s;
  transition: all ease-out 0.08s;
  height: 54px;
}
.nav > li > a:hover {
  background-color: #f5f5fb;
}
nav img.profileThumbnail {
  width: 34px;
  height: 34px;
  margin-top: -1px;
  margin-right: 6px;
  background-color: transparent;
}
.full-screen-categories {
  background: white;
  padding-bottom: 30px;
}
.full-screen-categories ul a {
  font-size: 16px;
  color: #323241;
}
.full-screen-categories ul a:hover {
  alpha: 1.0;
}
.full-screen-categories ul a li {
  line-height: 3.6;
  padding: 0 30px;
  -webkit-transition: all 0.08s;
  -moz-transition: all 0.08s;
  transition: all ease-out 0.08s;
}
.full-screen-categories ul a li:hover {
  background-color: #f5f5fb;
}
.dl-categories {
  position: relative;
  left: -15px;
  background: white;
  padding: 10px 0;
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.dl-categories span.nav-carret {
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  top: -9px;
  left: 30px;
  border-radius: 2px;
  transform: rotate(45deg);
}
.dl-categories ul a {
  font-size: 14px;
  color: #323241;
}
.dl-categories ul a:hover {
  alpha: 1.0;
}
.dl-categories ul a li {
  line-height: 2.4;
  padding: 0 30px;
  -webkit-transition: all 0.08s;
  -moz-transition: all 0.08s;
  transition: all ease-out 0.08s;
}
.dl-categories ul a li:hover {
  background-color: #f5f5fb;
}
.dg-title {
  text-align: center;
  font-weight: 700;
  margin: 20px;
}
.dg-download-message {
  font-size: 24px;
  color: #8c8c9b;
  width: 100%;
  text-align: center;
  margin: 114px auto;
}
.spinnerContainer {
  position: relative;
  margin: 64px auto;
}
.dg-loading-more {
  width: 100%;
  height: 70px;
  clear: both;
}
.dg-loading-more .spinnerContainer {
  margin: 0 0 20px;
  height: 70px;
}
.row > [class^="col-"],
.row > [class*=" col-"] {
  padding-right: 10px;
  padding-left: 10px;
}
section.dealContainer {
  padding-bottom: 20px;
}
.deal {
  background-color: white;
  padding: 0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.1);
}
.dealImage.loading {
  width: 100%;
  margin: 0 auto;
  background-color: #8c8c9b;
  padding-bottom: 67.8125%;
}
.dealImage.doneLoading {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 0;
}
div.noImageBackground {
  width: 100%;
  height: 120px;
}
.dealInfoBar {
  padding: 4px 14px;
}
.priceContainer {
  float: left;
  color: white;
  font-size: 1.6em;
  font-weight: 300;
  margin-top: -60px;
  margin-left: -14px;
  padding: 4px 15px;
  position: absolute;
  background-color: rgba(50, 50, 65, 0.8);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.price {
  margin-right: 12px;
}
.discount {
  color: #8c8c9b;
}
.previousPrice {
  text-decoration: line-through;
}
.profilePicContainer {
  position: relative;
}
.dealerProfilePic {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: #c8c8d7;
  border: 2px solid white;
  position: absolute;
  top: -45px;
  right: 0;
}
.defaultProfilePic {
  background: url("../images/icons/@2x/default_profile_pic.png") no-repeat;
  background-size: cover;
}
.dealInfoBar {
  color: #323241;
}
.infoIcon {
  margin-top: -2px;
  margin-right: 6px;
}
.dealInfo {
  font-size: 12px;
  color: #8c8c9b;
}
.vd-container {
  min-height: 150px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.1);
  padding: 5px 0 30px;
  margin: 50px 0;
}
.vd-title {
  width: 100%;
  padding: 0 45px;
  margin-bottom: 20px;
}
.vd-deal-photo-container .vd-deal-photo {
  width: 100%;
}
.vd-dealer-profile {
  margin: 20px 0 0;
  padding: 0 15px 0 45px;
}
.vd-dealer-profile .dealerProfilePic {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background-color: #c8c8d7;
  position: initial;
  float: left;
}
.vd-dealer-profile .vd-dealer-name {
  font-size: 16px;
  margin: 24px 8px;
  float: left;
}
@media (max-width: 768px) {
  .vd-dealer-profile {
    text-align: center;
  }
  .vd-dealer-profile .vd-upload-date p {
    margin: 0 0 12px 0 !important;
  }
  .vd-dealer-profile .dealerProfilePic {
    float: none;
    display: inline-block;
  }
  .vd-dealer-profile .vd-dealer-name {
    float: none;
    margin: 8px 10px 0;
  }
}
.vd-actions {
  margin: 20px 0 0;
  padding: 0px;
}
.vd-actions .vd-actions-container {
  float: right;
  margin-right: 15px;
}
.vd-actions .vd-actions-container #vd-options {
  padding: 5px;
  border: none;
}
.vd-actions .vd-actions-container #vd-options img {
  height: 18px;
  margin: 0;
}
@media (max-width: 768px) {
  .vd-actions .vd-actions-container {
    float: none;
    text-align: center;
    padding: 0 30px;
  }
  .vd-actions .vd-actions-container .vd-likes-counter p {
    text-align: left !important;
  }
  .vd-actions .vd-actions-container .vd-buttons-container {
    display: inline-block;
    margin-right: 8px;
  }
  .vd-actions .vd-actions-container .vd-buttons-container button {
    height: 38px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .vd-actions .vd-actions-container {
    width: 50%;
  }
}
.vd-actions .vd-actions-container .vd-likes-counter p {
  font-size: 14px;
  text-align: right;
}
.vd-actions .vd-actions-container .vd-likes-counter p img {
  width: 16px;
  margin-right: 4px;
  position: relative;
  top: -1px;
}
.vd-actions button.btn {
  margin: 8px 0 8px 8px;
  color: #9c27b0;
  border: 1px solid #9c27b0;
  background-color: transparent;
  opacity: 1;
  transition: all ease-out 0.2s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all ease-out 0.3s;
}
.vd-actions button.btn:hover {
  opacity: 0.4;
}
.vd-actions button.btn:hover {
  opacity: 0.4;
}
@media (min-width: 768px) and (max-width: 992px) {
  .vd-actions button.btn {
    width: 100%;
    margin: 6px 0;
  }
  .vd-actions button.btn#vd-options {
    width: 38%;
    float: right;
  }
}
.vd-actions button.btn #vd-like .side-icon {
  position: absolute;
  top: -1px;
}
.vd-comments {
  margin: 20px 0 0;
  padding: 0 45px;
  float: left;
  clear: both;
}
@media (max-width: 768px) {
  .vd-comments {
    width: 100%;
    padding: 0 30px;
  }
}
.vd-comments h4 {
  margin: 20px 0 18px;
}
.vd-comments .comment {
  display: flex;
  margin-bottom: 10px;
}
.vd-comments .comment .vd-commenter-pic {
  width: 44px;
  height: 44px;
  border-radius: 22px;
  background-color: #c8c8d7;
  border: 2px solid white;
  float: left;
}
.vd-comments .comment .vd-comment-text-container {
  float: left;
  flex: 1;
  display: inline-block;
  padding: 2px 6px;
}
.vd-comments .comment .vd-comment-text-container h5 {
  font-weight: 600;
  margin: 0 0 4px;
}
.vd-comments .comment .vd-comment-text-container h5 span.vd-comment-date {
  color: #8c8c9b;
  font-size: 12px;
  font-weight: 200;
  margin-left: 8px;
}
.vd-comments .comment .vd-comment-text-container p {
  color: #8c8c9b;
}
.vd-comments .comment form {
  flex: 1;
}
.vd-comments .comment form textarea {
  width: 100%;
  max-width: 460px;
  height: 44px;
  max-height: 200px;
  background-color: #f5f5fb;
  border-radius: 10px;
  padding: 10px 16px;
}
.vd-info-pane {
  padding-left: 15px !important;
  padding-right: 45px !important;
}
@media (max-width: 768px) {
  .vd-info-pane {
    margin: 20px 0 0;
    padding: 0 30px !important;
  }
}
.vd-info-pane .vd-basic-info .vd-bullet {
  margin-bottom: 18px;
  display: flex;
}
.vd-info-pane .vd-basic-info .vd-bullet .vd-info-icon {
  height: 28px;
  margin-right: 10px;
  float: left;
}
.vd-info-pane .vd-basic-info .vd-bullet p {
  flex: 1;
  float: left;
  margin: 2px 0 0 0;
}
.vd-info-pane .vd-price-discount {
  margin: 10px 0;
  display: inline-block;
}
.vd-info-pane .vd-price-discount .vd-price-discount-frame {
  background-color: rgba(50, 50, 65, 0.8);
  padding: 6px 16px;
  border-radius: 5px;
}
.vd-info-pane .vd-price-discount .vd-price-discount-frame div {
  display: inline-block;
}
.vd-info-pane .vd-price-discount .vd-price-discount-frame .vd-price {
  color: white;
  font-size: 24px;
  font-weight: 600;
}
.vd-info-pane .vd-price-discount .vd-price-discount-frame .vd-discount {
  color: #c3c3ca;
  font-size: 18px;
  font-weight: 400;
  margin-left: 8px;
}
.vd-info-pane .vd-more-description {
  margin: 20px 0 0;
  color: #8c8c9b;
}
.dl-form {
  width: 100%;
  color: #323241;
  background-color: white;
  padding: 10px 15px 24px;
  margin: 0 auto;
  text-align: left;
  border-radius: 10px;
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.1);
}
@media (min-width: 610px) {
  .dl-form {
    width: 590px;
    padding: 10px 28px 30px;
  }
}
.dl-form h2 {
  margin: 24px 0;
}
@media (min-width: 440px) {
  .dl-form.form-sm {
    width: 400px;
  }
}
.dl-form.form-sm > .dl-field > input[type="text"],
.dl-form.form-sm input[type="date"],
.dl-form.form-sm input[type="email"],
.dl-form.form-sm input[type="password"] {
  width: 100%;
}
.dl-form-col {
  width: 100%;
}
@media (min-width: 610px) {
  .dl-form-col {
    width: 252px;
  }
}
.dl-form-col h2 {
  margin-bottom: 30px;
}
.dl-field {
  width: 100%;
  margin-bottom: 16px;
  position: relative;
}
.dl-field img {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}
.dl-field input[type="text"],
.dl-field input[type="date"],
.dl-field input[type="email"],
.dl-field input[type="password"] {
  width: 80%;
  height: 40px;
  padding: 0 10px;
  background-color: #f5f5fb;
  border-color: #f5f5fb;
  border-radius: 8px;
}
.dl-field input[type="radio"] {
  margin-left: 12px;
}
.dl-field div.dl-inline-field-icon {
  display: none;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 10px;
}
.dl-field div.dl-inline-field-icon button {
  width: 100%;
  height: 100%;
}
.dl-field div.dl-inline-field-icon i.glyphicon {
  opacity: 0.5;
}
@media (min-width: 610px) {
  .dl-field div.dl-inline-field-icon {
    display: inline;
  }
}
@media (min-width: 610px) {
  .dl-field input[type="text"],
  .dl-field input[type="date"],
  .dl-field input[type="email"],
  .dl-field input[type="password"] {
    width: 206px;
  }
}
.dl-date-field .btn {
  font-weight: 400;
  border: 1px solid transparent;
  border-radius: 3px;
}
.dl-date-field .btn-default {
  border-color: #ccccd7;
}
.btn-default {
  color: #323241;
  background-color: #ececf5;
  border-color: #ececf5;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all ease-out 0.3s;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #323241;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #ececf5;
  border-color: #ececf5;
}
.btn-default .badge {
  color: #ececf5;
  background-color: #323241;
}
.btn-primary {
  color: white;
  background-color: #9c27b0;
  border-color: #9c27b0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all ease-out 0.3s;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: white;
  background-color: #bc37d3;
  border-color: #bc37d3;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #9c27b0;
  border-color: #9c27b0;
}
.btn-primary .badge {
  color: #9c27b0;
  background-color: white;
}
.btn {
  border: none;
  border-radius: 8px;
  font-weight: 600;
  text-transform: uppercase;
}
.btn img.side-icon {
  height: 14px;
  position: relative;
  margin-right: 2px;
  top: -1px;
}
.btn-sm {
  border: none;
  border-radius: 4px;
}
.btn-xl {
  padding: 14px 30px;
}
.btn-glass {
  background-color: rgba(255, 255, 255, 0.3);
}
.btn-glass:hover,
.btn-glass:active,
.btn-glass:focus {
  background-color: rgba(255, 255, 255, 0.6);
}
.btn-facebook {
  color: white;
  background-color: #3a569c;
  border-color: #3a569c;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all ease-out 0.3s;
}
.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook.focus,
.btn-facebook:active,
.btn-facebook.active,
.open > .dropdown-toggle.btn-facebook {
  color: white;
  background-color: #4c6cbd;
  border-color: #4c6cbd;
}
.btn-facebook:active,
.btn-facebook.active,
.open > .dropdown-toggle.btn-facebook {
  background-image: none;
}
.btn-facebook.disabled,
.btn-facebook[disabled],
fieldset[disabled] .btn-facebook,
.btn-facebook.disabled:hover,
.btn-facebook[disabled]:hover,
fieldset[disabled] .btn-facebook:hover,
.btn-facebook.disabled:focus,
.btn-facebook[disabled]:focus,
fieldset[disabled] .btn-facebook:focus,
.btn-facebook.disabled.focus,
.btn-facebook[disabled].focus,
fieldset[disabled] .btn-facebook.focus,
.btn-facebook.disabled:active,
.btn-facebook[disabled]:active,
fieldset[disabled] .btn-facebook:active,
.btn-facebook.disabled.active,
.btn-facebook[disabled].active,
fieldset[disabled] .btn-facebook.active {
  background-color: #3a569c;
  border-color: #3a569c;
}
.btn-facebook .badge {
  color: #3a569c;
  background-color: white;
}
.btn-container {
  width: 100%;
  margin: 12px 0;
  clear: left;
}
.btn-container button {
  display: block;
  margin: 0 auto;
}
#logIn {
  position: absolute;
  padding: 10px;
  top: 10px;
  right: 10px;
  z-index: 10;
}
@media (min-width: 768px) {
  #logIn {
    padding: 14px 30px;
    top: 20px;
    right: 50px;
  }
}
.dl-form .ng-invalid.ng-dirty {
  border-color: #ff6b63 !important;
}
.dl-form .ng-valid.ng-dirty {
  border-color: #76e288 !important;
}
footer {
  padding: 30px 10px;
}
.footer > li > a {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6);
  background: transparent;
}
.footer > li > a:hover {
  color: white;
  background: none;
  opacity: 1;
}
.footer .facebook {
  opacity: 0.6;
  padding: 10px;
  margin-left: 4px;
}
.footer .facebook img {
  width: 30px;
  height: 30px;
}
@media (min-width: 768px) {
  .footer .facebook {
    margin-left: 15px;
  }
}
#copyrights {
  padding: 30px 0 6px;
  color: rgba(255, 255, 255, 0.3);
  font-weight: 300;
}
