@import url(https:\/\/fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
.small-text {
  font-size: 1.1em;
}
html,
body {
  width: 100%;
  height: 100%;
  min-width: 296px;
}
body {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
hr {
  border-color: #9c27b0;
  border-width: 3px;
  max-width: 50px;
}
hr.light {
  border-color: white;
}
a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: #9c27b0;
}
a:hover,
a:focus {
  color: #bc37d3;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.bg-primary {
  background-color: #9c27b0;
}
.bg-dark {
  background-color: #323241;
  color: white;
}
.text-faded {
  color: rgba(255, 255, 255, 0.7);
}
.text-muted {
  color: #8c8c9b;
}
section {
  padding: 100px 0;
}
aside {
  padding: 50px 0;
}
.no-padding {
  padding: 0;
}
button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  /* for input */
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
}
input {
  background: none;
  border: 1px solid;
  box-shadow: none;
}
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f5f5fb;
}
h4 {
  font-weight: 400;
  margin: 14px 0;
}
.content {
  padding-top: 84px;
}
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}
.clickable {
  opacity: 1;
  transition: all ease-out 0.2s;
}
.clickable:hover {
  opacity: 0.6;
}
.dl-note {
  width: 100%;
  font-size: 0.85em;
  margin: 10px 0;
}
p.dl-error {
  color: #ff3b30;
  clear: left;
}
.navbar-default {
  height: 54px;
  background-color: white;
  box-shadow: 0 2px 15px 1px rgba(0, 0, 0, 0.1);
}
.navbar-brand {
  height: 54px;
  padding: 12px;
}
.navbar-brand img {
  height: 100%;
}
.navbar-search.form-control {
  width: 298px;
  height: 34px;
  margin: 10px 14px;
  background-color: #f5f5fb;
  border-radius: 5px;
  border: 1px solid #e8e8f7;
}
.nav > li > a {
  color: #9600b4;
  font-size: 1.2em;
  background: transparent;
  padding: 10px;
  transition: all ease-out 0.08s;
}
.nav > li > a:hover {
  background-color: #f5f5fb;
}
nav img.profileThumbnail {
  width: 34px;
  height: 34px;
  margin-top: -1px;
  margin-right: 6px;
  background-color: transparent;
}
.row > [class^="col-"],
.row > [class*=" col-"] {
  padding-right: 10px;
  padding-left: 10px;
}
section.dealContainer {
  padding-bottom: 20px;
}
.deal {
  background-color: white;
  padding: 0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.1);
}
.dealImage {
  width: 100%;
  margin: 0 auto;
}
.dealInfoBar {
  padding: 4px 14px;
}
.priceContainer {
  float: left;
  color: white;
  font-size: 1.6em;
  font-weight: 300;
  margin-top: -60px;
  margin-left: -14px;
  padding: 4px 15px;
  position: absolute;
  background-color: rgba(50, 50, 65, 0.8);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.price {
  margin-right: 12px;
}
.discount {
  color: #8c8c9b;
}
.dealInfoBar {
  color: #323241;
}
.infoIcon {
  margin-top: -2px;
  margin-right: 6px;
}
.dealInfo {
  font-size: 1.1em;
  color: #8c8c9b;
}
.dl-form {
  width: 100%;
  color: #323241;
  background-color: white;
  padding: 10px 15px;
  margin: 0 auto;
  text-align: left;
  border-radius: 10px;
  box-shadow: 0 2px 15px 1px rgba(0, 0, 0, 0.1);
}
@media (min-width: 610px) {
  .dl-form {
    width: 590px;
    padding: 10px 28px;
  }
}
.dl-form h2 {
  margin: 24px 0;
}
.dl-form-col {
  width: 100%;
}
.dl-form-col h2 {
  margin-bottom: 30px;
}
.dl-form-col .dl-field {
  width: 100%;
  margin-bottom: 16px;
  position: relative;
}
.dl-form-col .dl-field img {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}
.dl-form-col .dl-field input[type="text"],
.dl-form-col .dl-field input[type="date"],
.dl-form-col .dl-field input[type="email"],
.dl-form-col .dl-field input[type="password"] {
  width: 80%;
  height: 40px;
  padding: 0 10px;
  background-color: #f5f5fb;
  border-color: #f5f5fb;
  border-radius: 8px;
}
.dl-form-col .dl-field input[type="radio"] {
  margin-left: 12px;
}
.dl-form-col .dl-field div.dl-inline-field-icon {
  display: none;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 10px;
}
.dl-form-col .dl-field div.dl-inline-field-icon button {
  width: 100%;
  height: 100%;
}
.dl-form-col .dl-field div.dl-inline-field-icon i.glyphicon {
  opacity: 0.5;
}
@media (min-width: 610px) {
  .dl-form-col .dl-field div.dl-inline-field-icon {
    display: inline;
  }
}
.dl-form-col .dl-date-field .btn {
  font-weight: 400;
  border: 1px solid transparent;
  border-radius: 3px;
}
.dl-form-col .dl-date-field .btn-default {
  border-color: #ccccd7;
}
@media (min-width: 610px) {
  .dl-form-col {
    width: 252px;
  }
  .dl-form-col .dl-field input[type="text"],
  .dl-form-col .dl-field input[type="date"],
  .dl-form-col .dl-field input[type="email"],
  .dl-form-col .dl-field input[type="password"] {
    width: 206px;
  }
}
.btn-container {
  width: 100%;
  margin: 12px 0;
  clear: left;
}
.btn-container button {
  display: block;
  margin: 0 auto;
}
.ng-invalid.ng-dirty {
  border-color: #ff6b63 !important;
}
.ng-valid.ng-dirty {
  border-color: #76e288 !important;
}
footer {
  padding: 30px 10px;
}
.footer > li > a {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6);
  background: transparent;
}
.footer > li > a:hover {
  color: white;
  background: none;
  opacity: 1;
}
.footer .facebook {
  opacity: 0.6;
  padding: 10px;
  margin-left: 4px;
}
.footer .facebook img {
  width: 30px;
  height: 30px;
}
@media (min-width: 768px) {
  .footer .facebook {
    margin-left: 15px;
  }
}
#copyrights {
  padding: 30px 0 6px;
  color: rgba(255, 255, 255, 0.3);
  font-weight: 300;
}
