@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
.small-text {
  font-size: 1.1em;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
hr {
  border-color: #9c27b0;
  border-width: 3px;
  max-width: 50px;
}
hr.light {
  border-color: white;
}
a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: #9c27b0;
}
a:hover,
a:focus {
  color: #bc37d3;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.bg-primary {
  background-color: #9c27b0;
}
.bg-dark {
  background-color: #323241;
  color: white;
}
.text-faded {
  color: rgba(255, 255, 255, 0.7);
}
.text-muted {
  color: #8c8c9b;
}
section {
  padding: 100px 0;
}
aside {
  padding: 50px 0;
}
.no-padding {
  padding: 0;
}
button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  /* for input */
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
}
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f5f5fb;
}
h4 {
  font-weight: 400;
  margin: 14px 0;
}
.content {
  padding-top: 84px;
}
.clickable {
  opacity: 1;
  transition: all ease-out 0.2s;
}
.clickable:hover {
  opacity: 0.6;
}
.navbar-default {
  height: 54px;
  background-color: white;
  box-shadow: 0 2px 15px 1px rgba(0, 0, 0, 0.1);
}
.navbar-brand {
  height: 54px;
  padding: 12px;
}
.navbar-brand img {
  height: 100%;
}
.navbar-search.form-control {
  width: 298px;
  height: 34px;
  margin: 10px 14px;
  background-color: #f5f5fb;
  border-radius: 5px;
  border: 1px solid #e8e8f7;
}
.nav > li > a {
  color: #9600b4;
  font-size: 1.2em;
  background: transparent;
  padding: 10px;
  transition: all ease-out 0.08s;
}
.nav > li > a:hover {
  background-color: #f5f5fb;
}
nav img.profileThumbnail {
  width: 34px;
  height: 34px;
  margin-top: -1px;
  margin-right: 6px;
  background-color: transparent;
}
.row > [class^="col-"],
.row > [class*=" col-"] {
  padding-right: 10px;
  padding-left: 10px;
}
section.dealContainer {
  padding-bottom: 20px;
}
.deal {
  background-color: white;
  padding: 0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.1);
}
.dealImage {
  width: 100%;
  margin: 0 auto;
}
.dealInfoBar {
  padding: 4px 14px;
}
.priceContainer {
  float: left;
  color: white;
  font-size: 1.6em;
  font-weight: 300;
  margin-top: -60px;
  margin-left: -14px;
  padding: 4px 15px;
  position: absolute;
  background-color: rgba(50, 50, 65, 0.8);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.price {
  margin-right: 12px;
}
.discount {
  color: #8c8c9b;
}
.dealInfoBar {
  color: #323241;
}
.infoIcon {
  margin-top: -2px;
  margin-right: 6px;
}
.dealInfo {
  font-size: 1.1em;
  color: #8c8c9b;
}
#sendDownloadLinkPage {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: top;
  background-image: url('../../assets/images/backgrounds/Restaurant_darken.jpg');
}
#sendDownloadLinkPage > .header-content {
  top: 25%;
}
