<div class="about-section">
    <div layout="column" layout-gt-xs="row" class="container">
        <a ng-href="/about#easy-setup"  flex-gt-xs="33">
            <section id="about-simple" md-ink-ripple="#333" style="position:relative">
                <div>
                    <img width="80" height="80" src="/assets/images/icons/@2x/Web_Icons_about_simple_icon.png">
                </div>
                <div>
                    <h4 translate>views.about-section.5-minute-title</h4>
                    <p translate>views.about-section.5-minute-paragraph</p>
                </div>
            </section>
        </a>
        <a ng-href="/about#facebook"  flex-gt-xs="33">
            <section id="about-facebook" md-ink-ripple='#333' style="position:relative">
                <div>
                    <img width="80" height="80" src="/assets/images/icons/@2x/Web_Icons_about_facebook_icon.png">
                </div>
                <div>
                    <h4 translate>views.about-section.facebook-title</h4>
                    <p translate>views.about-section.facebook-paragraph</p>
                </div>
            </section>
        </a>
        <a ng-href="/about#payment"  flex-gt-xs="33">
            <section id="about-payment" md-ink-ripple='#333' style="position:relative">
                <div>
                    <img width="80" height="80" src="/assets/images/icons/@2x/Web_Icons_about_payment_icon.png">
                </div>
                <div>
                    <h4 translate>views.about-section.simple-payment-title</h4>
                    <p translate>views.about-section.simple-payment-paragraph</p>
                </div>
            </section>
        </a>
    </div>
</div>