<div class="about-section">
    <div layout="column" layout-gt-xs="row" class="container">
        <a ng-href="/about#easy-setup"  flex-gt-xs="33">
            <section id="about-simple" md-ink-ripple="#333" style="position:relative">
                <div>
                    <img width="80" height="80" src="/assets/images/icons/@2x/Web_Icons_about_step_1.png">
                </div>
                <div>
                    <h4 translate>views.about-section.first-point-title</h4>
                    <p translate>views.about-section.first-point-paragraph</p>
                </div>
            </section>
        </a>
        <a ng-href="/about#facebook"  flex-gt-xs="33">
            <section id="about-facebook" md-ink-ripple='#333' style="position:relative">
                <div>
                    <img width="80" height="80" src="/assets/images/icons/@2x/Web_Icons_about_step_2.png">
                </div>
                <div>
                    <h4 translate>views.about-section.second-point-title</h4>
                    <p translate>views.about-section.second-point-paragraph</p>
                </div>
            </section>
        </a>
        <a ng-href="/about#payment" flex-gt-xs="33">
            <section id="about-payment" md-ink-ripple='#333' style="position:relative">
                <div>
                    <img width="80" height="80" src="/assets/images/icons/@2x/Web_Icons_about_step_3.png">
                </div>
                <div>
                    <h4 translate>views.about-section.third-point-title</h4>
                    <p translate>views.about-section.third-point-paragraph</p>
                </div>
            </section>
        </a>
    </div>
    <div class="videoWrapper">
        <iframe class="youtube-player" type="text/html" width="160" height="90" ng-src="{{videoLink | trusted}}"
                allowfullscreen frameborder="0">
        </iframe>
    </div>
</div>