<div class="about-section">
    <div layout="column" layout-gt-xs="row" class="container">
        <a ng-href="/about#easy-setup"  flex-gt-xs="33">
            <section id="about-simple" md-ink-ripple="#333" style="position:relative">
                <div>
                    <img width="80" height="80" src="/assets/images/icons/@2x/Web_Icons_about_simple_icon.png">
                </div>
                <div>
                    <h4>5 minute setup</h4>
                    <p>
                        Dealers is built for simplicity. Sign up and start selling products in a matter of minutes.
                    </p>
                </div>
            </section>
        </a>
        <a ng-href="/about#facebook"  flex-gt-xs="33">
            <section id="about-facebook" md-ink-ripple='#333' style="position:relative">
                <div>
                    <img width="80" height="80" src="/assets/images/icons/@2x/Web_Icons_about_facebook_icon.png">
                </div>
                <div>
                    <h4>Sell on Facebook</h4>
                    <p>
                        Turn your Facebook page into a shopping space with rich media links to your products.
                    </p>
                </div>
            </section>
        </a>
        <a ng-href="/about#payment"  flex-gt-xs="33">
            <section id="about-payment" md-ink-ripple='#333' style="position:relative">
                <div>
                    <img width="80" height="80" src="/assets/images/icons/@2x/Web_Icons_about_payment_icon.png">
                </div>
                <div>
                    <h4>Simple payment</h4>
                    <p>
                        Start using Dealers for free. We only take commissions - no monthly fee.
                    </p>
                </div>
            </section>
        </a>
    </div>
</div>