<dl-navbar></dl-navbar>

<div class="about-page">
    <a name="about"></a>
    <div class="intro-header intro-section">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1 translate>views.about.slogan</h1>
                        <h3 translate>views.about.one-liner</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

    <a href name="about"></a>
    <div class="content-section-b what-is-dealers">

        <div class="container">
            <div class="row text-center">
                <h3 translate>views.about.one-paragraph</h3>
            </div>

        </div>
        <!-- /.container -->

    </div>

    <div class="content-section-a">

        <a class="anchor" name="easy-setup"></a>
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading" translate>views.about.easy-title</h2>
                    <p class="lead" translate>views.about.easy-paragraph</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="/assets/images/images/About_Image_1_v2.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <a class="anchor" name="facebook"></a>
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading" translate>views.about.facebook-title</h2>
                    <p class="lead" translate>views.about.facebook-paragraph</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="/assets/images/images/About_Image_2_v2.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">
            <a class="anchor" name="payment"></a>
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading" translate>views.about.free-title</h2>
                    <p class="lead" translate>views.about.free-paragraph</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="/assets/images/images/About_Image_3.png" alt="">
                </div>
            </div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading" translate>views.about.support-title</h2>
                    <p class="lead">{{"views.about.support-paragraph-1" | translate}}
                        <a href="mailto:support@dealers-app.com" translate>views.about.contact-us</a>
                        {{"views.about.support-paragraph-2" | translate}}
                        <a ng-href="/step-by-step" translate>views.about.step-by-step</a>
                        {{"views.about.support-paragraph-3" | translate}}</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="text-center">
                    <h2 translate>views.about.sell-with-dealers</h2>
                </div>
                <div>
                    <get-started style="'white'"></get-started>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <footer-section></footer-section>
</div>