<dl-navbar></dl-navbar>

<div class="container nav-padding margin-bottom-20">
    <div class="no-margin">
        <div class="info-content contact">
            <div class="margin-bottom-30">
                <h2 class="section-heading text-center" translate>
                    views.contact.title
                </h2>
                <hr class="primary text-center">
                <p class="margin-bottom-30 text-center text-muted" translate>
                    views.contact.one-liner
                </p>
            </div>
            <div class="margin-bottom-30">
                <h3 translate>
                    views.contact.support-title
                </h3>
                <p class="margin-bottom-10" translate>
                    views.contact.support-paragraph
                </p>
                <p>
                    <a href="mailto:support@dealers-app.com">
                        support@dealers-app.com
                    </a>
                </p>
            </div>
            <div class="margin-bottom-30">
                <h3 translate>
                    views.contact.feedback-title
                </h3>
                <p class="margin-bottom-10" translate>
                    views.contact.feedback-paragraph
                </p>
                <p>
                    <a href="mailto:support@dealers-app.com">
                        support@dealers-app.com
                    </a>
                </p>
            </div>
            <div class="margin-bottom-30">
                <h3 translate>
                    views.contact.anything-else-title
                </h3>
                <p class="margin-bottom-10" translate>
                    views.contact.anything-else-paragraph
                </p>
                <p>
                    <a href="mailto:contact@dealers-app.com">
                        contact@dealers-app.com
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>

<footer-section></footer-section>