<dl-navbar></dl-navbar>

<div class="container nav-padding margin-bottom-20">
    <div class="no-margin">
        <div class="info-content contact">
            <div class="margin-bottom-30">
                <h2 class="section-heading text-center">
                    We are here to listen... And help
                </h2>
                <hr class="primary text-center">
                <p class="margin-bottom-30 text-center text-muted">
                    Encountered a problem? Have an idea? Feel free to contact us - we will love to hear from you.
                </p>
            </div>
            <div class="margin-bottom-30">
                <h3>
                    Support
                </h3>
                <p class="margin-bottom-10">
                    If you encountered a problem, let us know and we will help you right away:
                </p>
                <p>
                    <a href="mailto:support@dealers-app.com">
                        support@dealers-app.com
                    </a>
                </p>
            </div>
            <div class="margin-bottom-30">
                <h3>
                    Feedback
                </h3>
                <p class="margin-bottom-10">
                    Have an idea that will make Dealers better? let us know!
                </p>
                <p>
                    <a href="mailto:support@dealers-app.com">
                        support@dealers-app.com
                    </a>
                </p>
            </div>
            <div class="margin-bottom-30">
                <h3>
                    Anything else?
                </h3>
                <p class="margin-bottom-10">
                    Contact us:
                </p>
                <p>
                    <a href="mailto:contact@dealers-app.com">
                        contact@dealers-app.com
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>

<footer-section></footer-section>