<dl-navbar></dl-navbar>
<div class="info-content nav-margin" dir="rtl">
    <h1>
        עזרה
    </h1>
    <p class="info-note">
        אנחנו כאן לכל דבר שאתם צריכים. אם יש לכם שאלות נוספות, פנו אלינו <a
            href="mailto:support@dealers-app.com">כאן.</a>
        <br>
        מחפשים משהו קליל יותר? לפירוט מקוצר של אופן העבודה עם דילרס, לחצו <a ng-href="/step-by-step">כאן.</a>
    </p>
    <ol class="table-of-contents">
        <li>
            <a href="#3-steps">
                3 צעדים כדי להתחיל למכור בעזרת דילרס
            </a>
        </li>
        <li>
            <a href="#protect-dealers">
                איך אנחנו מגנים על מעמד המוכרים
            </a>
        </li>
        <li>
            <a href="#shipments-Q&A">
                משלוחים - שאלות ותשובות
            </a>
        </li>
    </ol>
    <a class="anchor" name="3-steps"></a>
    <h3>
        3 צעדים כדי להתחיל למכור בעזרת דילרס
    </h3>
    <p class="info-note">
        הירשמו לדילרס, מיכרו ושילחו את המוצר.
    </p>
    <ol>
        <li>
            <b>
                הירשמו לדילרס
            </b>
            <p>
                הירשמו בקלות וללא עלות. כדי להרשם לחץ על SELL WITH DEALERS בתפריט העליון.
                אם טרם התנסיתם בקנייה באתר דילרס, אנחנו ממליצים בחום לרכוש מספר פריטים בטרם תתחילו למכור. כך תוכלו
                להתרשם מחווית הקנייה, דבר שישרת אתכם רבות מאוחר יותר כאשר תהיו מן הצד של המוכר.
            </p>
        </li>
        <li>
            <b>
                מיכרו מוצר
            </b>
            <p>
                כל תהליך מכירה מתחיל בהעלאת רשומה עבור הפריט שברצונכם למכור. לדוגמה, במידה ואתם מבקשים למכור אזניות:
            </p>
            <ul>
                <li>
                    ליחצו על ה-+ שבתרפיט העליון מימין (יופיע רק לאחר שנרשמתם כמוכרים).
                </li>
                <li>
                    במסך שיפתח העלו תמונות מהמחשב או צלמו עד ארבעה תמונות של המוצר. נסו לצלם תמונות איכותיות כי "תמונה
                    היא כמו אלף מילים".
                </li>
                <li>
                    ליחצו על ה-+ שבתרפיט העליון מימין.
                </li>
                <li>
                    הכניסו כותרת. פרטו ונסו להכניס מילים שישמשו לקוחות בחיפוש אחרי המוצר.
                </li>
                <li>
                    תוכלו לפרט יותר על המוצר ב"פרטים נוספים". הפרטים עוזרים לקונים ומראים על אמינות.
                </li>
                <li>
                    במסך הבא הכניסו מחיר, הנחה (אופצינאלי), קטגוריה וכו'.
                </li>
            </ul>
            <p>
                זהו! העלתם את המוצר לדילרס ועכשיו זה הזמן להפיץ אותו. בעת סיום ההעלאה יופיע כפתור שיתוף עם פייסבוק, אשר
                ישתף את הרשומה שלכם בכל עמוד פייסבוק שתבחרו. תוכלו לשתף אותו שוב מתי שתרצו מעמוד הרשומה של המוצר באתר.
            </p>
            <p>
                שימו לב שמשתמשים יכולים לתת פידבק למוצרים שלכם על ידי לייקים ותגובות בעמוד המוצר. אלה מגבשים את המוניטין
                שלכם כמוכרים ולכן מומלץ לשמור על רמת היענות גבוהה ושירות איכותי.
            </p>
            <p>
                משוב הוא חלק בלתי נפרד מהמסחר מקוון, הוא יכול לתת לקונים פוטנציאליים אינדיקציה האם מוכר ישלח פריט אשר
                זהה לתיאור הפריט שהעניק ברשומה, ולתת למוכרים אינדיקציה האם קונה ישלם בזמן. סחר מקוון מתבסס על אמון, ולכן
                משובים שתקבלו ממשתמשים באתר יהוו מרכיב עיקרי בגיבוש החלטת הקניה ממכם.
            </p>
            <p>
                המשוב בדילרס מורכב מדירוג אשר חיובי כמו (LIKE), ושיתוף או הערה קצרה שניתן לצרף כמלל חופשי. למעשה,
                המוניטין של מוכרים וקונים מורכב מדירוגים ומתגובות שניתנו להם בידי שותפיהם למסחר. על מנת לצפות במשוב של
                משתמש זה או אחר יש ללחוץ על הפרופיל של משתמש ולרות כמה לייקים או שיתופים הוא קיבל.
            </p>
        </li>
        <li>
            <b>
                שילחו את הפריט
            </b>
            <p>
                העלינו את המוצר והתחלנו לקבל הזמנות. ומה עכשיו?
            </p>
            <ul>
                <li>
                    לאחר המכירה מגיע שלב אריזת הפריט ושילוחו לקונה, זהו שלב שיכול להיות מהנה מאוד בשל האפשרות להכניס בו
                    נימה אישית ואף יצירתית.
                </li>
                <li>
                    מומלץ להוסיף למשלוח מספר מעקב, קונים אוהבים שבאפשרותם לעקוב אחר התקדמות החבילה ולדעת מתי זו צפויה
                    להגיע. צירוף מספר מעקב גם ישמש אתכם המוכרים כ'תעודת ביטוח' במקרים של אובדן חבילה. עם הוצאת המשלוח,
                    אנו ממליצים גם לעדכן בפרופיל שלכם שהמוצר נישלח. זה כשלעצמו יגרום למערכת לשלוח הודעת דואר אלקטרוני
                    לקונה והדבר ייטע תחושת ביטחון חיובית אצל הקונים שיש מי שנמצא איתם בקשר.
                </li>
                <li>
                    נסו לשלוח את הפריט מוקדם ככל האפשר והקפידו לעמוד בזמן שציינתם כ'זמן טיפול + משלוח'. האופציות למשלוח
                    הם:
                    <ol>
                        <li>
 
                            דאר שליחים מדלת לדלת – באחריות דילרס. זמן משלוח ממוצע - עד יומיים. משלוח זה יתבצע ע"י דילרס וישולם ע"י הלקוח. עלות משלוח 35 ש"ח לחבילה (המחיר כולל מע"מ). משקל חבילה לא יעלה על 26 ק"ג וגודלה לא יחרוג מגודל 40X60X40<a target="_blank" href=""></a>. 
                        </li>
                        <li>
                            איסוף עצמי ע"י הלקוח.
                        </li>
                        <li>
                            כמו כן תוכלו להגדיר משלוח אחר אותו המוכר (אתם) מספק עם חברת משלוחים אחרת או בכוחות עצמו. תוכלו להגדיר בדילרס שיטה זו עם הסבר, זמן משלוח ומחיר. לדוגמה: דאר רשום. משלוח זה איטי יותר אך זול בהרבה (כ-12 ש"ח בארץ). משלוח זה יתבצע על ידיכם ובאחריותכם. מחירו תלוי בגודל ומשקל החבילה.
                        </li>
                    </ol>
                </li>
            </ul>
            <p>
               הערה חשובה: אנחנו ממליצים בחום לקבוע משלוח חינם, ולהוסיף את מחיר המשלוח או רובו למחיר המוצר. לפי כל המחקרים המכירות יגדלו במיקרה זה. בנוסף, פתק 'תודה רבה' שתצרפו למשלוח יוסיף פן אישי נחמד. קונים יעריכו זאת ויגלו נטייה לקנות מכם שוב. 
            </p>
            <h4>
                אריזה ותווית
            </h4>
            <p>
                אירזו פריטים היטב על מנת שלא ייפגעו, על אחת כמה וכמה אם הם יקרים או שבירים:
            </p>
            <ul>
                <li>
                    הוסיפו ריפוד כגון נייר בועות או פתיתי קלקר למשלוח של פריטים שבירים
                </li>
                <li>
                    הגנו על פריטים מפני מים באמצעות אריזה אטומה מפלסטיק
                </li>
                <li>
                    במידה והפריט יקר-ערך, תוכלו להציע לקונים ביטוח נוסף
                </li>
            </ul>
            <h4>
                הימנעו מטעויות
            </h4>
            <p>
                יהיה חבל אם משלוח לא יגיע ליעדו בגלל שגיאת כתיב או חוסר תשומת לב במילוי פרטי הנמען. הקפידו על מילוי תקין
                וברור של התווית וכתובת הנמען.
                הוסיפו לפריט שנקנה מכם מתנה קטנה ללא עלות. הקונה ירגיש שצ'יפרתם אותו ויוקיר לכם תודה עם לייק.
            </p>
            <h4>
                פירוט העמלות הנגבות עבור מכירת מוצרים בדילרס
            </h4>
            <p>
                עמלת מכירה – 10% מהסכום הכולל של המכירה. חלקו של המוכר יועבר למוכר שותף + 30 מקבלת המוצר ע"י הקונה.
                המוצר יקבל מעמד של "התקבל ע"י הקונה" אם:
            </p>
            <ol>
                <li>
                    הודיע הקונה שהמוצר נימסר לו
                </li>
                <li>
                    שירות המשלוחים הודיע שהמוצר נמסר ללקוח
                </li>
                <li>
                    עברו שלושה שבועות מעת הודעת המוכר וסימונו במערכת דילרס שהמוצר נישלח והקונה לא הודיע שהמוצר לא התקבל.
                </li>
            </ol>
        </li>
    </ol>
    <a class="anchor" name="protect-dealers"></a>
    <h3>
        איך אנחנו מגנים על המוכרים
    </h3>
    <p>
        דילרס מציגה הגנה מעודכנת על קונה במקרים של "פריט לא התקבל" או "פריט שאינו כפי שתואר". מטרות Money Back Guarantee
        (ערבות להחזר כספי) הן:
    </p>
    <ul>
        <li>
            לעזור לקונים ולמוכרים לפתור מחלוקות באופן חלק ויעיל
        </li>
        <li>
            להתערב ולפתור מחלוקות הקשורות בעסקאות במידה והקונים והמוכרים לא מצליחים לפתור אותן בעצמם
        </li>
        <li>
            ליישם את המדיניות וההגדרות של לפיתרון מחלוקות מסוג "פריט לא התקבל" ו"פריט לא כפי שתואר"
        </li>
    </ul>
    <h4>
        היו קשובים, אדיבים ומקצועיים
    </h4>
    <ol>
        <li>
            מכיוון שקונים יכולים להגיש תלונות דרך דילרס, שימו לב להודעות דואר אלקטרוני המגיעות מדילרס אודות תלונות
            לקוחות, בעיות ביישוב מחלוקות, והמשיכו לעקוב ולהתעדכן.
        </li>
        <li>
            אם קיבלתם דואר אלקטרוני מהתמיכה של דילרס לגבי אחת מהעסקאות שלכם, נקטו פעולה מיידית. תוכלו למצוא הודעות אלה
            בכתובת הדואר האלקטרוני שלכם איתו נירשמתם ושרשום אצלנו.
        </li>
        <li>
            השתמשו בשירותי דואר המספקים אישורי משלוח ובמידת הצורך, אישור חתימה, והעלו מידע על משלוחים אל הפרופיל שלכם.
        </li>
    </ol>
    <h4>
        בחירת ספקי שילוח
    </h4>
    <p>
כדי להעניק חווית שירות טובה יותר לקונים שלכם, הקפידו על בחירה נכונה של סוג המשלוח. במהלך העלאת עסקה לדילרס הנכם נדרשים לציין מהן אפשרויות המשלוח אשר מוצעות לקונים.     </p>
    <p>
        אנו ממליצים להציע תמיד אפשרות משלוח אחת מהירה ואפשרות משלוח אחת זולה (איסוף עצמי או משלוח אחר שלכם), כך שהקונים יוכלו להחליט מה חשוב להם יותר - לקבל את המשלוח במהירות או לחסוך בעלויות משלוח.
    </p>
    <a class="anchor" name="shipments-Q&A"></a>
    <h3>
משלוחים - שאלות ותשובות
    </h3>
    <h4>
        דרכי שליחת המוצרים
    </h4>
    <p>
        <b>
            שאלה: האם משלוח של המוצרים נעשה בדואר או שיש דרך אחרת עדיפה מבחינת עלות ו/או אמינות? מה קורה כשהדואר שלנו
            מאבד את המשלוח? הקונה יפתח קייס ואני אצטרך לזכות אותו?
        </b>
        <br>
        תשובה: אנחנו שולחים לא מעט חבילות בארץ. קורים מקרים של אובדן משלוח, אבל אלה קורים לעיתים מאד רחוקות. גם בחברות הגדולות ביותר קורים מקרים כאלה. אז כן, עדיף דואר רשום דלת לדלת בעזרת דילרס, דואר ישראל או אחר, כדי שתהיה אסמכתא. זה יעזור אבל ההמלצה היא להישאר פשוטים, אם מדובר במוצרים במחירים של עד כמה עשרות שקלים כדאי לשלוח באחת האופציות של דואר רשום.
    </p>
    <p>
        ניתן לצפות בלינק המצורף במחירון של דואר ישראל:
        <br>
        <a target="_blank" href="http://www.israelpost.co.il/content.nsf/misparid/222?OpenDocument&m=3">
            http://www.israelpost.co.il/content.nsf/misparid/222?OpenDocument&m=3
        </a>
    </p>
    <h4>
        אריזה למשלוח
    </h4>
    <p>
        <b>
            שאלה: איך ניתן לארוז מוצר ומאיפה להביא חומרי אריזה?
        </b>
        <br>
        תשובה: אפשר לקנות גליל פצפצים תעשייתי ולמחזר קרטונים או מחנויות שזורקות (לבקש שיאספו) או מחבילות של מוצרים
        שקנינו בעצמנו בדילרס או כל חנות אחרת.
    </p>
    <h4>
        רשימת כתובת למשלוח
    </h4>
    <p>
        <b>
            שאלה: האם יש צורך להוסיף על המעטפה גם את הכתובת שלי?
        </b>
        <br>
        תשובה: כמובן, למקרה שהחבילה תלך לאיבוד בדואר או לא תגיע ליעדה.
    </p>
    <h4>
        יתרונות בדואר רשום
    </h4>
    <p>
        <b>
            שאלה: מהם היתרונות שלנו במשלוח דואר רשום? מדוע כדאי לשלם עוד, על מנת לשלוח משלוח רשום ולא רגיל?
        </b>
        <br>
        תשובה: מכיוון שבמידה והלקוח מתלונן שהמוצר לא הגיע ונפתח בירור , אין דרך להוכיח שהמוצר אכן נשלח ואים מעקב אחריו.
        כמובן שאפשר לעקוב אחרי החבילות, לא תמיד על כל המהלך שהן עוברות אבל בד"כ על נקודת היציאה ונקודת ההגעה.
        יש פה מעבר להוכחת משלוח, גם הצהרת כוונות מול דילרס, הוכחת רצינות. מעבר לזה כמובן יש אישור שאכן המוצר נשלח.
    </p>
    <h4>
        ״צרור קטן״
    </h4>
    <p>
        <b>
            שאלה: מה נחשב ל״צרור קטן״ במשלוח?
        </b>
        <br>
        תשובה: צרור קטן זה עד 2 ק"ג. חבילה זה מעבר לזה. לפי ההנחיות החדשות של דואר ישראל, כל עוד החבילה לא עוברת את ה-90
        ס״מ בחישוב של גובה החבילה + אורך החבילה היא נחשבת ״צרור קטן״.
    </p>
    <br>
    <span>
        לפרטים נוספים:
    </span>
    <ul>
        <li>
            <a target="_blank" href="http://www.israelpost.co.il/content.nsf/misparid/222?OpenDocument&m=3">
                דואר ישראל מחירים ודרכי משלוח
            </a>
        </li>
        <li>
            <a href="mailto:support@dealers-app.com?subject=משלוחים">
                שירות הלקוחות של דילרס
            </a>
        </li>
    </ul>
</div>
<footer-section></footer-section>