<div class="intro-section home-background text-center">
    <div>
        <h1 class="dg-title" translate>views.intro-section.mantra</h1>
        <h4 class="margin-bottom-20" translate>views.intro-section.one-liner</h4>
        <ul>
            <li>
                <md-button href="/about" class="btn-secondary">
                    {{"views.intro-section.learn-more" | translate}}
                </md-button>
            </li>
            <li>
                <md-button href class="btn-primary" style="min-width: 110px;" register-as-dealer>
                    {{"views.intro-section.start-now" | translate}}
                </md-button>
            </li>
        </ul>
    </div>
</div> 