<div class="price-plans">
    <div layout="column" layout-gt-xs="row" class="container padding-bottom-30">
        <section id="standard-plan" flex-gt-xs="33" style="position:relative; border: 2px solid #8D8D92">
            <div>
                <h3 translate>views.price-plans.no-marketing-plan-title</h3>
            </div>
            <div class="plan-price text-center" style="background-color: #8D8D92">
                <h2>{{"general.free" | translate}}<span class="price-note"></span>
                </h2>
            </div>
            <div>
                <p translate>views.price-plans.no-marketing-plan-description</p>
            </div>
            <div class="button-container">
                <!--<md-button class="btn-primary" style="background-color: #8D8D92" register-as-dealer>-->
                    <!--{{"views.intro-section.get-started" | translate}}-->
                <!--</md-button>-->
            </div>
        </section>
        <section id="professional-plan" flex-gt-xs="33" style="position:relative; border: 2px solid #2095F2">
            <div>
                <h3 translate>views.price-plans.standard-plan-title</h3>
            </div>
            <div class="plan-price text-center" style="background-color: #2095F2">
                <h2>{{"views.price-plans.standard-plan-price" | translate}}<span class="price-note">{{"views.price-plans.per-month" | translate}}</span>
                </h2>
            </div>
            <div>
                <p translate>views.price-plans.standard-plan-description</p>
            </div>
            <div class="button-container">
                <!--<md-button class="btn-primary" style="background-color: #2095F2" register-as-dealer>-->
                    <!--{{"views.intro-section.get-started" | translate}}-->
                <!--</md-button>-->
            </div>
        </section>
        <!--<section id="professional-plan" flex-gt-xs="33" style="position:relative; border: 2px solid #2095F2">-->
            <!--<div>-->
                <!--<h3 translate>views.price-plans.professional-plan-title</h3>-->
            <!--</div>-->
            <!--<div class="plan-price text-center" style="background-color: #2095F2">-->
                <!--<h2>{{"views.price-plans.professional-plan-price" | translate}}<span class="price-note">{{"views.price-plans.per-month" | translate}}</span>-->
                <!--</h2>-->
            <!--</div>-->
            <!--<div>-->
                <!--<p translate>views.price-plans.professional-plan-description</p>-->
            <!--</div>-->
            <!--<div class="button-container">-->
                <!--<md-button class="btn-primary" style="background-color: #2095F2" register-as-dealer>-->
                    <!--{{"views.intro-section.get-started" | translate}}-->
                <!--</md-button>-->
            <!--</div>-->
        <!--</section>-->
        <section id="premium-plan" flex-gt-xs="33" style="position:relative; border: 2px solid #EE5959">
            <div>
                <h3 translate>views.price-plans.premium-plan-title</h3>
            </div>
            <div class="plan-price text-center" style="background-color: #EE5959">
                <h2>{{"views.price-plans.premium-plan-price" | translate}}<span class="price-note">{{"views.price-plans.per-month" | translate}}</span>
                </h2>
            </div>
            <div>
                <p translate>views.price-plans.premium-plan-description</p>
            </div>
            <div class="button-container">
                <!--<md-button class="btn-primary" style="background-color: #EE5959" register-as-dealer>-->
                    <!--{{"views.intro-section.get-started" | translate}}-->
                <!--</md-button>-->
            </div>
        </section>
    </div>
</div>