<dl-navbar></dl-navbar>

<div class="container nav-padding margin-bottom-20">
    <div class="info-content">
        <div class="margin-bottom-40">
            <h2 class="section-heading" translate>
                views.steps.title
            </h2>
            <p class="margin-bottom-40 text-muted">
                {{"views.steps.description" | translate}} <a href="mailto:support@dealers-app.com">{{"views.steps.support-link" | translate}}</a>!
            </p>
        </div>
        <div class="margin-bottom-40">
            <div class="step-by-step-header">
                <div class="colorful-ordered-list blue">1</div>
                <h4 translate>
                    views.steps.title-1
                </h4>
            </div>
            <p translate>
                views.steps.description-1
            </p>
        </div>
        <div class="margin-bottom-40">
            <div class="step-by-step-header">
                <div class="colorful-ordered-list green">2</div>
                <h4 translate>
                    views.steps.title-2
                </h4>
            </div>
            <p translate>
                views.steps.description-2
            </p>
        </div>
        <div class="margin-bottom-40">
            <div class="step-by-step-header">
                <div class="colorful-ordered-list yellow">3</div>
                <h4 translate>
                    views.steps.title-3
                </h4>
            </div>
            <p translate>
                views.steps.description-3
            </p>
        </div>
        <div class="margin-bottom-40">
            <div class="step-by-step-header">
                <div class="colorful-ordered-list red">4</div>
                <h4 translate>
                    views.steps.title-4
                </h4>
            </div>
            <p translate>
                views.steps.description-4
            </p>
        </div>
        <div class="margin-bottom-40">
            <div class="step-by-step-header">
                <div class="colorful-ordered-list brown">5</div>
                <h4 translate>
                    views.steps.title-5
                </h4>
            </div>
            <p translate>
                views.steps.description-5
            </p>
        </div>
        <div class="margin-bottom-40">
            <div class="step-by-step-header">
                <div class="colorful-ordered-list pink">6</div>
                <h4 translate>
                    views.steps.title-6
                </h4>
            </div>
            <p translate>
                views.steps.description-6-1
            </p>
            <p translate>
                views.steps.description-6-2
            </p>
        </div>
        <div class="margin-bottom-40">
            <div class="step-by-step-header">
                <div class="colorful-ordered-list blue">7</div>
                <h4 translate>
                    views.steps.title-7
                </h4>
            </div>
            <p translate>
                views.steps.description-7
            </p>
            <ol>
                <li translate>views.steps.description-7-1</li>
                <li translate>views.steps.description-7-2</li>
            </ol>
        </div>
        <h4 class="text-muted">
            {{"views.steps.ending-1" | translate}} <a href="mailto:support@dealers-app.com">{{"views.steps.ending-2" | translate}}</a>
            {{"views.steps.ending-3" | translate}}.
        </h4>
    </div>
</div>

<footer-section></footer-section>