<header>
    <div class="header-content">
        <div class="header-content-inner">
        		<button class="btn btn-primary btn-xl btn-glass pull-right">
        			Log In
        		</button>
            <div><img src="../../assets/images/Icons/@2x/Web_Icons_intro_logo_full_80.png" /></div>
            <h4>Don’t you prefer to hear about deals from your friends or other consumers like you? Well, that's what Dealers is all about.</h4>
            <p>To get the best deals and news from Dealers, subscribe now:</p>
            <!-- <div id="signUpSection">
	    			<button class="btn btn-primary btn-xl btn-facebook">Continue with Facebook</button>
	    			<button class="btn btn-primary btn-xl btn-email">Sign up with email</button>
				<button type="submit" id="subscribe" class="btn btn-primary btn-xl btn-glass">Subscribe</button>
	    		</div> -->
        </div>
    </div>
    <div class="find-out-more">
    		<a href="#about" class="btn btn-primary btn-xl page-scroll">
    			Find Out More<br />
    			<div class="caret"></div>
    		</a>
    </div>
</header>

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">What is Dealers?</h2>
                <hr class="primary">
                <p class="text-muted extra-bottom-margin">Dealers is a community where people share deals they find on the web and in local stores. This way we are only exposed to deals that are worth sharing. 
Currently there’s an iOS app, and we are working tirelessly on a website and android version.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img class="fa wow bounceIn" src="../../assets/images/Icons/@2x/Web_Icons_intro_smart_feed_icon.png" />
                    <h3>Smart Feed</h3>
                    <p class="text-muted">Receive great deals recommendations people shared, tailored to your preferences and info.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img class="fa wow bounceIn" data-wow-delay=".15s" src="../../assets/images/Icons/@2x/Web_Icons_intro_add_deals_icon.png" />
                    <h3>Add Deals</h3>
                    <p class="text-muted">Found a deal worth sharing? Contribute back to the community and post it. It's fun!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
               <div class="service-box">
                    <img class="fa wow bounceIn" data-wow-delay=".3s" src="../../assets/images/Icons/@2x/Web_Icons_intro_gain_points_icon.png" />
                    <h3>Move Forward</h3>
                    <p class="text-muted">Be active, gain points, move to the next rank and gain more influence!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img class="fa wow bounceIn" data-wow-delay=".45s" src="../../assets/images/Icons/@2x/Web_Icons_intro_find_whats_good_icon.png" />
                    <h3>Like It!</h3>
                    <p class="text-muted">Like, comment, and share deals, so we all know what's most recommended.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="ios-app" class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Download our iOS App</h2>
            <a href="https://bnc.lt/dealers_ios"><img class="appStoreBadge wow fadeInUp" src="../../assets/images/Icons/@2x/Web_Icons_Into_appstore_badge.png" /></a>
        </div>
    </div>
</section>

<footer class="bg-dark">
    <div class="container">
        <ul class="nav navbar-nav footer cf">
        		<li>
        			<a href="http://www.dealers.world/about">About</a>
        		</li>
        		<li>
        			<a href="http://www.dealers.world/blog">Blog</a>
        		</li>
        		<li>
        			<a href="http://www.dealers.world/contact">Contact</a>
        		</li>
        		<li>
        			<a href="http://www.dealers.world/terms">Privacy Policy</a>
        		</li>
        		<li>
        			<a class="facebook" href="https://www.facebook.com/dealersisrael">
        				<img src="../../assets/images/Icons/@2x/Web_Icons_intro_facebook_button_white.png"/>
        			</a>
        		</li>
        </ul>
    </div>
    <div class="container text-center">
        	<div id="copyrights">
            	Dealers, Copyright © 2015. All rights reserved.
        	</div>
    </div>
</footer>