<dl-navbar></dl-navbar>

<div class="container nav-margin" ng-cloak>
    <div class="framed-container text-center">
        <h2>Your officialy a dealer!</h2>
        <img class="ap-success-icon" ng-src="/assets/images/icons/@2x/Web_Icons_success_icon.png">
        <h4>You can start upload and sell products.</h4>
        <div class="ap-share-options-container">
            <md-button class="btn-secondary" href="/new-product/basic-info" style="margin-right:12px">
                Upload your first product
            </md-button>
            <md-button class="btn-default ap-done" href="/home">
                Maybe later
            </md-button>
        </div>
    </div>
</div>