<dl-navbar></dl-navbar>

<div class="container nav-margin" ng-cloak>
    <div class="framed-container text-center done-registration">
        <h2>You are officially a dealer!</h2>
        <img class="ap-success-icon" ng-src="/assets/images/icons/@2x/Web_Icons_success_icon.png">
        <h4>You can start upload and sell products.</h4>
        <p class="text-muted margin-bottom-30">Check our <a ng-href="/step-by-step" target="_blank">full step-by-step guide</a> to
            selling with Dealers.</p>
        <div class="ap-share-options-container">
            <md-button class="btn-primary" href="/new-product/basic-info" style="margin-right:12px">
                Upload your first product
            </md-button>
            <md-button class="md-btn-small ap-done" href="/home">
                Maybe later
            </md-button>
        </div>
    </div>
</div>