<md-dialog aria-label="Sign in (sign up and log in)" class="sign-in-dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <img ng-src="../../../../../assets/images/icons/@2x/Web_Icons_quit_button_icon.png"
                     style="height:18px">
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content style="max-height: 810px;">
        <md-tabs md-selected="selectedTab" md-dynamic-height md-border-bottom>
            <md-tab label="Sign Up" md-on-select="onTabSelected(0)">
                <md-content>
                    <form name="signUpForm" class="dl-form clearfix" ng-submit="signDealer(signUpForm)" novalidate>
                        <div class="dl-form-col left-col pull-left">
                            <div class="dl-field">
                                <img src="/assets/images/icons/@2x/Web_Icons_name_icon.png"/>
                                <input id="fullName" name="fullName" type="text" placeholder="Full Name"
                                       class="form-control dl-input"
                                       ng-model="dealer.full_name" required/>
                            </div>
                            <div class="dl-field">
                                <img src="/assets/images/icons/@2x/Web_Icons_email_icon.png"/>
                                <input id="email" name="email" type="email" placeholder="Email"
                                       class="form-control dl-input"
                                       ng-model="dealer.email" required/>
                            </div>
                            <div class="dl-field">
                                <img src="/assets/images/icons/@2x/Web_Icons_password_icon.png"/>
                                <input id="password" name="password" type="password" placeholder="Password"
                                       class="form-control dl-input"
                                       ng-model="dealer.user.password" required/>
                            </div>
                        </div>
                        <div class="dl-form-col pull-right">
                            <div class="dl-field">
                                <img ng-src="../../../../assets/images/icons/@2x/Web_Icons_date_of_birth_icon.png"/>
                                <input type="text" class="dl-input form-control"
                                       uib-datepicker-popup="dd.MM.yyyy"
                                       ng-model="dealer.date_of_birth"
                                       is-open="datepicker.opened"
                                       datepicker-options="datepicker.options"
                                       ng-required="false"
                                       close-text="Close"
                                       placeholder="Date of Birth"
                                       ng-focus="openDatepicker()"/>
                            </div>
                            <div class="dl-field" style="display:block">
                                <img src="/assets/images/icons/@2x/Web_Icons_gender_icon.png"/>
                                <input type="radio" name="gender" value="Male" ng-model="dealer.gender"> Male
                                <input type="radio" name="gender" value="Female" ng-model="dealer.gender"> Female
                                <span class="text-muted" style="margin-left: 5px">*</span>
                            </div>
                            <p class="dl-note text-muted it">
                                <i>* optional</i>
                            </p>
                        </div>
                        <p class="dl-error dl-note text-center" ng-show="showError">{{errorMessage}}</p>
                        <p class="dl-note text-center text-muted pull-left">
                            By signing up you agree to our <a href="http://www.dealers.world/terms/">Terms of
                            Service &amp; Privacy Policy</a>
                        </p>
                    </form>
                </md-content>
            </md-tab>
            <md-tab label="Log In" md-on-select="onTabSelected(1)">
                <md-content>
                    <form name="logInForm" class="dl-form form-sm clearfix" ng-submit="logIn(logInForm)" novalidate>
                        <div class="dl-field">
                            <input name="email" type="email" placeholder="Email" class="form-control dl-input"
                                   ng-model="logIn.email" required/>
                        </div>
                        <div class="dl-field">
                            <input name="password" type="password" placeholder="Password" class="form-control dl-input"
                                   ng-model="logIn.password" required/>
                        </div>
                        <p class="dl-error dl-note text-center" ng-show="showError">{{errorMessage}}</p>
                    </form>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button type="submit" class="btn btn-primary btn-single dl-submit md-primary md-raised"
                   ng-click="submit($event, signUpForm, logInForm)" md-autofocus>
            {{buttonTitle}}
        </md-button>
    </md-dialog-actions>
</md-dialog>
