<dl-navbar></dl-navbar>

<div class="container nav-margin">
    <div class="framed-container text-center">
        <h2>Your product uploaded Successfully!</h2>
        <img class="ap-success-icon" ng-src="../../../../assets/images/icons/@2x/Web_Icons_success_icon.png">
        <h4>Time to spread the word</h4>
        <div class="ap-share-options-container">
            <button class="btn btn-facebook">Share with Facebook</button>
        </div>
        <button class="btn btn-secondary ap-done" ng-click="done()">Done</button>
    </div>
</div>    <!-- container -->