<div class="ap-navbar">
	<button class="clickable">
		<img ng-src="../../../../assets/images/icons/@2x/Web_Icons_quit_button_icon.png" class="quit" />
	</button>
	<ul class="breadcrumb">
		<li><a href ng-click="moveTo('/basic-info')">Basic info</a></li>
		<li><a href ng-click="moveTo('/more-details')" ng-class="{disabled: checkPhase('/more-details')}">More details</a></li>
		<li><a href ng-click="moveTo('/spread')" ng-class="{disabled: checkPhase('/spread')}">Spread the word</a></li>
	</ul>
</div>
