<section class="dealContainer col-lg-4 col-md-6 col-sm-6">
	<div class="deal">
		<a href="" ng-click="viewDeal(deal)">
			<div class="imageContainer">
				<img ng-src="{{dealImage}}" style="min-height: {{imageHeight}}px" class="dealImage {{dealImageStatus}}" ng-show="hasPhoto"/>
				<div class="noImageBackground" style="background-color: {{imageBackgroundColor}}" ng-hide="hasPhoto"></div>
			</div>
			<div class="dealInfoBar">
				<div class="profilePicContainer">
					<img ng-src="{{profilePic}}" class="dealerProfilePic" ng-show="hasProfilePic" />
					<div class="dealerProfilePic defaultProfilePic" ng-hide="hasProfilePic"></div>
				</div>
				<div class="priceContainer" ng-show="deal.price || deal.discount_value">
					<span class="price" ng-show="deal.price">{{deal.price | currency:dealCur}}</span> 
					<span class="discount previousPrice" ng-show="discountTypePP">{{deal.discount_value | currency:dealCur}}</span> 
					<span class="discount" ng-show="!discountTypePP && deal.discount_value">{{deal.discount_value}}%</span>
				</div>
				<h4 class="dealTitle">
					{{deal.title}}
				</h4>
				<div class="storeContainer">
					<p class="dealInfo store">
						<img class="infoIcon" src="assets/images/icons/Web_Icons_my_feed_local_icon.png"/>
						{{deal.store.name}}
					</p>
				</div>
				<div class="likesContainer" ng-show="hasLikes">
					<p class="dealInfo likes"> 
						<img class="infoIcon" src="assets/images/icons/Web_Icons_my_feed_like_icon.png"/>
						{{deal.dealattribs.dealers_that_liked.length}}
					</p>
				</div>
			</div>
		</a>
	</div>
</section>