<dl-navbar></dl-navbar>

<div class="container nav-margin">
	<h1 ng-show="title" class="dg-title">
		{{title}}
	</h1>
	<div ng-switch on="status">
		<div ng-switch-when="loading" class="dl-fade">
			<loading-spinner></loading-spinner>
		</div>
		<div ng-switch-when="failed" class="fade">
			<h1 class="dg-download-message">{{message}} <br> {{errorPrompt}} </h1>
		</div>
		<div scroll-detector ng-switch-when="downloaded" class="dl-fade">
			<h1 class="dg-download-message" ng-show="message">
				{{message}}
			</h1>
			<dl-product ng-repeat="product in products" product="product"></dl-product>
			<div ng-show="update.loadingMore" class="dl-fade dg-loading-more">
				<loading-spinner size="small"></loading-spinner>
			</div>
		</div>
	</div>
</div>

