<section class="productContainer repeated-item col-lg-4 col-md-6 col-sm-6">
	<a href ng-click="viewDeal(product)">
		<div class="product">
			<div class="imageContainer">
				<img ng-src="{{productImage}}" style="height: {{imageHeight}}px;" class="productImage {{productImageStatus}}"
					 ng-show="hasPhoto"/>
				<div class="noImageBackground" style="background-color: {{imageBackgroundColor}}" ng-hide="hasPhoto"></div>
			</div>
			<div class="productInfoBar">
				<div class="profilePicContainer">
					<a href="/#/dealers/{{product.dealer.id}}">
						<img ng-src="{{profilePic}}" class="dealerProfilePic dl-fade" ng-show="hasProfilePic" />
						<div class="dealerProfilePic defaultProfilePic" ng-hide="hasProfilePic"></div>
					</a>
				</div>
				<div class="priceContainer" ng-show="product.price || product.discount_value">
					<span class="price" ng-show="product.price">{{product.price | currency:productCur}}</span>
					<span class="discount previousPrice" ng-show="discountTypePP">{{product.discount_value | currency:productCur}}</span>
					<span class="discount" ng-show="!discountTypePP && product.discount_value">{{product.discount_value}}%</span>
				</div>
				<h4 class="productTitle">
					{{product.title}}
				</h4>
				<div class="storeContainer">
					<p class="productInfo store">
						<img class="infoIcon" src="../../../../assets/images/icons/Web_Icons_my_feed_local_icon.png"/>
						{{product.store.name}}
					</p>
				</div>
				<div class="likesContainer" ng-show="hasLikes">
					<p class="productInfo likes"> 
						<img class="infoIcon" src="../../../../assets/images/icons/Web_Icons_my_feed_like_icon.png"/>
						{{product.dealattribs.dealers_that_liked.length}}
					</p>
				</div>
			</div>
		</div>
	</a>
</section>