<dl-navbar></dl-navbar>

<div style="height: 80px"
     ng-show="downloadDealerStatus != 'downloaded'"></div> <!-- Just for getting a margin when products are loading -->
<div class="pr-header-section nav-padding" ng-show="downloadDealerStatus == 'downloaded'">
    <div class="container pr-header-container">
        <div class="pr-settings" ng-if="profileMode == 'myProfile'">
            <div class="pr-settings-button-container">
                <md-button class="btn btn-md btn-default non-mobile" ng-click="settingsToggle()"
                           style="margin-top: -10px">
                    <img ng-src="../../../../assets/images/icons/@2x/Web_Icons_settings_icon.png" class="side-icon"/>
                    Settings
                </md-button>
                <md-button class="mobile" ng-click="settingsToggle()" style="margin-top: -10px">
                    <img ng-src="../../../../assets/images/icons/@2x/Web_Icons_settings_icon.png" class="main-icon"/>
                </md-button>
                <div class="dl-dropdown" ng-show="settingsDisplay">
                    <ul>
                        <a href ng-click="logOut()">
                            <li>Log Out</li>
                        </a>
                    </ul>
                </div>
                <!-- <dl-dropdown list="settings" ng-show="settingsDisplay"></dl-dropdown> -->
            </div>

        </div>
        <div class="pr-profile-pic">
            <img ng-src="{{profilePic}}" class="dealerProfilePic" ng-show="hasProfilePic"/>
            <div class="dealerProfilePic defaultProfilePic" ng-hide="hasProfilePic"></div>
        </div>
        <div class="pr-name">
            <h2>
                {{profile.dealer.full_name}}
            </h2>
        </div>
        <div class="pr-basic-info">
            <div class="pr-rank">
                <img ng-src="{{rankIcon}}" ng-class="rankClass"/> {{profile.dealer.rank}}
            </div>
            <div class="pr-location" ng-show="profile.dealer.location && profile.dealer.location != 'None'">
                <img ng-src="../../../../assets/images/icons/@2x/Web_Icons_my_feed_local_icon.png"/>
                {{profile.dealer.location}}
            </div>
            <div class="pr-about" ng-show="profile.dealer.about && profile.dealer.about != 'None'">
                <p>
                    {{profile.dealer.about}}
                </p>
            </div>
        </div>
        <div ng-if="profileMode == 'myProfile'" class="pr-options">
            <div class="pr-options-list">
                <ul>
                    <li tab-list class="active" ng-if="dealer.role == roles.dealer">
                        <md-button>My Products</md-button>
                    </li>
                    <li tab-list ng-if="dealer.role == roles.dealer">
                        <md-button>Sales</md-button>
                    </li>
                    <li tab-list ng-class="{active: dealer.role == roles.viewer}" ng-if="dealer.role == roles.viewer || dealer.role == roles.dealer">
                        <md-button>Orders</md-button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container" ng-switch on="displayMode">
    <dl-products-grid ng-switch-when="MY PRODUCTS" title="gridTitle" source="source" page="page"
                      class="no-margin"></dl-products-grid>
    <sales-list ng-switch-when="SALES"></sales-list>
    <orders-list ng-switch-when="ORDERS"></orders-list>
</div>

