<dl-navbar></dl-navbar>

<div class="container nav-margin" ng-cloak>
    <div class="framed-container text-center">
        <h2 translate>views.checkout-finish.title</h2>
        <img class="ap-success-icon" ng-src="/assets/images/icons/@2x/Web_Icons_success_icon.png">
        <div class="ap-share-options-container checkout-finish-options">
            <md-button ng-click="purchaseDetails($event)" class="btn-primary" ng-class="{'conceal': !hasPurchase}">
                {{'views.checkout-finish.purchase-details' | translate}}
            </md-button>
            <md-button class="btn-primary facebook" share-button>
                {{'views.checkout-finish.facebook' | translate}}
            </md-button>
        </div>
        <p> {{'views.checkout-finish.tip-1' | translate}} </p>
        <md-button class="btn-secondary" ng-click="done()">
            {{'general.done' | translate}}
        </md-button>
    </div>
</div>

<footer-section></footer-section>