<dl-navbar></dl-navbar>

<div class="container" ng-cloak>
    <div class="framed-container checkout nav-margin" ng-switch on="status">
        <div ng-switch-when="downloading">
            <loading-spinner></loading-spinner>
        </div>
        <div ng-switch-when="failed">
            <h1 class="dl-download-error">{{errorMessage}} <br> {{errorPrompt}} </h1>
        </div>
        <div ng-switch-when="downloaded" style="position: relative">
            <h2 translate>views.checkout.title</h2>
            <form name="checkoutForm"
                  class="clearfix"
                  ng-submit="checkout(checkoutForm, $event)"
                  novalidate
                  layout="column">
                <div layout="column" layout-gt-sm="row">
                    <div>
                        <div class="co-preferred-shipping-method dl-select full-width">
                            <h4 translate>
                                views.checkout.delivery-option
                            </h4>
                            <md-radio-group ng-model="delivery.selectedShipping"
                                            ng-change="updateSelectedShipping($event)"
                                            ng-show="delivery.selectedShipping != PICKUP_METHOD">
                                <div ng-repeat='shipping in shippingMethods' class="co-shipping-methods">
                                    <div flex layout='column' layout-gt-xs="row">
                                        <md-radio-button ng-value="shipping.delivery_method"
                                                         class="md-primary"
                                                         flex="100" flex-gt-xs="30">
                                            {{shipping.title}}
                                        </md-radio-button>
                                        <div class="co-shipping-details" flex layout="row" layout-align="start center">
                                            <div flex>
                                                <ul ng-show="shipping.delivery_method != PICKUP_METHOD"
                                                    class="list-inline no-margin">
                                                    <li ng-show="shipping.shipping_price == 0" translate>views.checkout.free-shipping</li>
                                                    <li ng-show="shipping.shipping_price > 0">{{shipping.shipping_price
                                                        | currency:product.currency}}
                                                    </li>
                                                    <li class="footer-menu-divider">⋅</li>
                                                    <li>{{shipping.estimated_delivery_time}} {{'views.checkout.business-days' | translate}}</li>
                                                </ul>
                                            </div>
                                            <div flex="none">
                                                <md-button ng-click="presentDetails(shipping, $event)"
                                                           class="md-btn-small btn-background"
                                                           ng-show="shipping.description">
                                                    {{'views.checkout.details' | translate}}
                                                </md-button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </md-radio-group>
                        </div>
                        <div class="co-shipping-address animate-height"
                             ng-class="{'dl-show': presentShippingAddress}"
                             flex-gt-sm="60">
                            <h4 translate>views.checkout.shipping-address</h4>
                            <div class="dl-field no-icon-field form-group">
                                <label for="co-shipping-address" translate>
                                    views.purchase-details.address
                                </label>
                                <input id="co-shipping-address" name="co-shipping-address" type="text"
                                       class="form-control dl-input"
                                       ng-model="shipping_address.st_address"
                                       required
                                />
                            </div>
                            <div class="dl-field no-icon-field form-group">
                                <label for="co-city" translate>
                                    views.purchase-details.city
                                </label>
                                <input id="co-city" name="co-city" type="text"
                                       class="form-control dl-input"
                                       ng-model="shipping_address.city"
                                       required
                                />
                            </div>
                            <div class="dl-field no-icon-field form-group" ng-show="false">
                                <label for="co-state" translate>
                                    views.purchase-details.state
                                </label>
                                <input id="co-state" name="co-state" type="text"
                                       class="form-control dl-input"
                                       ng-model="shipping_address.state"
                                />
                            </div>
                            <div class="dl-field no-icon-field form-group">
                                <label for="co-country" translate>
                                    views.purchase-details.country
                                </label>
                                <input id="co-country" name="co-country" type="text"
                                       class="form-control dl-input"
                                       ng-model="shipping_address.country"
                                       required
                                />
                            </div>
                            <div class="dl-field no-icon-field form-group">
                                <label for="co-zip" translate>
                                    views.purchase-details.zip
                                </label>
                                <input id="co-zip" name="co-zip" type="text"
                                       class="form-control dl-input"
                                       ng-model="shipping_address.zip"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="divider" style="width: 60px" ng-show="!smallSize" flex-gt-sm="none">
                    </div>
                    <div flex>
                        <div class="secure-payment-container-upper-right desktop">
                            <secure-payment></secure-payment>
                        </div>
                        <div class="co-product-info">
                            <div class="co-product-preview">
                                <h4>{{product.title}}</h4>
                                <div class="co-product-pic">
                                    <img ng-src="{{productImage}}"/>
                                </div>
                                <div class="co-product-details">
                                    <div class="co-selections">
                                        <ul>
                                            <li ng-repeat="selection in purchase.selections"><b>{{selection.name}}:</b>
                                                {{selection.selection}}
                                            </li>
                                            <li><b>{{'views.checkout.quantity' | translate}}</b> {{purchase.quantity}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="margin-top-40">
                            <total-price-calculator present="delivery.selectedShippingObj" purchase="purchase" delivery="delivery.selectedShippingObj"></total-price-calculator>
                        </div>
                    </div>
                </div>
                <div class="co-submit-button">
                    <md-button id="co-pay"
                               class="btn-primary btn-single btn-xl"
                               type="submit">
                        {{'views.checkout.continue' | translate}}
                    </md-button>
                </div>
                <div class="secure-payment-container-lower-left mobile">
                    <secure-payment></secure-payment>
                </div>
            </form>
        </div>
    </div>
</div>
<footer-section></footer-section>