<div>
    <div class="mini-container dl-show">
        <p ng-repeat="paragraph in text.split('\n') track by $index">
            {{paragraph}}
        </p>
        <div class="text-bottom-cover" ng-show="needMinimize && !present">
        </div>
    </div>
    <div class="mini-buttons" ng-show="needMinimize">
        <md-button ng-hide="present" class="md-btn-small btn-smaller" ng-click="toggle($event)">
            {{"general.show-more" | translate}}
        </md-button>
        <md-button ng-show="present" class="md-btn-small btn-smaller" ng-click="toggle($event)">
            {{"general.minimize" | translate}}
        </md-button>
    </div>
</div>