<nav class="navbar navbar-default navbar-shade navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a ng-href="/home" class="navbar-brand clickable" title="Home">
                <img ng-src="../../assets/images/icons/logo_clean_small.png"/>
            </a>
        </div>
        <ul class="nav navbar-left">
            <li>
                <a class="nav-button mobile" ng-click="toggleSearchBar($event)" ng-show="phoneMode">
                    <img src="../../../../assets/images/icons/@2x/Web_Icons_navbar_search_button.png">
                </a>
            </li>
        </ul>
        <div class="navbar-search nav dl-fade"
             ng-hide="!searchBarPresented && phoneMode" ng-class="{searchBarPresented: searchBarPresented,
             'navbar-left': !phoneMode && !tabletMode}">
            <form name="searchForm" ng-submit="search(searchForm)" novalidate="">
                <div class="form-group">
                    <input
                            name="search"
                            value="{{searchTerm.text}}"
                            type="text"
                            class="search form-control"
                            ng-model="searchTerm.text"
                            placeholder="{{'views.navbar.search-placeholder' | translate}}"
                            required/>
                </div>
            </form>
        </div>
        <ul ng-class="{'navbar-left': !phoneMode && !tabletMode}" class="nav">
            <li>
                <md-menu md-offset="0 62" class="dark-links">
                    <a class="nav-button" ng-click="toggleMenu($mdOpenMenu, $mdMenuIsOpen, $event)">
                        <img src="../../../../assets/images/icons/@2x/Web_Icons_navbar_categories_icon.png">
                        <span class="caret non-mobile"></span>
                    </a>
                    <md-menu-content class="dark-links" style="position: relative; padding-bottom: 40px" width="5">
                        <md-content>
                            <md-menu-item ng-repeat="category in categories track by $index">
                                <md-button ng-click="selectCategory($index)" ng-class="evaluateCategoryClass($index, true)">
                                    {{category | htmlEscape}}
                                </md-button>
                            </md-menu-item>
                        </md-content>
                        <menu-footer></menu-footer>
                    </md-menu-content>
                </md-menu>
            </li>
        </ul>
        <ul id="nav-add-product" ng-class="{'navbar-right': !phoneMode && !tabletMode}" class="nav"
            ng-if="mode == 'Dealer'">
            <li>
                <a ng-href="/new-product">
                    <div>
                        <img src="../../../../assets/images/icons/@2x/Web_Icons_add_product_button.png"/>
                    </div>
                </a>
            </li>
        </ul>
        <ul id="nav-profile" ng-class="{'navbar-right': !phoneMode && !tabletMode}" class="nav" ng-if="mode != 'Guest'">
            <li>
                <a ng-href="/dealers/{{dealer.id}}"
                   ng-mouseenter="$mdOpenMenu($event)"
                   ng-mouseleave="closeMenu($mdOpenMenu, $mdMenuIsOpen, $event)">
                    <div>
                        <img class="profileThumbnail img-circle" ng-src="{{userProfilePic}}"/>
                        <span class="non-mobile">{{dealer.full_name}}</span>
                    </div>
                </a>
            </li>
        </ul>
        <ul id="nav-language" ng-class="{'navbar-right': !phoneMode && !tabletMode}" class="nav non-mobile" ng-if="mode == 'Guest'">
            <li>
                <md-select ng-model="currentLocaleDisplayName"
                           class="md-no-underline"
                           style="margin: 8px;"
                           ng-change="changeLanguage(currentLocaleDisplayName)"
                           ng-translate-language-select>
                    <md-option ng-repeat="localesDisplayName in localesDisplayNames" value="{{localesDisplayName}}">
                        <img ng-src="{{getFlag(localesDisplayName)}}" width="21px" height="14px" class="flag-icon">
                        {{localesDisplayName}}
                    </md-option>
                </md-select>
            </li>
        </ul>
        <!--<ul id="nav-language-mobile" ng-class="{'navbar-right': !phoneMode && !tabletMode}" class="nav mobile" ng-if="mode == 'Guest'">-->
            <!--<li>-->
                <!--<md-select ng-model="currentLocaleDisplayName"-->
                           <!--class="md-no-underline"-->
                           <!--style="margin: 8px;"-->
                           <!--ng-change="changeLanguage(currentLocaleDisplayName)"-->
                           <!--ng-translate-language-select>-->
                    <!--<md-option ng-repeat="localesDisplayName in localesDisplayNames" value="{{localesDisplayName}}">-->
                        <!--<img ng-src="{{getFlag(localesDisplayName)}}" width="21px" height="14px" class="flag-icon">-->
                    <!--</md-option>-->
                <!--</md-select>-->
            <!--</li>-->
        <!--</ul>-->
        <ul id="nav-sell" ng-class="{'navbar-right': !phoneMode && !tabletMode}" class="nav" ng-if="mode != 'Dealer'"
            register-as-dealer>
            <li>
                <a>
                    <div class="emphasize">
                        {{'general.sell' | translate}} <span class="non-mobile"> {{'general.with-dealers' | translate}}</span>
                    </div>
                </a>
            </li>
        </ul>
        <ul id="nav-login" ng-class="{'navbar-right': !phoneMode && !tabletMode}" class="nav" ng-if="mode == 'Guest'"
            register-as-dealer>
            <li>
                <a style="padding-top: 12px;">
                    <div id="log-in" translate>
                        views.sign-in-dialog.log-in
                    </div>
                </a>
            </li>
        </ul>
    </div>
</nav>