<dl-navbar></dl-navbar>

<div style="height: 80px"
     ng-show="downloadDealerStatus != 'downloaded'"></div> <!-- Just for getting a margin when products are loading -->
<div class="nav-padding" style="background-color: white"  ng-cloak>
    <div class="pr-settings-container container" ng-if="profileMode == 'myProfile'">
        <md-menu class="mobile pr-settings">
            <md-button class="md-btn-small" ng-click="openMenu($mdOpenMenu, $event)">
                <img ng-src="../../../../assets/images/icons/@2x/Web_Icons_settings_icon.png" class="main-icon"/>
            </md-button>
            <md-menu-content width="3">
                <md-menu-item>
                    <md-button ng-click="editProfile($event)">
                        {{"general.edit-profile" | translate}}
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="logOut($event)">
                        {{"general.log-out" | translate}}
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
        <md-menu class="non-mobile pr-settings">
            <md-button class="md-btn-small" ng-click="openMenu($mdOpenMenu, $event)">
                <img ng-src="../../../../assets/images/icons/@2x/Web_Icons_settings_icon.png" class="side-icon" style="top: -1px"/>
                {{"general.settings" | translate}}
            </md-button>
            <md-menu-content width="3">
                <md-menu-item>
                    <md-button ng-click="editProfile($event)">
                        {{"general.edit-profile" | translate}}
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button href="/help">
                        {{"general.help" | translate}}
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="logOut($event)">
                        {{"general.log-out" | translate}}
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
    <div class="pr-header-section" ng-show="downloadDealerStatus == 'downloaded'">
        <div class="container pr-header-container">
            <div class="pr-profile-pic">
                <img ng-src="{{profilePic}}" class="dealerProfilePic" ng-show="hasProfilePic"/>
                <div class="dealerProfilePic defaultProfilePic" ng-hide="hasProfilePic"></div>
            </div>
            <div class="pr-name">
                <h2>
                    {{profile.dealer.full_name}}
                </h2>
            </div>
            <div class="pr-basic-info">
                <!--<div class="pr-rank">-->
                    <!--<img ng-src="{{rankIcon}}" ng-class="rankClass"/> {{profile.dealer.rank}}-->
                <!--</div>-->
                <div class="pr-location" ng-show="profile.dealer.location && profile.dealer.location != 'None'">
                    <img ng-src="../../../../assets/images/icons/@2x/Web_Icons_my_feed_local_icon.png"/>
                    {{profile.dealer.location}}
                </div>
                <div class="pr-about" ng-show="profile.dealer.about && profile.dealer.about != 'None'">
                    <minimizable text="profile.dealer.about" max-height="200"></minimizable>
                </div>
            </div>
            <div ng-if="profileMode == 'myProfile'" class="pr-options">
                <div class="pr-options-list">
                    <ul>
                        <li tab-list ng-click="tabSelect('myProducts')" ng-class="{'active': displayMode == displayModes.myProducts}" ng-if="dealer.role == roles.dealer">
                            <md-button class="md-btn-small">
                                {{"views.profile.my-products" | translate}}
                            </md-button>
                        </li>
                        <li tab-list ng-click="tabSelect('sales')" ng-class="{'active': displayMode == displayModes.purchases}" ng-if="dealer.role == roles.dealer">
                            <md-button class="md-btn-small">
                                {{"views.profile.sales" | translate}}
                            </md-button>
                        </li>
                        <li tab-list ng-click="tabSelect('orders')" ng-class="{'active': displayMode == displayModes.orders}" ng-if="dealer.role == roles.viewer || dealer.role == roles.dealer">
                            <md-button class="md-btn-small">
                                {{"views.profile.orders" | translate}}
                            </md-button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-if="profileMode == 'myProfile'" class="container" ng-switch on="displayMode">
    <dl-products-grid ng-switch-when="MY PRODUCTS" title="gridTitle" source="source" page="page"
                      class="no-margin"></dl-products-grid>
    <sales-list ng-switch-when="SALES"></sales-list>
    <orders-list ng-switch-when="ORDERS"></orders-list>
</div>

<div ng-if="profileMode != 'myProfile'" class="container">
    <dl-products-grid title="gridTitle" source="source" page="page"
                      class="no-margin"></dl-products-grid>
</div>

