<dl-navbar></dl-navbar>

<div class="container nav-margin" ng-cloak>
    <div class="framed-container container-padding purchase-details nav-margin" ng-switch on="status">
        <div ng-switch-when="downloading">
            <loading-spinner></loading-spinner>
        </div>
        <div ng-switch-when="failed">
            <h1 class="dl-download-error">{{errorMessage}} <br> {{errorPrompt}} </h1>
        </div>
        <div ng-switch-when="downloaded" layout="column">
            <h2>Purchase Details</h2>
            <div layout="row" layout-xs="column">
                <div class="pd-purchase-details margin-bottom-30" flex flex-xs="60">
                    <div class="margin-bottom-30">
                        <ul>
                            <li class="purchase-amount">{{purchase.amount / 100 * purchase.quantity |
                                currency:purchase.currency}}
                            </li>
                            <li>Qty: <b>{{purchase.quantity}}</b> <span ng-show="purchase.quantity > 1"><b>({{purchase.amount / 100 | currency: purchase.currency}} each)</b></span>
                            </li>
                            <li>Bought on the on the <b>{{purchase.purchase_date | date: 'short'}}</b></li>
                            <li>Status: <b>{{purchase.status}}</b></li>
                            <li ng-show="purchase.estimated_delivery_time > 0">ETD: <b>{{purchase.estimated_delivery_time}}
                                days</b>
                            </li>
                        </ul>
                    </div>
                    <div class="margin-bottom-30">
                        <h4>Shipping Address</h4>
                        <ul>
                            <li>Address: <b>{{shipping_address.st_address}}</b></li>
                            <li>City: <b>{{shipping_address.city}}</b></li>
                            <li ng-show="shipping_address.state.length > 0">State: <b>{{shipping_address.state}}</b>
                            </li>
                            <li>Country: <b>{{purchase.shipping_address.country}}</b></li>
                        </ul>
                    </div>
                </div>
                <div flex flex-xs="40">
                    <dl-product ng-if="product" product="product"></dl-product>
                </div>
            </div>
        </div>
    </div>
</div>