<md-content ng-switch="loadingStatus">
    <div ng-switch-when="loading">
        <loading-spinner></loading-spinner>
    </div>
    <div ng-switch-when="downloaded">
        <md-list flex ng-show="purchases.length > 0">
            <div class="list-item-container" ng-repeat="purchase in purchases">
                <md-list-item class="purchase-list-item md-3-line" ng-click="purchaseDetails(purchase, $event)">
                    <div class="md-list-item-text">
                        <h3>{{purchase.deal.title}}</h3>
                        <h4 class="purchase-amount">{{(purchase.amount / 100) * purchase.quantity | currency:
                            purchase.currency}}</h4>
                        <p>Qty: {{purchase.quantity}} <span ng-show="purchase.quantity > 1">({{purchase.amount / 100 | currency: purchase.currency}} each)</span>
                        </p>
                        <p>Bought by <a ng-href="/dealers/{{purchase.dealer.id}}"
                                        ng-click="$event.stopPropagation();">
                            {{purchase.dealer.full_name}}</a>
                            on
                            the
                            {{purchase.purchase_date | date: 'short'}}</p>
                        <p>Status: {{purchase.status}}</p>
                        <p ng-show="purchase.estimated_delivery_time > 0">ETD: {{purchase.estimated_delivery_time}}
                            days</p>
                        <md-button class="md-button md-secondary md-btn-small"
                                   ng-class="{'received': purchase.status == 'Sent'}"
                                   ng-click="changeStatus($event, purchase)" update-status-dealer
                                   ng-disabled="purchase.status == 'Received'">
                            {{markButtonTitle(purchase)}}
                        </md-button>
                    </div>
                </md-list-item>
                <md-divider></md-divider>
            </div>
        </md-list>
        <h4 ng-show="purchases.length == 0" class="text-center">You haven't made any sales yet.</h4>
    </div>
</md-content>