<footer class="bg-dark">
    <div class="container">
        <ul class="nav navbar-nav footer cf">
        		<li>
        			<a href="http://www.dealers.world/about">About</a>
        		</li>
        		<li>
        			<a href="http://www.dealers.world/blog">Blog</a>
        		</li>
        		<li>
        			<a href="http://www.dealers.world/contact">Contact</a>
        		</li>
        		<li>
        			<a href="http://www.dealers.world/terms">Privacy Policy</a>
        		</li>
        		<li>
        			<a class="facebook" href="https://www.facebook.com/dealersisrael">
        				<img src="../../assets/images/Icons/@2x/Web_Icons_intro_facebook_button_white.png"/>
        			</a>
        		</li>
        </ul>
    </div>
    <div class="container text-center">
        	<div id="copyrights">
            	Dealers, Copyright © 2015. All rights reserved.
        	</div>
    </div>
</footer>