<dl-navbar></dl-navbar>

<div class="container nav-margin" ng-cloak>
    <div class="framed-container text-center done-registration">
        <h2 translate>views.done-registration.officially-dealer</h2>
        <img class="ap-success-icon" ng-src="/assets/images/icons/@2x/Web_Icons_success_icon.png">
        <h4 translate>views.done-registration.start</h4>
        <p class="text-muted margin-bottom-30">
            {{"views.done-registration.check-our" | translate}}
            <a ng-href="/step-by-step" target="_blank">{{"views.done-registration.guide" | translate}}</a>
            {{"views.done-registration.to-sell" | translate}}</p>
        <div class="ap-share-options-container">
            <md-button class="btn-primary" href="/new-product" style="margin: 0 12px">
                {{"views.done-registration.upload" | translate}}
            </md-button>
            <md-button class="btn-secondary" href="/home">
                {{"views.done-registration.maybe-later" | translate}}
            </md-button>
        </div>
    </div>
</div>