<dl-navbar></dl-navbar>

<div class="nav-padding">
    <form
            name="registerAsDealerForm"
            class="no-padding dl-form paged-form framed-container"
            ng-submit="register(registerAsDealerForm)"
            novalidate
            ng-cloak>
        <md-content>
            <md-tabs md-selected="selectedTab" md-dynamic-height md-border-botton>
                <md-tab md-on-select="onTabSelected(0)">
                    <md-tab-label>
                        <span class="tabIndex">1</span>
                        <div translate>views.dealer-registration.general-info-title</div>
                    </md-tab-label>
                    <md-tab-body class="md-padding">
                        <p class="text-center" translate>
                            views.dealer-registration.few-steps-tip
                        </p>
                        <div id="rad-dealer-profile-photo" class="text-center">
                            <input id="rad-input-profile-pic" name="inputProfilePic" type="file" class="inputfile"
                                   accept="image/*"
                                   photo-input photo="photo" photo-url="photoURL"/>
                            <label
                                    for="rad-input-profile-pic"
                                    class="profile-pic-btn clickable"
                                    style="background: url({{croppedPhotoURL}}); background-size: contain;">
                            </label>
                            <label for="rad-input-profile-pic" class="md-button md-btn-small">
                                {{editProfilePic}}
                            </label>
                            <p class="dl-note text-center text-muted" style="margin: -6px 0 0" translate>
                                views.dealer-registration.photo
                            </p>
                        </div>
                        <div class="dl-form dl-form-col single-col">
                            <div class="dl-field no-icon-field form-group">
                                <label for="rad-name" translate="">
                                    views.sign-in-dialog.business-name
                                </label>
                                <input id="rad-name" name="name" type="text"
                                       placeholder="{{'views.sign-in-dialog.business-name' | translate}}"
                                       class="form-control dl-input"
                                       value="dealer.full_name"
                                       ng-model="dealer.full_name"
                                       required
                                />
                            </div>
                            <div class="dl-field-plus">
                                <div class="dl-field no-icon-field form-group">
                                    <label for="rad-about" translate>
                                        views.dealer-registration.about
                                    </label>
                                    <textarea id="rad-about" name="about" placeholder="{{'views.dealer-registration.about' | translate}}"
                                              class="dl-input form-control"
                                              ng-model="dealer.about"
                                              required>
                                </textarea>
                                </div>
                                <p class="dl-note dl-input-note" translate>
                                    views.dealer-registration.about-tip
                                </p>
                            </div>
                            <div class="dl-field-plus">
                                <div class="dl-field no-icon-field form-group">
                                    <label for="rad-location" translate>
                                        views.dealer-registration.location
                                    </label>
                                    <input id="rad-location" name="rad-location" type="text"
                                           placeholder="{{'views.dealer-registration.location' | translate}}"
                                           class="form-control dl-input"
                                           ng-model="dealer.location"
                                           required
                                           google-location-autocomplete
                                           autocomplete="on"
                                           location="dealer.location"
                                    />
                                </div>
                                <p class="dl-note dl-input-note" translate>
                                    views.dealer-registration.location-tip
                                </p>
                            </div>
                        </div>
                    </md-tab-body>
                </md-tab>
                <md-tab md-on-select="onTabSelected(1)">
                    <md-tab-label>
                        <span class="tabIndex">2</span>
                        <div translate>views.dealer-registration.bank-info-title</div>
                    </md-tab-label>
                    <md-tab-body class="md-padding">
                        <p class="text-center" translate>
                            views.dealer-registration.bank-info-tip
                        </p>
                        <div id="security-message">
                            <img width="30" height="30" src="/assets/images/icons/@2x/Web_Icons_password_icon_gray.png">
                            <p class="dl-note info-note">
                                {{"views.dealer-registration.security-message-1" | translate}}
                                <a ng-href="/security" target="_blank"> {{'views.dealer-registration.security-message-2' | translate}}</a>.
                            </p>
                        </div>
                        <div class="dl-form dl-form-col single-col">
                            <div class="dl-field no-icon-field form-group">
                                <label for="rad-account-number" translate>
                                    views.dealer-registration.account-number
                                </label>
                                <input id="rad-account-number" name="rad-account-number" type="text"
                                       placeholder="{{'views.dealer-registration.account-number-placeholder' | translate}}"
                                       class="form-control dl-input"
                                       ng-model="bank_account.account_number"
                                       required
                                />
                            </div>
                            <div class="dl-field no-icon-field form-group">
                                <label for="rad-branch-number" translate>
                                    views.dealer-registration.branch-number
                                </label>
                                <input id="rad-branch-number" name="rad-branch-number" type="text"
                                       placeholder="{{'views.dealer-registration.branch-number-placeholder' | translate}}"
                                       class="form-control dl-input"
                                       ng-model="bank_account.branch_number"
                                       required
                                />
                            </div>
                            <div class="dl-field no-icon-field form-group">
                                <label for="rad-bank" translate>
                                    views.dealer-registration.bank-name
                                </label>
                                <input id="rad-bank" name="rad-bank" type="text"
                                       placeholder="{{'views.dealer-registration.bank-name-placeholder' | translate}}"
                                       class="form-control dl-input"
                                       ng-model="bank_account.bank"
                                       required
                                />
                            </div>
                            <div class="dl-field no-icon-field form-group">
                                <label for="rad-bank" translate>
                                    views.dealer-registration.account-holder
                                </label>
                                <input id="rad-account-holder" name="rad-account-holder" type="text"
                                       placeholder="{{'views.dealer-registration.account-holder-placeholder' | translate}}"
                                       class="form-control dl-input"
                                       ng-model="bank_account.account_holder"
                                       required
                                />
                            </div>
                        </div>
                        <p class="dl-error dl-note text-center" ng-show="showError">{{errorMessage}}</p>
                    </md-tab-body>
                </md-tab>
            </md-tabs>
            <div style="padding: 0 20px;">
                <md-button type="submit" class="btn btn-primary btn-single dl-submit md-primary md-raised" md-autofocus>
                    {{submitButtonTitle}}
                </md-button>
            </div>
        </md-content>
    </form>
</div>
<footer-section></footer-section>