<dl-navbar></dl-navbar>
<div class="nav-padding">
    <form
            name="registerBankAccount"
            class="dl-form dl-form-container paged-form framed-container"
            ng-submit="register(registerBankAccount)"
            novalidate
            ng-cloak>
        <p class="text-center" translate>
            views.dealer-registration.bank-info-tip
        </p>
        <div id="security-message">
            <img width="30" height="30" src="/assets/images/icons/@2x/Web_Icons_password_icon_gray.png">
            <p class="dl-note info-note">
                {{"views.dealer-registration.security-message-1" | translate}}
                <a ng-href="/security" target="_blank"> {{'views.dealer-registration.security-message-2' |
                    translate}}</a>.
            </p>
        </div>
        <div>
            <div class="dl-field no-icon-field form-group">
                <label for="rad-account-number" translate>
                    views.dealer-registration.account-number
                </label>
                <input id="rad-account-number" name="rad-account-number" type="text"
                       placeholder="{{'views.dealer-registration.account-number-placeholder' | translate}}"
                       class="form-control dl-input"
                       ng-model="bank_account.account_number"
                       required
                />
            </div>
            <div class="dl-field no-icon-field form-group">
                <label for="rad-branch-number" translate>
                    views.dealer-registration.branch-number
                </label>
                <input id="rad-branch-number" name="rad-branch-number" type="text"
                       placeholder="{{'views.dealer-registration.branch-number-placeholder' | translate}}"
                       class="form-control dl-input"
                       ng-model="bank_account.branch_number"
                       required
                />
            </div>
            <div class="dl-field no-icon-field form-group">
                <label for="rad-bank" translate>
                    views.dealer-registration.bank-name
                </label>
                <input id="rad-bank" name="rad-bank" type="text"
                       placeholder="{{'views.dealer-registration.bank-name-placeholder' | translate}}"
                       class="form-control dl-input"
                       ng-model="bank_account.bank"
                       required
                />
            </div>
            <div class="dl-field no-icon-field form-group">
                <label for="rad-bank" translate>
                    views.dealer-registration.account-holder
                </label>
                <input id="rad-account-holder" name="rad-account-holder" type="text"
                       placeholder="{{'views.dealer-registration.account-holder-placeholder' | translate}}"
                       class="form-control dl-input"
                       ng-model="bank_account.account_holder"
                       required
                />
            </div>
        </div>
        <p class="dl-error dl-note text-center" ng-show="showError">{{errorMessage}}</p>
        <div>
            <md-button type="submit" class="btn btn-primary btn-single dl-submit md-primary md-raised" md-autofocus>
                {{'general.done' | translate}}
            </md-button>
        </div>
        <div class="text-center">
            <md-button class="dl-fade dl-note info-note md-btn-small" style="margin-top: -10px;" ng-click="skip($event)">
                {{'general.skip' | translate}}
            </md-button>
        </div>
    </form>
</div>
<footer-section></footer-section>