<dl-navbar></dl-navbar>

<div class="container nav-margin" ng-switch on="status">
	<div ng-switch-when="loading">
		<loading-spinner></loading-spinner>
	</div>
	<div ng-switch-when="failed">
		<h1 class="dl-download-error">{{errorMessage}} <br> {{errorPrompt}} </h1>
	</div>
	<div scroll-detector ng-switch-when="downloaded">
		<dl-deal ng-repeat="deal in deals" deal="deal"></dl-deal>
		<div ng-show="update.loadingMore" class="dl-loading-more">
			<loading-spinner size="small"></loading-spinner>
		</div>
	</div>
</div>

